<%= form_for(@user_lottery, :html => { :class => "form-horizontal" }) do |f| %>
<% if @user_lottery.errors.any? %>
<div id="error_explanation">
  <% if @user_lottery.errors.count == 1 %>
  <h5><%= t("activerecord.errors.template.header.one", model: t("activerecord.models.user_lottery")) %></h5>
  <% else %>
  <h5><%= t("activerecord.errors.template.header.other", model: t("activerecord.models.user_lottery"), :count => @user_lottery.errors.count) %></h5>
  <% end %>
  <ul>
    <% @user_lottery.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<!-- begin col-md-6 -->
<div class="col-md-6">
              <div class="form-group">
          <%= f.label :user_id, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.collection_select(:user_id, @users_select, :id, :select_display, { :include_blank => false, :prompt => true }, required: true, :class => "form-control") %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :lottery_id, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.collection_select(:lottery_id, @lotteries_select, :id, :select_display, { :include_blank => false, :prompt => true }, required: true, :class => "form-control") %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :status, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :status, :class => "form-control" %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :ticket_number, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :ticket_number, :class => "form-control" %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :purchase_date, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.datetime_select :purchase_date, :class => "form-control" %>
          </div>
        </div>
      </div>
<!-- end col-md-6 -->

<div class="col-md-12">
  <div class="form-group">
    <div class="col-md-12 text-center">
      <%= f.button :class => "submit btn btn-success", :data => { :disable_with => t("actions.saving") } do %>
      <i class='icon-ok'></i>
      <%= t("actions.save") %>
      <% end %>
    </div>
  </div>
</div>
<% end %>