<!-- begin row -->
<div class="row">
  <!-- begin col-md-12 -->
  <div class="col-md-12">
    <div class="invoice">
      <div class="invoice-content">
        <div class="table-responsive">
          <table class="table table-invoice">
            <thead>
              <tr>
                <td colspan="2">
                  <h4><%= t("details_of", model: t("activerecord.models.user_lottery").downcase) %></h4>
                </td>
              </tr>
            </thead>
            <tbody>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.user_lottery.user") %>: <br />
                    <small><%= @user_lottery.user %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.user_lottery.lottery") %>: <br />
                    <small><%= @user_lottery.lottery %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.user_lottery.status") %>: <br />
                    <small><%= @user_lottery.status %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.user_lottery.ticket_number") %>: <br />
                    <small><%= @user_lottery.ticket_number %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.user_lottery.purchase_date") %>: <br />
                    <small><%= @user_lottery.purchase_date %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.user_lottery.created_at") %>: <br />
                    <small><%= @user_lottery.created_at %></small>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="invoice-footer text-muted"></div>
    </div>
  </div>
  <!-- end col-md-12 -->
</div>
<!-- end row -->

<!-- begin row -->
<div class="row">
  <div class="col-md-12">
    <% if can? :edit, @user_lottery %>
      <%= link_to edit_user_lottery_path(@user_lottery), :class => "btn btn-default" do %>
        <i class="icon-pencil"></i>
        <%= t("actions.edit") %>
      <% end %>
    <% end %>
    <% if can? :delete, @user_lottery %>
      <%= link_to @user_lottery, method: :delete, data: { confirm: t("are_you_sure?", model: t("activerecord.models.user_lottery").downcase) }, :class => "btn btn-danger" do %>
        <i class="icon-trash"></i>
        <%= t("actions.delete") %>
      <% end %>
    <% end %>
    <% if can? :index, UserLottery  %>
      <%= link_to user_lotteries_path, :class => "btn btn-default" do %>
        <i class="icon-chevron-left"></i>
        <%= t("actions.back") %>
      <% end %>
    <% end %>
  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->