<div class="col-md-12 col-xs-12">
  <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <h3 style="margin-left:15px"><%= t('winners_history') %></h3>
        </div>
      </div>
      <div class="panel-body">
              <div class="table-responsive">
          <table id="winner-table"  class=" table table-bordered table-hover table-striped nowrap" width="100%">
            <thead>
              <tr>
                                  <th><%= t("user_id") %></th>    
                                  <th><%= t("activerecord.models.user") %></th>
                                  <th><%= t("activerecord.attributes.user.logo") %></th>
                                  <th><%= t("lottery_id") %></th>
                                  <th><%= t("activerecord.attributes.lottery.winner_number") %></th>
                                  <th><%= t("activerecord.attributes.lottery.price") %></th>
                                  <th><%= t("activerecord.attributes.user_lottery.purchase_date") %></th>
              </tr>
            </thead>

            <tbody>
                
            </tbody>
      </div>
      <!-- end panel-body -->
    </div>
</div>


<script>
      $('#winner-table').DataTable( {
    ajax: {
        url: '/user_lotteries/winners',
        dataSrc: 'user_lotteries'
    },
    columns: [
        { data: 'user_id' },
        { data: 'user.name' },
        { data: 'user.photo_file_name' },
        { data: 'lottery_id' },
        { data: 'lottery.winner_number' },
        { data: 'lottery.price' },
        { data: 'purchase_date' }
    ]
} );
      
      </script>