<div class="col-md-12 col-xs-12">
  <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <h3 style="margin-left:15px"><%= t('winners_history') %></h3>
        </div>
      </div>
      <div class="panel-body">
              <div class="table-responsive">
          <table id="winner-table"  class=" table table-bordered table-hover table-striped nowrap" width="100%">
            <thead style="background-color:#727272; color:white;">
              <tr>
                                  <th><%= t("user_id") %></th>    
                                  <th><%= t("activerecord.models.user") %></th>
                                  <th><%= t("activerecord.attributes.user.photo") %></th>
                                  <th><%= t("lottery_id") %></th>
                                  <th><%= t("activerecord.attributes.lottery.winner_number") %></th>
                                  <th><%= t("activerecord.attributes.lottery.price") %></th>
                                  <th><%= t("total_win") %></th>
                                  <th><%= t("activerecord.attributes.user_lottery.purchase_date") %></th>
              </tr>
            </thead>

            <tbody>
                
            </tbody>
      </div>
      <!-- end panel-body -->
    </div>
</div>


<script>
      $('#winner-table').DataTable( {
    ajax: {
        url: '/user_lotteries/winners',
        dataSrc: 'user_lotteries'
    },
    columns: [
        { data: 'user_id' },
        { data: 'user.username' },
        { data: function ( row, type, val, meta ) {
            if(row.user.id < 10){
                   return  "<img width='80px' src='/system/users/photos/000/000/00"+row.user.id+"/original/"+row.user.photo_file_name+"'>" }
            else{
                return  "<img width='80px' src='/system/users/photos/000/000/0"+row.user.id+"/original/"+row.user.photo_file_name+"'>"
            }
        }
        },
         
        { data: 'lottery_id' },
        { data: 'lottery.winner_number' },
        { data: 'lottery.price' },
        { data:  function ( row, type, val, meta ) {
            return  "$" + row.lottery.initial_balance + "USD"
        } },
        { data: 'purchase_date' }
    ],
} );
      
      </script>