<div class="row">
  <!-- begin col-12 -->
  <div class="col-md-12">
    <!-- begin panel -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <h3 style="margin-left:15px"><%= t("activerecord.models.teams") %></h3>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table id="data-table" class="table table-bordered responsive table-hover table-striped nowrap" width="100%">
            <thead>
              <tr>
                                  <th><%= t("activerecord.attributes.team.name") %></th>
                                  <th><%= t("activerecord.attributes.team.description") %></th>
                                  <th><%= t("activerecord.attributes.team.sport_category") %></th>
                                <th style="width: 155px"></th>
              </tr>
            </thead>

            <tbody>
              <% @teams.each do |team| %>
              <tr>
                                  <td><%= team.name %></td>
                                  <td><%= team.description %></td>
                  <td><%= team.sport_category.sport.name + ' - ' +team.sport_category.category.name %></td>
                                <td class="action-link">
                  <% if can? :show,team %>
                    <%= link_to team, :class => "btn btn-default", :title => t("actions.show") do %>
                      <i class="fa fa-eye"></i>
                    <% end %>
                  <% end %>
                  <% if can? :edit, team %>
                    <%= link_to edit_team_path(team), :class => "btn btn-info", :title => t("actions.edit") do %>
                      <i class="fa fa-pencil"></i>
                    <% end %>
                  <% end %>
                  <% if can? :delete, team %>
                    <%= link_to team, :method => :delete, :data => { :confirm => t("are_you_sure?", model: t("activerecord.models.team").downcase) }, :class => "btn btn-danger", :title => t("actions.delete") do %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="text-center">
        
        </div>
      </div>
      <!-- end panel-body -->
    </div>
    <!-- end panel -->
  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->

<!-- begin row -->
<div class="row">
  <div class="col-md-12">
    <% if can? :new, Team  %>
      <%= link_to new_team_path, :class => "btn btn-default" do %>
        <i class="icon-plus-sign-alt"></i>
        <%= t("actions.new") %>
      <% end %>
    <% end %>
  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->


<script>
       var current_language = $("#current_language").val();
       var languaje;
    
    if(current_language == "en"){
    languaje= "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
}else{
    languaje = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
}
    
$('#data-table').DataTable({
    responsive: true,
     "language": {
            "url": languaje
        }
});
</script>