<!-- begin row -->
<div class="row">
  <!-- begin col-md-12 -->
  <div class="col-md-12">
    <div class="invoice">
      <div class="invoice-content">
        <div class="table-responsive">
               <h3 class="header-show"><%= t("details_of", model: t("activerecord.models.team").downcase) %></h3> <br>
            <div class="row">
            <div class="col-md-4">
               <h4 class="property-show">  <%= t("activerecord.attributes.team.name") %>: </h4> <br />
                    <h5 class="property-text"><%= @team.name %></h5> <hr>
                  </td>
                </div>
                <div class="col-md-4">
            <h4 class="property-show"> <%= t("activerecord.attributes.team.description") %>: </h4> <br />
                    <h5 class="porperty-text"><%= @team.description %></h5> <hr>
            </div>
                <div class="col-md-4">
            <h4 class="property-show">  <%= t("activerecord.attributes.team.logo") %>: </h4> <br />
                    <h5 style="text-align:center" class="property-text"><img src="<%= @team.logo %>"></h5> <hr>
            </div>
            
            </div>
            
            <div class="row">
            <div class="col-md-4">
                <h4 class="property-show"> <%= t("activerecord.attributes.team.sport_category") %>: </h4> <br />
                      <h5 class="property-text"><%= @team.sport_category.sport.name + " - " + @team.sport_category.category.name  %></h5> <hr>
                </div>
            <div class="col-md-4">
                <h4 class="property-show">  <%= t("activerecord.attributes.team.created_at") %>: </h4><br />
                    <h5 class="property-text"><%= @team.created_at %></h5> <hr>
                </div>
            
            </div>
          
        </div>
      </div>
      <div class="invoice-footer text-muted"></div>
    </div>
  </div>
  <!-- end col-md-12 -->
</div>
<!-- end row -->

<!-- begin row -->
<div class="row">
  <div class="col-md-12">
    <% if can? :edit, @team %>
      <%= link_to edit_team_path(@team), :class => "btn btn-default" do %>
        <i class="icon-pencil"></i>
        <%= t("actions.edit") %>
      <% end %>
    <% end %>
    <% if can? :delete, @team %>
      <%= link_to @team, method: :delete, data: { confirm: t("are_you_sure?", model: t("activerecord.models.team").downcase) }, :class => "btn btn-danger" do %>
        <i class="icon-trash"></i>
        <%= t("actions.delete") %>
      <% end %>
    <% end %>
    <% if can? :index, Team  %>
      <%= link_to teams_path, :class => "btn btn-default" do %>
        <i class="icon-chevron-left"></i>
        <%= t("actions.back") %>
      <% end %>
    <% end %>
  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->