<%= form_for(@survivor_week_game, :html => { :class => "form-horizontal" }) do |f| %>
<% if @survivor_week_game.errors.any? %>
<div id="error_explanation">
  <% if @survivor_week_game.errors.count == 1 %>
  <h5><%= t("activerecord.errors.template.header.one", model: t("activerecord.models.survivor_week_game")) %></h5>
  <% else %>
  <h5><%= t("activerecord.errors.template.header.other", model: t("activerecord.models.survivor_week_game"), :count => @survivor_week_game.errors.count) %></h5>
  <% end %>
  <ul>
    <% @survivor_week_game.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<!-- begin col-md-6 -->
<div class="col-md-12">
             
                  <div class="form-group">
          <%= f.label :initial_date, :class => "col-md-2" %>
          <div class="col-md-9">
            <%= f.date_select :initial_date, :class => "form-control" %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :final_date, :class => "col-md-2" %>
          <div class="col-md-9">
            <%= f.date_select :final_date, :class => "form-control" %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :week, :class => "col-md-2" %>
          <div class="col-md-9">
            <%= f.text_field :week, :class => "form-control" %>
          </div>
        </div>
      </div>
<!-- end col-md-6 -->

<div class="col-md-12">
  <div class="form-group">
    <div class="col-md-12 text-center">
      <%= f.button :class => "submit btn btn-success", :data => { :disable_with => t("actions.saving") } do %>
      <i class='icon-ok'></i>
      <%= t("actions.save") %>
      <% end %>
    </div>
  </div>
</div>
<% end %>