	<div class="row">
		<div class="col-md-8">
			 <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Tiras</h5>
                            <span class="label label-primary">Nuevo juego</span>
                        </div>

                        <div class="ibox-content" id="quinielas">
							 <div class="cycle-slideshow2" data-cycle-fx="tileBlind" data-cycle-pause-on-hover="true" data-cycle-speed="200">
          
            </div>
				 </div>
			</div>
			</div>
		</div> 
		
		<script>
			var current_view;
			var result;		
			function generate_ticket(){
				    result = '';	
				   for (var i=0; i < 15; i++){
					  if($('.value_result').hasClass(''+current_view+''+i+'')){
						  if($('.'+current_view+''+i+'').val()){
							 result = result + '' + $('.'+current_view+''+i+'').val();
						  }else{
							 alert('Debes de seleccionar todas las opciones');
							return  false; 
						  }
					  }
				   }
				$('.ticket_value_'+current_view+'').val(result);
				$('.buy_quiniela_btn'+current_view+'').prop( "disabled", false );
				}	
			
			
			
			$.ajax({
          method: "GET",
          url: "/quinielas/get_quinielas_no_winner",
          format: "json"
        })
          .done(function(data) {
				for(var i in data.quinielas){
					
					 if (data.quinielas[i].game.team.id < 10){
         var image_url = '/system/teams/logos/000/000/00'+data.quinielas[i].game.team.id+'/original/'+data.quinielas[i].game.team.logo_file_name;
    }   else{
    var image_url = '/system/teams/logos/000/000/0'+data.quinielas[i].game.team.id+'/original/'+data.quinielas[i].game.team.logo_file_name;
    }  
                           if (data.quinielas[i].game.team2.id < 10){
         var image_url2 = '/system/teams/logos/000/000/00'+data.quinielas[i].game.team2.id+'/original/'+data.quinielas[i].game.team2.logo_file_name;
    }   else{
    var image_url2 = '/system/teams/logos/000/000/0'+data.quinielas[i].game.team2.id+'/original/'+data.quinielas[i].game.team2.logo_file_name;
    }  
				
					
					$('.cycle-slideshow2').append('<div class="slide'+i+'"><h2 style="text-align:center; font-weight:800">Participa en la Tira Deportiva</h2><hr> <h3 style="text-align:center; color:#e4007d"> Que tanto conoces a tus equipos favoritos, demuestralo en esta tira y recibe increibles premios. </h3> <h4 style="text-align:center">Es sencillo participar solo contesta estas sencillas preguntas con un si y un no, despues genera tu codigo en base a tus respuestas, si acertaste en todas las preguntas recibes el premio indicado. Recuerda contestar todas las preguntas.</h4><hr> <h3 style="text-align:center; color:#E4007D; font-weight:800;">'+data.quinielas[i].description+'</h3> <div class="row"> <div class="col-md-4"> <div class="row"> <div class="col-md-5 col-xs-5"> <img src="'+image_url+'"> </div> <div class="col-md-2 col-xs-2"> <h1 style="text-align:center; margin-top:120%; font-weight: 900;color: #E4007D;"> VS </h1> </div> <div class="col-md-5 col-xs-5"> <img src="'+image_url2+'"> </div> </div> <hr>  <h3 style="text-align:center; font-weight:700">Bolsa acumulada</h3> <h2 id="initial_balance'+i+'" style="text-align:center; color:#E4007D; font-weight:900"> '+ data.quinielas[i].initial_balance +' <span>DB</span> </h2> <hr> <h3 style="text-align:center; font-weight:700"> Precio de la Tira </h3> <h2 id="price'+i+'" style="text-align:center; color:#E4007D; font-weight:900"> '+ data.quinielas[i].price +' <span>DB</span> </h2>  </div> <div class="col-md-8 slide2'+i+'"> </div> </div> </div>');	
					
					for(var e in data.quinielas[i].quiniela_questions){
					$('.slide2'+i+'').append(' <div class="col-md-7 col-xs-12"><h4 style="text-align:left">'+ data.quinielas[i].quiniela_questions[e].question.title +'</h4></div> <div class="col-md-4 col-xs-6"> <div class="radio radio-inline radio-danger"><input class="answers_select" data-id="'+i+'" type="radio" name="answer'+i+e+'" value="1"><label style="text-align: left !important;" for="answer'+i+e+'" class="">Si</label></div><div class="radio radio-inline radio-danger"><input data-id="'+i+'" type="radio" class="answers_select" name="answer'+i+e+'" value="0"> <label for="answer'+i+e+'" style="text-align: left !important;" class="">No</label></div> </div> <div class="col-md-1 col-xs-6"> <input style="text-align:left; width:35px;"  type="text" disabled class="form-control value_result '+i+e+'"> </div>');
						}
					
					$('.slide'+i+'').append('<hr><div class="row"><div class="col-md-3 col-xs-6"> <h4 style="text-align:center"> <button class="btn btn-primary generate_ticket" onclick="generate_ticket()">Generar Numero </button> </h4> </div><div class="col-md-6 col-xs-6"> <input type="text" style="margin-top:6px;" class="form-control ticket_value_'+i+'"> </div> <div class="col-md-3 col-xs-12"><h4 style="text-align:center"><button disabled class="btn buy_quiniela buy_quiniela_btn'+i+' btn-primary" data-quinielaid="'+data.quinielas[i].id+'" > Comprar billete </button> </h4 </div></div>');
					
				}
				$('input[type=radio][class=answers_select]').change(function(){
					var xz = $(this).val();
					current_view = $(this).data('id');
					var change = $(this).parents().next().find('.value_result').first();
					$(change).val(xz);
				})
				
				$('.buy_quiniela').click(function(){
					var user_id = <%= current_user.id %>;
					var quiniela_id = $(this).data('quinielaid');
					var ticket_number = $('.ticket_value_'+current_view+'').val();
					var date = new Date();
					var quiniela_price = parseInt($('#price'+current_view+'').text());
					var balance;
					var flag_balance;
					
					if(<%= current_user.gift_credit %> != 0 && <%= current_user.gift_credit %> >= quiniela_price){
						balance = <%= current_user.gift_credit %>;
						flag_balance = false;
					}else{
						balance = <%= current_user.balance %>;
						flag_balance = true;
					}
					
					if (balance >= quiniela_price){
						 $.ajax({
                      method: "POST",
                      url: "/quiniela_users",
                      dataType: "json",     
                      data: { quiniela_user: {user_id: user_id, quiniela_id: quiniela_id, ticket_number: ticket_number ,purchase_date: date, status: "Comprado"}  }
                    }).done(function( data) {
       				
                     }); 
						
						if(flag_balance){
							var total_balance_update = balance - quiniela_price;
							  $.ajax({
                      method: "PUT",
                      url: "/users/"+user_id+"",
                      dataType: "json",     
                      data: { user: {balance: total_balance_update} }
                    }).done(function( data) {
								  $('#success-content').empty();
                     $('#success-content').append('<h2 style="text-align:center; color:#E81F7F; font-weight:900;">DON<span style="color:black; font-weight:900;">BILLETE</span></h2><h2 style="text-align:center; font-weight:800;"><%=t('success_bag')%></h2>');
                       $("#success-modal").modal('show');
								    setTimeout(function(){ location.reload(); }, 2000);     
							  })
						}else{
							var total_balance_update = balance - quiniela_price;
							  $.ajax({
                      method: "PUT",
                      url: "/users/"+user_id+"",
                      dataType: "json",     
                      data: { user: {gift_credit: total_balance_update} }
                    }).done(function( data) {
								 $('#success-content').empty();
                     $('#success-content').append('<h2 style="text-align:center; color:#E81F7F; font-weight:900;">DON<span style="color:black; font-weight:900;">BILLETE</span></h2><h2 style="text-align:center; font-weight:800;"><%=t('success_bag')%></h2>');
                       $("#success-modal").modal('show');
								    setTimeout(function(){ location.reload(); }, 2000);     
							  })
						}
					
					}else{
						alert('No tienes saldo suficiente para realizar la compra');
					}
					

				})
				
				
		  $('.cycle-slideshow2').bxSlider({
			infiniteLoop: false,
            minSlides: 1,
			maxSlides:1, 
            slideMargin: 13
          });
				
			
		</script>
		
		
		
		 <!--
<script>      $.ajax({
          method: "GET",
          url: "/user_lotteries/winners",
          format: "json"
        })
          .done(function(data) {
                
           for(var i in data.user_lotteries){
               
             if( data.user_lotteries[i].user.id < 10){
                   var src = '/system/users/photos/000/000/00'+data.user_lotteries[i].user.id+'/original/'+data.user_lotteries[i].user.photo_file_name } 
           else{
               var src = '/system/users/photos/000/000/0'+data.user_lotteries[i].user.id+'/original/'+data.user_lotteries[i].user.photo_file_name
            }
      
              $('.cycle-slideshow1').append('<img width="100%" height="400px" src='+src+' data-cycle-title="'+data.user_lotteries[i].user.username +'\n <br> <%= t('lottery_win') %>: #' +data.user_lotteries[i].lottery.id+ " " +data.user_lotteries[i].lottery.team.name + " vs " + data.user_lotteries[i].lottery.team2.name + ' ">');
           
          
           }
           
           $( '.cycle-slideshow1' ).cycle();
           
       }); </script>
   <div class="col-md-4 col-xs-12">
              <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><%= t('our_winners') %></h5>
                            <span class="label label-primary"><%= t('last_winners') %></span>
                        </div>

                        <div class="ibox-content" id="finish_lotteries">
        <div class="cycle-slideshow1" data-cycle-fx="tileBlind" data-cycle-pause-on-hover="true" data-cycle-speed="200" data-cycle-caption="#adv-custom-caption" data-cycle-caption-template="<%= t('winner') %> {{slideNum}}: {{cycleTitle}}">
          
            </div>
           <div id="adv-custom-caption" class="center"></div>
        </div>
            </div>
        </div>


<div class="col-md-6 col-xs-12" style="padding-left:7px; padding-right:0px;">
         <script>
          var table = $('#close_games_table').DataTable( {
       responsive: true,
    ajax: {
        url: "/games/finish_games",
        dataSrc: 'games'
    },
            "language": {
            "url": languaje
        },
    columns: [
        { data: 'lotteries[0].id'},
        { data: 'team.name'},
        { data: 'team2.name'},
        { data: function(row, type, val, meta){
            return row.local_score +" - "+ row.visit_score
        }},
           { data: 'lotteries[0].winner_number'}
    ],
       columnDefs: [
        { responsivePriority: 1, targets: [0,4] }
    ]
} );
        </script>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><%= t('result_lotteries') %></h5>
                            <span class="label label-primary"><%= t('last_results') %></span>
                        </div>

                        <div class="ibox-content" id="finish_lotteries">
                            <div class="table-responsive">
          <table id="close_games_table"  class=" table responsive table-bordered table-hover table-striped nowrap" width="100%">
            <thead style="background-color:#171616; color:white;">
              <tr>
                      <th>#</th>
                      <th><%= t('local') %> </th>
                      <th><%= t("visit") %></th>
                      <th><%= t("score") %></th>
                      <th><%= t("winner_number") %></th>
              </tr>
            </thead>

            <tbody>
                
            </tbody>
                                </table>
      </div>
                        </div>
                    </div>
                </div> -->
   