<div class="row">
    <br>
    <div class="col-md-3"></div>
    <div class="col-md-6" style="border:1px solid black; background-color:white; color:white; text-align:center">
         <h2 style="color:black; font-weight:900;"><%= t('make_account') %></h2> <br>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
        <div class="col-md-6">
               
  <div class="field">
      <%= f.label :username, :style => 'color:#E4007D' %><br />
      <%= f.text_field :username, class: "form-control", style: "color:black", autofocus: true, required: true %>
  </div> <br>

 <div class="field">
     <%= f.label :birthday, :style => 'color:#E4007D' %><br />
     <%= f.date_field :birthday, class: "form-control", style: "color:black", autofocus: true, required: true %>
  </div> <br>            
            
<div class="field">
    <%= f.label :email, :style => 'color:#E4007D' %><br />
    <%= f.email_field :email, class: "form-control", style: "color:black", autofocus: false, required: true %>
  </div> <br>
  <div class="field">
    <%= f.label :password, :style => 'color:#E4007D' %><br />
    <%= f.password_field :password, class: "form-control",style: "color:black", autocomplete: "off", required: true %>
  </div>

        </div>
        <div class="col-md-6">
            <div class="field">
    <%= f.label :name, :style => 'color:#E4007D' %><br />
    <%= f.text_field :name, class: "form-control", style: "color:black", autofocus: false, required: true %>
  </div> <br>

<div class="field">
    <%= f.label :gender, :style => 'color:#E4007D' %><br />
    <%= f.text_field :gender, class: "form-control", style: "color:black", autofocus: false, required: true %>
  </div>     <br>       
            
<div class="field">
    <%= f.label :last_name, :style => 'color:#E4007D' %><br />
    <%= f.text_field :last_name, class: "form-control", style: "color:black", autofocus: false %>
    <%= f.hidden_field :balance, class: "form-control", style: "color:black", value: 0 , autofocus: false, required: true %>
  </div> <br>
            
       <div class="field">
    <%= f.label :password_confirmation, :style => 'color:#E4007D' %><br />
    <%= f.password_field :password_confirmation, class: "form-control", style: "color:black", autocomplete: "off", required: true %>
  </div>


<div class="field" style="display:none">
    <%= f.label :role_id %><br />
    <%= f.hidden_field :role_id, value:2, class: "form-group",style: "color:black",autofocus: false %>
  </div> 
     
        </div>
        <br><br>
         <div class="actions">
             <br>
             <button id="validate" onclick="validate_date(event)" style="width:100%;" class="btn btn-primary"> <%= t('sign_up_now') %> </button>
            
        </div>
        <% end %>
        <br> <br>
        
    
    </div>
    <div class="col-md-3"></div>
</div>


<script>
    function validate_date(event){
        var my_date = new Date($('#user_birthday').val());
        var day = my_date.getDate();
        var month = my_date.getMonth();
        var year = my_date.getFullYear();
        var age = 18;
        var mydate = new Date();
        mydate.setFullYear(year, month-1, day);

        var currdate = new Date();
        var setDate = new Date();        
        setDate.setFullYear(mydate.getFullYear() + age,month, day);

        if ((currdate - setDate) > 0){ 
        
        }else{
            alert("Debes ser mayor de 18 años para registrate en la pagina");
            event.preventDefault();
        }
    }
</script>
