<%= form_for(@survivor, :html => { :class => "form-horizontal" }) do |f| %>
<% if @survivor.errors.any? %>
<div id="error_explanation">
  <% if @survivor.errors.count == 1 %>
  <h5><%= t("activerecord.errors.template.header.one", model: t("activerecord.models.survivor")) %></h5>
  <% else %>
  <h5><%= t("activerecord.errors.template.header.other", model: t("activerecord.models.survivor"), :count => @survivor.errors.count) %></h5>
  <% end %>
  <ul>
    <% @survivor.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<!-- begin col-md-6 -->
<div class="col-md-6">
              <div class="form-group">
          <%= f.label :name, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :name, :class => "form-control" %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :description, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_area :description, :class => "form-control" %>
          </div>
        </div>
                 <div class="form-group">

          <div class="col-md-9">
            <%= f.hidden_field :user_id, :value => current_user.id, :class => "form-control" %>
          </div>
        </div>

                  <div class="form-group">
          <%= f.label :price, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :price, :class => "form-control" %>
          </div>
        </div>
                 <% if signed_in? %>
                  <% if current_user.role.is_admin? %>
                  <div class="form-group">
          <%= f.label :initial_balance, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :initial_balance, :class => "form-control" %>
          </div>
        </div>
                <% else %>
                 <%= f.hidden_field :initial_balance, :value => 1, :class => "form-control" %>
                 <% end %>
                 <% end %>


         <div class="form-group">
          <%= f.label :percentage, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :percentage, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :access_key, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :access_key, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :rebuy_quantity, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :rebuy_quantity, :class => "form-control" %>
          </div>
        </div>
        
        
        <div class="form-group">
          <%= f.label :background, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.file_field :background %>
          </div>
        </div>
         
      </div>
<!-- end col-md-6 -->

<div class="col-md-12">
  <div class="form-group">
    <div class="col-md-12 text-center">
      <%= f.button :class => "submit btn btn-success", :data => { :disable_with => t("actions.saving") } do %>
      <i class='icon-ok'></i>
      <%= t("actions.save") %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
