<%= form_for(@pick_user_game, :html => { :class => "form-horizontal" }) do |f| %>
<% if @pick_user_game.errors.any? %>
<div id="error_explanation">
  <% if @pick_user_game.errors.count == 1 %>
  <h5><%= t("activerecord.errors.template.header.one", model: t("activerecord.models.pick_user_game")) %></h5>
  <% else %>
  <h5><%= t("activerecord.errors.template.header.other", model: t("activerecord.models.pick_user_game"), :count => @pick_user_game.errors.count) %></h5>
  <% end %>
  <ul>
    <% @pick_user_game.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<!-- begin col-md-6 -->
<div class="col-md-6">
              <div class="form-group">
          <%= f.label :pick_user_id, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.collection_select(:pick_user_id, PickUser.all, :id, :select_display, { :include_blank => false, :prompt => true }, required: true, :class => "form-control") %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :team_id, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.collection_select(:team_id, Team.all, :id, :select_display, { :include_blank => false, :prompt => true }, required: true, :class => "form-control") %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :survivor_game_id, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.collection_select(:survivor_game_id, SurvivorGame.all, :id, :name, { :include_blank => false, :prompt => true }, required: true, :class => "form-control") %>
          </div>
        </div>
      </div>
<!-- end col-md-6 -->

<div class="col-md-12">
  <div class="form-group">
    <div class="col-md-12 text-center">
      <%= f.button :class => "submit btn btn-success", :data => { :disable_with => t("actions.saving") } do %>
      <i class='icon-ok'></i>
      <%= t("actions.save") %>
      <% end %>
    </div>
  </div>
</div>
<% end %>