<style>
	.footer {
  position: fixed
}
</style>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
     <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="row" style="margin:0px; padding:0px;">
                           <h4 id="header-loterry" style="text-align:left; color:white;"><%= t('checkout_text') %></h4>
                       </div>
                    </div>
                    <div class="ibox-content" style="display: block; padding:30px;">
                        <div class="row">
                       <form role="form" method="post">
                           <input type="hidden" name="conversion" id="conversion">
                           <div class="col-md-6">
                            <div class="form-group"><label><%= t('owner_name') %></label> <input id="owner_name" name="owner_name" type="text"  class="form-control"></div>
                           </div>
                           <div class="col-md-6">
                           <div class="form-group"><label><%= t('total_quantity') %></label> <input id="quantity" name="quantity" type="number" value=""<%= current_user.balance %>"" max="<%= current_user.balance %>"  class="form-control"></div>
                           </div>
                            <div class="col-md-12">
                            <div class="form-group"><label><%= t('clabe') %></label> <input type="text" id="clabe" name="clabe"  class="form-control"></div>
                           </div>
                          
                            <div>
                            <button class="btn  btn-block  btn-md btn-primary " type="submit"><strong><%= t('transfer_amount') %></strong></button>
                            </div>
                        </form>
                            </div>
         </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

