<% if current_user.address_1 == nil || current_user.address_2 == nil || current_user.ext_number == nil || current_user.int_number ==nil || current_user.state == nil || current_user.city == nil || current_user.zip_code == nil %>
<script>
    alert('Para poder realizar la compra debes de completar todos tus datos del registro.');
    location.replace("/users/"+ <%= current_user.id %> +"/edit");
</script>
    
<% end %>

       

<script type="text/javascript" 
        src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
<script type='text/javascript' 
  src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>

<script type="text/javascript">
 $(document).ready(function() {
     var flag_card = false;
     $("input[name='optradio']").change(function(){
         flag_card = true;
     })
     
     $("input[name='amountradio']").change(function(){
         var amount_select = $("input[name='amountradio']:checked").val();
         $('#amount').val(amount_select);
     })
 
     
  
     
  var deviceSessionId = OpenPay.deviceData.setup("payment-form", "deviceIdHiddenFieldName");
       OpenPay.setId('m8dvprmyk9adbcmhonod');
       OpenPay.setApiKey('pk_2f0633a2ccd249fcb244685a7ef0ef4c');
       OpenPay.setSandboxMode(true);
     
     $('#pay-button').on('click', function(event) {
       event.preventDefault();
       $("#pay-button").prop( "disabled", true);
       OpenPay.token.extractFormAndCreate('payment-form', success_callbak, error_callbak);                
});
     
      $('#register-button').on('click', function(event) {
       event.preventDefault();
       $("#register-button").prop( "disabled", true);
         $('#payment-form').append('<input type="disabled" name="only_register" id="only_register" value="true" >');         
       OpenPay.token.extractFormAndCreate('payment-form', success_callbak, error_callbak);                
});
     
     $('#pay-button-used').on('click',function(event){
         event.preventDefault();
         $('#pay-button-used').prop('disabled', true);
         var current_id = $("input[name='optradio']:checked").val();
         $('#token_id').val(current_id);
          $('#payment-form').submit();
     })
     
     var success_callbak = function(response) {
              var token_id = response.data.id;
              $('#token_id').val(token_id);
              $('#payment-form').submit();
};
     
     var error_callbak = function(response) {
     var desc = response.data.description != undefined ? 
        response.data.description : response.message;
     alert("ERROR [" + response.status + "] " + desc);
     $("#pay-button").prop("disabled", false);
};
  });

</script>

<style>
@charset "US-ASCII";
@import "http://fonts.googleapis.com/css?family=Lato:300,400,700";

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {  
   font-style: italic;
}

body {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
strong {
	font-weight: 700;
}
a {
    cursor: pointer;
    display: block;
    text-decoration: none;
}
a.button {
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    padding: 12px 0;
    width: 100%;
    display: table;
    background: #E51F04;
    background: -moz-linear-gradient(top,  #E51F04 0%, #A60000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E51F04), color-stop(100%,#A60000));
    background: -webkit-linear-gradient(top,  #E51F04 0%,#A60000 100%);
    background: -o-linear-gradient(top,  #E51F04 0%,#A60000 100%);
    background: -ms-linear-gradient(top,  #E51F04 0%,#A60000 100%);
    background: linear-gradient(top,  #E51F04 0%,#A60000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E51F04', endColorstr='#A60000',GradientType=0 );
}
a.button i {
    margin-right: 10px;
}
a.button.disabled {
    background: none repeat scroll 0 0 #ccc;
    cursor: default;
}
.bkng-tb-cntnt {
    float: left;
    width: 100%;
}
.bkng-tb-cntnt a.button {
    color: #fff;
    float: right;
    font-size: 18px;
    padding: 5px 20px;
    width: auto;
}
.bkng-tb-cntnt a.button.o {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #e51f04;
    border: 1px solid #e51f04;
}
.bkng-tb-cntnt a.button i {
    color: #fff;
}
.bkng-tb-cntnt a.button.o i {
    color: #e51f04;
}
.bkng-tb-cntnt a.button.right i {
    float: right;
    margin: 2px 0 0 10px;
}
.bkng-tb-cntnt a.button.left {
    float: left;
}
.bkng-tb-cntnt a.button.disabled.o {
    border-color: #ccc;
    color: #ccc;
}
.bkng-tb-cntnt a.button.disabled.o i {
    color: #ccc;
}
.pymnts {
    float: left;
    width: 100%;
}
.pymnts * {
    float: left;
}

.sctn-row {
    margin-bottom: 35px;
    width: 50%;
}
.sctn-col {
    width: 375px;
}
.sctn-col.l {
    width: 425px;
}
.sctn-col input {
    border: 1px solid #ccc;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 12px;
    width: 333px;
}
.sctn-col label {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    width: 100%;
}
.sctn-col.x3 {
    width: 300px;
}
.sctn-col.x3.last {
    width: 200px;
}
.sctn-col.x3 input {
    width: 210px;
}
.sctn-col.x3 a {
    float: right;
}
.pymnts-sctn {
    width: 100%;
}
.pymnt-itm {
    margin: 0 0 3px;
}
.pymnt-itm h2 {
    background-color: #e9e9e9;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 28px 0 28px 20px;
    width: 100%;
}
.pymnt-itm.active h2 {
    background-color: #E4007D;
    color: #fff;
    cursor: default;
}
.pymnt-itm div.pymnt-cntnt {
    display: none;
}
.pymnt-itm.active div.pymnt-cntnt {
    background-color: #f7f7f7;
    display: block;
    padding: 0 0 30px;
    width: 100%;
}

.pymnt-cntnt div.sctn-row {
    margin: 20px ;
    width: 100%;
}

.pymnt-cntnt div.sctn-row1{
    margin: 20px 30px 0;
    width: 33%;        
} 
    
.pymnt-cntnt div.sctn-row2{
    margin: 20px;
    width: 75%;        
}       
    
.pymnt-cntnt div.sctn-row div.sctn-col {
    width: 40%;
}
.pymnt-cntnt div.sctn-row2 div.sctn-col {
    width: 40%;
}
    
.pymnt-cntnt div.sctn-row div.sctn-col.l {
    width: 395px;
}

.pymnt-cntnt div.sctn-row2 div.sctn-col.l {
    width: 395px;
}    
    
.pymnt-cntnt div.sctn-row div.sctn-col input {
    width: 303px;
}

    
.pymnt-cntnt div.sctn-row2 div.sctn-col input {
    width: 303px;
}    
    
.pymnt-cntnt div.sctn-row div.sctn-col.half {
    width: 155px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half.l {
    float: left;
    width: 190px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half input {
    width: 113px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.cvv {
    background-image: url("/assets/cvv.png");
    background-position: 156px center;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.cvv div.sctn-col.half input {
    width: 110px;
}
.openpay {
    height: 60px;
    width: 50%;
}
.openpay div.logo {
    background-image: url("/assets/openpay.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    border-right: 1px solid #ccc;
    font-size: 12px;
    font-weight: 400;
    height: 45px;
    padding: 0px 20px 0 0;
}
.openpay div.shield {
    background-image: url("/assets/security.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    font-size: 12px;
    font-weight: 400;
    margin-left: 20px;
    padding: 0px 0 0 40px;
    width: 200px;
}
.card-expl {
    float: left;
    height: 80px;
    margin: 20px 0;
    width: 100%;
}
.card-expl div {
    background-position: left 45px;
    background-repeat: no-repeat;
    height: 70px;
    padding-top: 10px;
}
.card-expl div.debit {
    background-image: url("/assets/cards2.png");
  
}
.card-expl div.credit {
    background-image: url("/assets/cards1.png");
    border-right: 1px solid #ccc;
  
}
.card-expl h4 {
    font-weight: 400;
    margin: 0;
}
</style>
<div class="row">

<div class="col-md-2">
     <h2 style="background-color:#E4007D; color:white; font-size: 24px; line-height: 24px; margin: 0; padding: 28px 0 28px 20px; width: 100%;"><%= t('amount') %></h2>
    <div class="row" style="background-color:white;">
         <div class="radio">
            <label style="margin-left:30px; margin-top:30px; font-weight:900; font-size:18px" ><input checked style="" type="radio" value="1" name="amountradio"><span style="color:#E4007D; padding-left:10px;"><i class="fa fa-ticket fa-2x"></i> $1 USD </span> </label>
              <label style="margin-left:30px; margin-top:30px; font-weight:900; font-size:18px" ><input style="" type="radio" value="2" name="amountradio"><span style="color:#E4007D; padding-left:10px;"><i class="fa fa-ticket fa-2x"></i> $2 USD </span> </label>
              <label style="margin-left:30px; margin-top:30px; font-weight:900; font-size:18px" ><input style="" type="radio" value="5" name="amountradio"><span style="color:#E4007D; padding-left:10px;"><i class="fa fa-ticket fa-2x"></i> $5 USD </span> </label>
               <label style="margin-left:30px; margin-top:30px; font-weight:900; font-size:18px" ><input style="" type="radio" value="10" name="amountradio"><span style="color:#E4007D; padding-left:10px;"><i class="fa fa-ticket fa-2x"></i> $10 USD </span> </label>
               <label style="margin-left:30px; margin-top:30px; font-weight:900; font-size:18px" ><input style="" type="radio" value="50" name="amountradio"><span style="color:#E4007D; padding-left:10px;"><i class="fa fa-ticket fa-2x"></i> $50 USD </span> </label>
               <label style="margin-left:30px; margin-top:30px; font-weight:900; font-size:18px" ><input style="" type="radio" value="100" name="amountradio"><span style="color:#E4007D; padding-left:10px;"><i class="fa fa-ticket fa-2x"></i> $100 USD </span> </label>
        </div>
    </div>
    </div>
<div class="col-md-3">
    <h2 style="background-color:#E4007D; color:white; font-size: 24px; line-height: 24px; margin: 0; padding: 28px 0 28px 20px; width: 100%;"><%= t('register_cards') %></h2>
            <div class="row" style="background-color:white;">
            <% if @get_cards != [] %>
             <% @get_cards.each do |card| %>
                <div class="radio">
                    <label style="margin-left:30px; font-weight:900;" ><img width="50px"src="/assets/<%= card['brand'] %>.ico"><input style="margin-top:18px; margin-left:-70px;" type="radio" value="<%= card['id'] %>" name="optradio"><span style="color:#E4007D; padding-left:10px;"><%= t('card') %>: </span> <%= card['card_number'] %><i data-card="<%= card['id'] %>" style="color:red; margin-left: 10px; font-size: 22px;" class="fa fa-times-circle delete_card"></i></label>
                </div>
              <% end %>
    <a style="color:white;" class="button rght" id="pay-button-used"><%= t('buy') %></a>
        <% else %>
            <br>
    <h3 style="text-align:center"><%= t('noregistercards') %></h3>
        <% end %>
    </div>
       
     
    </div>
<div class="col-md-7">
    <div class="bkng-tb-cntnt">
        <div class="pymnts">
            <form style="width:100%" action="#" method="POST" id="payment-form">
                <input type="hidden" name="token_id" id="token_id">
                <input type="hidden" name="amount" id="amount" value="1">
                <div style="width:100%" class="pymnt-itm card active row">
                    <h2><%= t('registeredmon') %></h2>
                    <div class="pymnt-cntnt">
                        <div class="card-expl row">
                            <div class="credit col-md-4 col-xs-12"><h4><%= t('creditcard') %></h4></div>
                            <div class="debit col-md-8 col-xs-12"><h4><%= t('debitcard') %></h4></div>
                        </div>
                        <div class="sctn-row2">
                            <div class="sctn-col l">
                                <label><%= t('owner_name') %></label><input type="text" placeholder="Como aparece en la tarjeta" autocomplete="off" data-openpay-card="holder_name">
                            </div>
                            <div class="sctn-col">
                                <label><%= t('card_number') %></label><input type="text" autocomplete="off" data-openpay-card="card_number"></div>
                            </div>
                            <div class="sctn-row">
                                <div class="sctn-col l">
                                    <label><%= t('expiration_date') %></label>
                                    <div class="sctn-col half l"><input type="text" placeholder="Mes" data-openpay-card="expiration_month"></div>
                                    <div class="sctn-col half l"><input type="text" placeholder="Año" data-openpay-card="expiration_year"></div>
                                </div>
                                <div class="sctn-col cvv"><label><%= t('security_code') %></label>
                                    <div class="sctn-col half l"><input type="text" placeholder="3 dígitos" autocomplete="off" data-openpay-card="cvv2"></div>
                                </div>
                            </div>
                        <div class="openpay"><div class="logo"><%= t('openpay_transaction') %>:</div>
                        <div class="shield"><%= t('openpay_shield') %></div>
                        </div>
                        <div class="sctn-row1">
                            <a class="button rght" id="pay-button"><%= t('buy') %></a>
                            <a style="background:transparent !important"  class="button rght">  </a>
                            <a  class="button rght" id="register-button"><%= t('register') %></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>

<script>

$('.delete_card').click(function(e){
    e.preventDefault();
    var card_id = $(this).data("card");
                        
   var confirm1 = confirm("¿Estas seguro que deseas eliminar esta tarjeta de credito?");
        if(confirm1){
                        $.ajax({
              method: "POST",
              url: "/partials/return_card_id",
              data: { card: card_id }
            })
              .done(function( msg ) {
                alert( "Data Saved: " + msg );
                            <%= delete_card(@card, current_user.openpay_id) %>
              });
            
           
        }
                            })
</script>