<style>
    .footer{
        position:fixed;
    }
</style>

<div class="row" style="margin-bottom:80px;">
    <h4 style="text-align:center; color:black; font-size:18px;"> Historial de enrachate "<%= @enrachate.name %>" </h4>

  <h4 style="text-align:center">  <a href="/partials/enrachate_survivor/<%= @enrachate.id %>" class="btn btn-primary"> Seleccionar Pick </a> </h4>

    <hr>
<div class="table-responsive">
    <table id="data-table" class=" table table-bordered table-hover table-striped nowrap" cellspacing="0" width="100%; overflow:initial;">
        <thead>
            <tr>
                <th> Usuario </th>
                <th>Status</th>
                <th>Tira</th>
                <th>Pregunta </th>
                <th>Pick</th>

            </tr>
        </thead>
        <tbody>
          <% if @tickets != []  %>
            <% @tickets.order(:purchase_date).each do |ticket| %>
            <tr>
                <td><%= ticket.user.username %></td>
                <td><%= ticket.status ==  "alive" ? "Vivo" : ticket.status == "bought" ? "Pendiente" : "Perdedor"   %></td>
                <td><%= ticket.tira_enrachate.name %></td>
                <td><%= ticket.question_enrachate.title  %></td>
                <td><%= ticket.answer == "1" ? ticket.question_enrachate.answer1 : ticket.question_enrachate.answer2  %></td>
            </tr>
            <% end %>
            <% end %>
        </tbody>
    </table>
  </div>
</div>

<script>
       var current_language = $("#current_language").val();
       var languaje;

    if(current_language == "en"){
    languaje= "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
}else{
    languaje = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
}

$('#data-table').DataTable({
    order: [2,"desc"],
     "language": {
            "url": languaje
        }
});
</script>
