<div style="background-color:rgba(255, 255, 255, 0.49);" class="row">
<% if @user_charges != [] %>
			<div class="table-responsive">
<table id="example" class="display" cellspacing="0" width="100%">
        <thead style="background-color:#171616; color:white;">
            <tr>
                <th><%= t('type_transaccion') %></th>
                <th><%= t('card_brand') %></th>
                <th><%= t('card_number') %></th>
                <th><%= t('transaction_description') %></th>
                <th><%= t('transaction_status') %></th>
                <th><%= t('amount') %></th>
                <th><%= t('transaction_error') %></th>
                <th> <%= t('transaction_date') %></th>
            </tr>
        </thead>

        <tbody>
            <% if @user_charges != nil && @user_charges != [] && @user_charges != ""    %>
    <% @user_charges.each do |charges| %>
    <script type="text/javascript">
      alert("<%= charges['method']  %>")
    </script>
            <tr>
                <% case charges['method'] %>
                <% when "card" %>
                <td><%= t('card') %></td>
                <% when "bank" %>
                <td><%= t('bank') %></td>
                <% when "bank_account" %>
                <td>Transferencia</td>
                <% when "store" %>
                <td>Tienda conveniencia</td>
                <% end %>
                <td><%= charges['card'] ? charges['card']['brand'] : "Banco" %></td>
                <td><%= charges['method'] == "card" ? charges['card']['card_number'] : "Banco" %></td>
                <td><%= charges['description']  ? charges['description'] : "Pago bancario"  %></td>
                 <% case charges['status'] %>
                <% when "completed" %>
                <td><%= t('complete') %></td>
                <% when "failed" %>
                <td><%= t('failed') %></td>
                <% else %>
                <td>Pendiente</td>
                <% end %>
                <td>$<%= charges['amount'] %> MXN</td>
                 <% case charges['error_message'] %>
<% when "The card doesn't have sufficient funds" %>
<td><%= t('nofounds') %></td>
<% when "The card has been rejected." %>
<td><%= t('cardrejected') %></td>
<% when "The card is not supported on online transactions" %>
<td><%= t('nosupportedonline') %></td>
<% when "The card was declined" %>
<td><%= t('cardrejected') %></td>
<% when "The card has expired" %>
<td><%= t('cardexpired') %></td>
<% when "The card was reported as stolen" %>
<td><%= t('cardstolen') %></td>
<% when "The card has been identified as fraudulent" %>
<td><%= t('cardfraudulent') %></td>
<% when "The card was declined (k)" %>
<td><%= t('cardrejected') %></td>
<% when nil %>
<td>  </td>
  <% end %>
              <td><%= charges['creation_date'] %></td>
            </tr>

              <% end %>
            <% end %>
            </tbody>
    </table>
	</div>
        <% else %>
            <br>
            <h3 style="text-align:center">No tienes registrada ninguna transacción en nuestra pagina.</h3>
<% end %>
</div>

<script>
$(document).ready(function() {

      var current_language = $("#current_language").val();
       var languaje;

    if(current_language == "en"){
    languaje= "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
}else{
    languaje = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
}


    $('#example').DataTable({
         responsive: true,
     "language": {
            "url": languaje
        }
    });
} );
</script>
