<style>
	#mainwrapper .box .fade-caption, #mainwrapper .box .scale-caption{
		margin-top:-200px ;
	}
	
	#mainwrapper .box .fade-caption, #mainwrapper2 .box .scale-caption{
		margin-top:-200px;
	}
	


	.navbar-teal{
		background-color:purple;
	}
</style>


<div class="row">
	<div id="mainwrapper"><!-- This #mainwrapper section contains all of our images to make them center and look proper in the browser -->
	<h2 style="text-align:center; font-weight:800; color:black;"> Ligas en las que estas participando </h2>
	<hr>
		<div class="col-md-12" style="margin-left:6%">
		
		
 		<% @survivor_id.each do |survivor| %>
 	
		<div id="box-3" style="background-size: cover; padding:0px; background-image: url('<%= survivor.background_url %>')" class="box col-md-3 col-xs-12"><div class="row" style="background-color:rgba(0, 0, 0, 0.3); height:200px;"><h4 style="text-align:center; color: purple;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:18px; font-weight:800;"><%= survivor.name %></h4> <div class="col-md-12 col-xs-12"><h3 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white;">Bolsa Acumulada</h3><p style="text-align:center; color: purple;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-weight:800; font-size:20px;"> </h4> <span><%= survivor.initial_balance %> </span> DB </p></div>  <div class="clearfix"></div> <br> <h3 style="text-align:center; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Cantidad de usuarios: <h3 style="text-align:center;    color: purple;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-weight:800"> <%= survivor.alive_users %> </span> </h3> </div><span class="caption fade-caption"><h3 style="text-align:center"><%= survivor.name %> </h3>
		<br>
		<h5 style="text-align:center">Puedes entrar a la ventana principal de la liga o consultar el historial de compras semanales de los usuarios</h5>
		<br>
		<div class="col-md-6">
			<a href="/partials/pickem/<%= survivor.id%>" style="width:80%" class="enter_survivor btn btn-primary">Entrar</a>
		</div> 
		<div class="col-md-6">
			<a href="/partials/pick_history/<%= survivor.id%>" style="width:80%" class="enter_survivor btn btn-primary"> Ver historial </a>
		</div>
		</span></div>

<% end %>
</div>
	</div>
</div>

<br>

<div class="row">
	<div id="mainwrapper">
	<h2 style="text-align:center; font-weight:800; color:black;"> Ligas creadas por ti </h2>
		<hr>
	 <div class="col-md-12" style="margin-left:6%">
		
		<%  @survivor_create.each do |survivor| %>

			<div id="box-3" style="background-size: cover; padding:0px; background-image: url('<%= survivor.background_url %>')" class="box col-md-3 col-xs-12"><div class="row" style="background-color:rgba(0, 0, 0, 0.3); height:200px;"><h4 style="text-align:center; color: purple;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:18px; font-weight:800;"><%= survivor.name %></h4> <div class="col-md-12 col-xs-12"><h3 style="text-align:center; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Bolsa Acumulada</h3><p style="text-align:center; color: purple;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-weight:800; font-size:20px;"> </h4> <span><%= survivor.initial_balance %> </span> DB </p></div>   <div class="clearfix"></div> <br> <h3 style="text-align:center; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Cantidad de usuarios: <h3 style="text-align:center; color: purple;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;font-weight:800"> <%= survivor.alive_users %> </span> </h3> </div><span class="caption fade-caption"><h3 style="text-align:center"><%= survivor.name %> </h3>
		<br>
		<h5 style="text-align:center">Puedes entrar a la ventana principal de la liga o consultar el historial de compras semanales de los usuarios</h5>
		<br>
		<div class="col-md-4">
			<a href="/picks/<%= survivor.id%>/edit" style="width:100%" class="enter_survivor btn btn-primary"> Editar </a>
		</div> 
		<div class="col-md-4">
			<a href="/partials/pick_history/<%= survivor.id%>" style="width:100%" class="enter_survivor btn btn-primary"> Historial </a>
		</div>
		<div class="col-md-4">
			<a href="invite_friends_pick/<%= survivor.id%>" class="btn btn-primary" data-id="<%= survivor.id%>">Invitar</a>
		</div>
		</span></div>
	
		<% end %>
	 </div>
	</div>
</div>


