<style>
    .footer{
        position:fixed;
    }
</style>

<div class="row" style="margin-bottom:80px;">
    <h4 style="text-align:center; color:black; font-size:18px;"> Historial de boletos comprados enrachate hasta 25 </h4>
    <h4 style="text-align:center"> <a class="btn btn-primary" href="/partials/enrachate"> Seleccionar Pick </a> <a class="btn btn-primary" href="/partials/enrachate_history"> Mi racha </a> <a class="btn btn-primary" href="/partials/top_100_enrachate"> Top 100 </a></h4>

    <hr>
<div class="table-responsive">
    <table id="data-table" class=" table table-bordered table-hover table-striped nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>

                <th>Fecha</th>
                <th>Pregunta seleccionada</th>
                <th>Respuesta</th>
                <th>Status</th>
                <th>Enrachate</th>
            </tr>
        </thead>
        <tbody>
          <% if @tickets != []  %>
            <% @tickets.order(:purchase_date).each do |ticket| %>
            <tr>

                <td><%= ticket.tira_enrachate.name %></td>
                <td><%= ticket.question_enrachate ? ticket.question_enrachate.title : "Sin seleccionar"  %></td>
                <td><%= ticket.answer ? ticket.answer == "1" ? ticket.question_enrachate.answer1 : ticket.question_enrachate.answer2 : "Sin respuesta"  %></td>
                <td><%= ticket.status ==  "alive" ? "Vivo" : ticket.status == "bought" ? "Comprado" : ticket.status == "Winner" ? "ganador" : "Perdedor"   %></td>
                <td><%= Enrachate.find(ticket.enrachates_id).name %></td>
            </tr>
            <% end %>
            <% end %>
        </tbody>
    </table>
</div>
</div>
<script>
       var current_language = $("#current_language").val();
       var languaje;

    if(current_language == "en"){
    languaje= "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
}else{
    languaje = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
}

$('#data-table').DataTable({
    order: [1,"desc"],
     "language": {
            "url": languaje
        }
});
</script>
