<style>	
	
	
	.toggle{
		margin-top: 2%; margin-bottom:2%;
	}
    
    	
    
    .selected{
        opacity:1;
        background-color:transparent;
    }
    
    .not-selected{
        opacity:.3;
        background-color:transparent;
    }
</style>


<% if @current_week[0].week == 0 %>
	<div class="row" style=" background-size: cover; background-image: url(/assets/default_background.png)">
         	<div class="row" style="background-color:rgba(0, 0, 0, 0.3)">
       	<div class="col-md-4">
         	     <h1 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size: 40px; color:white; font-weight:900;"><%= @pick.name %></h1> <hr>
         	     <h4 style="text-align:center"> <img width="40%" src="<%= @pick.background_url%>"></h4>
         	</div>
         	<div class="col-md-4">
             <br>
             <br>
              <h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:20px;">Descripción</h4>
              <hr>
            <h4 style="text-align:center; color:white;"><%= @pick.description %> </h4>
         	</div>
         	<div class="col-md-4">
             <br>
             <br>
            	  <h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:20px;">Entradas</h4>   <hr>
      		<h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:20px;">Participa en esta liga PICK'EM</h4>
      		<h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:20px;"> Haz comprado <%= @tickets_purchase.count %>  <span><%= @tickets_purchase.count > 1 ? "Entradas" : "Entrada" %></span> </h4>
      		
      		<h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:20px;"> <span style="color:#2D68AC; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900;" id="final_date"></span> horas para comprar entradas</h4> 
      		
      			<script>
					var countdown1 = moment('<%= (@current_week[0].final_date.end_of_day - 5.hours).to_s(:db)  %>').format('MM/DD/YYYY HH:mm');   
					   $('#final_date').countdown(countdown1, function(event) {
							$(this).html(event.strftime('%D Dias %H:%M:%S'));
								  
  						});
				</script>
         	</div>
         	<div class="clearfix"></div>
         	<hr>
         
      		<div class="row">
      			<div class="col-md-6 col-xs-6">
      				<h3 style="text-align:center; color:#2D68AC;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-size:30px; font-weight:900;"> Entrada: <span style="color:white;">$<%= @pick.price %> </span></h3>
      			</div>
      			<div class="col-md-6 col-xs-6">
      				<h3 style="text-align:center; color:#2D68AC;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900; font-size:30px;">Bolsa: <span style="color:white" >$<%= @pick.initial_balance.round(2) %>  </span> </h3>
      			</div>
      			<div class="col-md-6 col-xs-6">
      				<h3 style="text-align:center; color:#2D68AC;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-size:30px; font-weight:900;">Premio Semanal: <span style="color:white;">$<%= @pick.week_amount.round(2) %> </span></h3>
      			</div>
      			<div class="col-md-6 col-xs-6">
      				<h3 style="text-align:center; color:#2D68AC;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900; font-size:30px;">Tipo de bolsa: <span style="color:white" ><%= @pick.winner_type == 1 ? 'Equitativa' : '1er, 2do y 3er lugar' %> </span> </h3>
      			</div>
      		</div>
      		
      		<br>
      		<h3 style="text-align:center; color:#2D68AC;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900; font-size:30px;">Usuarios participando: <span style="color:white"><%= @pick.alive_users %> </span>  </h3>
      		<hr>
                <% if @current_tickets_purchase.count >= 2 && @pick.id == 8 %>
                <h4 style="text-align:center; color:white;">  Lo sentimos pero esta liga esta limitada a dos entradas por usuario. </h4>
                <% else %>
                	<h4 style="text-align:center"><button id="buy_entry" class="btn btn-success btn-lg" style="width: 50%; background-color:white; border-color:white; color:black; font-weight:900;"> Comprar Entrada </button></h4>
                <% end %>
      	
                
                <% if @current_tickets_purchase.count > 0 %>
                <h4 style="text-align:center"><a href="/partials/select_pick_1/<%= @pick.id %>" id="buy_entry" class="btn btn-success btn-lg" style="width: 50%;  font-weight:900;"> Pick Semana 1 </a></h4>
                <% end %>
      		
      		<script>
				$('#buy_entry').click(function(){
					$(this).prop('disabled', true);
					var user_balance;
					var user_id = <%= current_user.id %>;
					var survivor_balance = <%= @pick.initial_balance %>;
					var survivor_week_survivor_id = <%= @current_pick_survivor_week[0].id %>;
					var survivor_id = <%= @pick.id %>;
					var purchase_date = new Date();
					var survivor_new_balance = parseFloat(survivor_balance) + <%= @pick.price %>;
					var total_balance_update;
					if(<%=current_user.gift_credit %> >= <%= @pick.price %> || <%= current_user.balance %> >= <%= @pick.price %>  ){
					    user_balance = <%=current_user.gift_credit %>;
						total_balance_update = user_balance - <%= @pick.price %>;
						
                    	
							  	 $.ajax({
									  method: "POST",
									  url: "/pick_users",
									  dataType: "json",     
									  data: { pick_user: {pick_survivor_week_id: survivor_week_survivor_id,  user_id: user_id ,purchase_date: purchase_date, status: "alive"}  }
									}).done(function(data) {
									 		$('#thanks_modal').modal('show');
											setTimeout(function(){    window.location.assign("/partials/my_pickem_leagues"); }, 2000); 	  
								 	}).error(function(data) {
												 alert(data.responseJSON.errors.user_id);
											 })

							
               
					   }else{       //opcion cuando el cliente no tiene saldo
						    alert('No tienes saldo suficiente');
							window.location.assign("/partials/credit_card_form")
					   }
				})
				</script>
      	</div>
      	</div>

<% else %>
<div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#2d68ac;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="text-align:center; color:white;">Confirmación de seleccion de equipos</h4>
      </div>
      <div class="modal-body">
               <input type="hidden" id="pick_user_id">
               <input type="hidden" id="select_teams">
               <input type="hidden" id="select_games">
               <h4 style="text-align:center;  color:#2d68ac; font-size:20px;">Equipos Seleccionado</h4>
               <hr style="border-color:#2d68ac">
               <h4 style="text-align:center" id="teams_modal"></h4>
               <hr style="border-color:#2d68ac">
               <h4 style="text-align:center">Pregunta para desempate</h4>
               <h5 style="text-align:center">Marcador esperado del ultimo partido de la semana</h5>
               <h5 style="text-align:center;color:black;"><%= @games.last.team.name %> vs <%= @games.last.team2.name%></h5>
               <div class="col-md-5 col-xs-5"> <h5 style="text-align:center"> <img width="50%" src="<%= @games.last.team.logo_url %>"> </h5><h5 style="text-align:center"><input id="local_score" type="number" class="form-control"></h5></div>
               <div class="col-md-2 col-xs-2"><h1 style="text-align:center">VS</h1></div>
               <div class="col-md-5 col-xs-5"><h5 style="text-align:center"> <img width="50%" src="<%= @games.last.team2.logo_url %>"> </h5><h5 style="text-align:center"><input id="visit_score" type="number" class="form-control"></h5></div>
        <h5 style="text-align:center; font-size:12px; font-weight:900; color:red;">Recuerda que una ves seleccionados los equipos no se puede cambiar tu seleccion.</h5>
        <br>
       	<h4><button class="btn btn-primary" style="width:70%" id="confirm_buy"> Confirmar equipo </button><button data-dismiss="modal" class="btn btn-danger" style="width:25%; margin-left:3%">Cancelar</button></h4>
      </div>
     
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--- Aqui empiezan las acciones cuando no es la semana 0 y se pueden empezar a realizar las compras  --->
	<div class="row" style=" margin-top:-20px !important; background-size: cover; background-image: url(/assets/default_background.png)">
        	<div class="row" style="background-color:rgba(0, 0, 0, 0.3)">
         	<div class="col-md-3 " style="border-right:1px solid black;">
          	<h1 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size: 25px; color:white; font-weight:900;"><img style="margin-right:10px;" class="img-circle" width="80px" src="<%= @pick.background_url %>"><%= @pick.name %></h1>
          	<h4 style="text-align:center">  <a class="btn btn-primary"  href="/partials/pick_history/<%= @pick.id %>">Temporada</a>  <a class="btn btn-primary"  href="/partials/pickem_week_games_history/<%= @pick.id %>">Semanal</a>  <a class="btn btn-primary"  href="/partials/games_result/">Resultados</a> </h4> <hr>
      		<h4 style="text-align:center; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:20px;">Semana #<%= @current_week[0].week %></h4>
      		<h4 style="text-align:center; color:white; font-size:14px;"><%= @pick.description %></h4>
      		<hr>
      		<h4 style="text-align:center; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:14px;"> <span style="color:#2D68AC;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900;" id="final_date"></span> horas para elegir tus equipos</h4> 
      		
      		
      		
      		
      		<script>
					var countdown1 = moment('<%= (@current_week[0].final_date.end_of_day - 5.hours).to_s(:db)  %>').format('MM/DD/YYYY HH:mm');   
					   $('#final_date').countdown(countdown1, function(event) {
							$(this).html(event.strftime('%D Dias %H:%M:%S'));
								  
  						});
				</script>
      		<hr>
      		<div class="row">
      			
      			<div class="col-md-12 col-xs-12">
      				<h3 style="text-align:center; color:#2D68AC;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900; font-size:20px;">Bolsa: <span style="color:white; font-size:24px;"  >$<%= @pick.initial_balance.round(2) %>  </span> </h3>
      				<h3 style="text-align:center; color:#2D68AC;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900; font-size:20px;"> Premio Semanal: <span style="color:white; font-size:24px;">$<%= @pick.week_amount.round(2) %>  </span>  </h3>
      				
      				<h3 style="text-align:center; color:#2D68AC;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900; font-size:20px;"> Tipo de bolsa: <span style="color:white"><%= @pick.winner_type == 1 ? 'Equitativa' : '1er, 2do y 3er lugar' %> </span>  </h3>
      				<h3 style="text-align:center; color:#2D68AC;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900; font-size:20px;"> Participantes: <span style="color:white"><%= @pick.alive_users %> </span>  </h3>
      			</div>
      		</div>
      	
      		
      		<hr>
    		  <h3 style="text-align:center; color:white;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900; font-size:20px;">Entradas compradas</h3>	
     		  	<br>
     		  	<h4 style="text-align:center"><% @tickets_purchase.each_with_index do |entry,index| %>
     		  		<button data-pick="<%= entry.pick_user_id %>" data-index="<%= index + 1 %>" style="margin-left:2%" class="btn select_entry btn-primary"> Entrada #<%= index + 1  %> </button>
     		  	<% end %>
     		  	</h4>
				</div>
				
				
    		  	<script>
					$('.select_entry').click(function(){
						var index = $(this).data('index');
                        $('img').removeClass('selected');
						$('.entry-div').hide();
						$('#entry'+index+'').show();
                        $('#pick_user_id').val($(this).data('pick'));
					})
				</script>
     		  	
				
				<% @tickets_purchase.each_with_index do |entry,index| %>
                  <% if @current_tickets_purchase.include? entry.pick_user_id  %>
                      <div style="display:none" class="col-md-9 col-xs-12 entry-div" id="entry<%= index + 1 %>">
                          <h4 style="text-align:center; color:white; font-size:20px;">Ya seleccionaste los equipos para esta entrada</h4>
                          <% current_ticket = PickUser.where('user_id = ? AND pick_survivor_week_id = ? AND pick_user_id =?', current_user.id, @current_pick_survivor_week[0].id,entry.pick_user_id)%>
                          <% games_selected = PickUserGame.where('pick_user_id = ?',current_ticket[0].id).order('survivor_game_id') %>
                          <% games_selected.each do | game |  %>
                              <img width="13%" src="<%= game.team.logo_url %>">
                          <% end %>
                      </div>
                  <% else %>
    		  		<div style="display:none" class="col-md-9 col-xs-12 entry-div" id="entry<%= index + 1 %>">
     		  	 <h3 style="text-align:center; color:white;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900; font-size:20px;">Seleccion de Equipos Entrada #<%= index +1  %></h3>
    		  	 	 	<div class="row">
    		  	 	 		<% @games.where('game_date > ?', Time.new).each_with_index do |game,indexx|%>
    		  	 	 		<div class="col-md-6 col-xs-12" <% if indexx%2 != 0 %> style="border-left:1px solid black; border-bottom:1px solid black;" <% else %> style="border-bottom:1px solid black;" <% end %> >
    		  	 	 		<div class="col-md-2 col-xs-2" ><h4 style="text-align:center"> <img data-name="<%= game.team.name  %>" data-gameid="<%= game.id %>" data-id="<%= game.team.id %>" class="<%= game.team.name.delete(' ')  %><%= index+1 %>" width="80%" src="<%= game.team.logo_url  %>"> </h4> <h4 style="text-align:center; color:white;"> <% if game.plus_handicap == 0  %> + <%= game.handicap %> <% else %> - <%= game.handicap %> <% end %> </h4> </div>		
    		  	 	 		<div class="col-md-7 col-xs-7"> <h5 style="text-align:center; color:white;">  <%= l(game.game_date, format: '%B %d %Y %T')   %> </h5> <h5 style="text-align:center"><input  class="team-switch<%= index+1 %> toggle_switch" data-size="small" 	data-handle-width="170" data-on-text="<%= game.team.name %>" data-off-text="<%= game.team2.name %>"  type="checkbox"  data-toggle="toggle" data-label-width="20" data-indeterminate="true" data-on="<%= game.team.name %>" data-off="<%= game.team2.name %>" data-onstyle="success" data-offstyle="primary"></h5></div>
    		  	 	 		<div class="col-md-2 col-xs-2"><h4 style="text-align:center"><img class="<%= game.team2.name.delete(' ')  %><%= index+1 %>" data-gameid="<%= game.id %>" data-id="<%= game.team2.id %>" width="80%" src="<%= game.team2.logo_url  %>"></h4><h4 style="text-align:center; color:white;"> <% if game.plus_handicap == 0  %> - <%= game.handicap %> <% else %> + <%= game.handicap %> <% end %> </h4></div>
    		  	 	 		<div class="col-md-1 col-xs-1"></div>
    		  	 	 		</div>
    		  	 	 		<% end %>
    		  	 	 	</div>
     		  	 	 
     		  	</div>
     		  	
     		  	<script>   
                    
                    var array_select_teams = [];
                    var array_game_id = [];
                    
                    $('.team-switch<%= index+1 %>').bootstrapSwitch();   
					$('.team-switch<%= index+1 %>').on('switchChange.bootstrapSwitch', function(event, state){
						if(state == true){
                            $('.'+$(this).data('on').replace(/ /g,'')+'<%= index+1 %>').addClass('selected');
                            $('.'+$(this).data('off').replace(/ /g,'')+'<%= index+1 %>').removeClass('selected');
                            $('.'+$(this).data('off').replace(/ /g,'')+'<%= index+1 %>').addClass('not-selected');
                            $('.'+$(this).data('on').replace(/ /g,'')+'<%= index+1 %>').removeClass('not-selected');
                            if(<%= @games.where('game_date > ?', Time.new).count %> == $('.selected').length ){  
                                $('#teams_modal').empty();
                                 $('.selected').each(function(index){
                                      array_select_teams.push($(this).data('id'));
                                      array_game_id.push($(this).data('gameid'));
                                     $('#teams_modal').append('<img width="40px" src="'+$(this).attr('src')+'">');
                                 })
                               $('#select_teams').val(array_select_teams);
                               $('#select_games').val(array_game_id);
                               $('#confirm_modal').modal('show');
                            } else{}               
						}else{
                            $('.'+$(this).data('off').replace(/ /g,'')+'<%= index+1 %>').addClass('selected');
                            $('.'+$(this).data('on').replace(/ /g,'')+'<%= index+1 %>').removeClass('selected');
                            $('.'+$(this).data('on').replace(/ /g,'')+'<%= index+1 %>').addClass('not-selected');
                            $('.'+$(this).data('off').replace(/ /g,'')+'<%= index+1 %>').removeClass('not-selected');
                             if(<%= @games.where('game_date > ?', Time.new).count %> == $('.selected').length ){   
                                 $('#teams_modal').empty();
                                 $('.selected').each(function(index){
                                     array_select_teams.push($(this).data('id'));
                                      array_game_id.push($(this).data('gameid'));
                                     $('#teams_modal').append('<img width="40px" src="'+$(this).attr('src')+'">');
                                     
                                 })
                                 $('#select_teams').val(array_select_teams);
                                 $('#select_games').val(array_game_id);
                                $('#confirm_modal').modal('show');
                            } else{}   
						}
							
					})
                    
                    
				</script>
     		  		<% end %>
     		  	<% end %>
				
				
			  </div>
</div>
	
	
<% end %>




<div class="modal fade" id="thanks_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#2d68ac;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="text-align:center; color:white;">Compra realizada con exito</h4>
      </div>
      <div class="modal-body">
        <br>
        <img width="100%" src="/assets/letrasazul.png">
        <h4 style="text-align:center; font-size:30px; font-weight:900; color:black;">Gracias por comprar tu entrada</h4>
        <h4 style="text-align:center; font-size:30px; font-weight:900; color:#2d68ac;">!Mucha suerte!</h4>
        <br>
      </div>
     
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->








<script>
               $('#confirm_buy').click(function(){
                   $(this).prop('disabled','disabled');
                        var local_score = $('#local_score').val();
                        var visit_score = $('#visit_score').val();
                        var user_id = <%= current_user.id %>;
                        var purchase_date = new Date();
                        var pick_survivor = <%= @current_pick_survivor_week[0].id %>;
                        var pick_user_id =  $('#pick_user_id').val();
                        
                         $.ajax({
									  method: "POST",
									  url: "/pick_users",
									  dataType: "json",     
									  data: { pick_user: {pick_survivor_week_id: pick_survivor,  user_id: user_id ,purchase_date: purchase_date, pick_user_id: pick_user_id, local_score: local_score , visit_score: visit_score, status: "alive"}  }
									}).done(function(data) {
                                      var teams = $('#select_teams').val();
                                      var games= $('#select_games').val();
                                      var teams_array = teams.split(',');
                                      var games_array = games.split(',');
                                
                             for(var i=0; i < teams_array.length; i++){
                                    $.ajax({
									  method: "POST",
									  url: "/pick_user_games",
									  dataType: "json",     
									  data: { pick_user_game: {pick_user_id: data, points: 1, team_id: teams_array[i], survivor_game_id: games_array[i] }  }
									}).done(function(response) {
                                       
                                    })
                             }
                             
                                     $('#confirm_modal').modal('hide');
                                    $('#thanks_modal').modal('show');
                                      setTimeout(function(){    window.location.assign("/partials/my_pickem_leagues"); }, 4000);
                                    
                         })
                   
                        
                    })

</script>