
<style>

	
	.footer{
		position:fixed;
	}
	

	
</style>

<div class="col-md-6">
    <h4 style="text-align:center; color:#2D68AC; font-size:30px;">Liga del PICK'EM: <span style="color:black"> <%= @pick.name %> </span></h4>
</div>
<div class="col-md-6"><h4 style="text-align:center">  <a class="btn btn-primary"  href="/partials/pickem/<%= @pick.id %>">Seleccionar Pick</a>  <a class="btn btn-primary"  href="/partials/pickem_week_games_history/<%= @pick.id %>">Semanal</a>  <a class="btn btn-primary"  href="/partials/games_result/">Resultados</a> </h4></div>
<div class="clearfix"></div>


<hr style="border-color:black">

<div class="row">
	
	<div class="col-md-6 col-md-offset-3">
	
		
		<div class="col-md-6 col-md-offset-3" style="border:1px solid black; background-color:rgba(49, 255, 0, 0.541176); color:black;">
			<h5 style="text-align:center; color:black;">Ganador Semanal</h5>
	</div>
	</div>
</div>


<div class="row">
	<table id="example" class="table table-bordered table-hover table-striped " cellspacing="0" width="100%">
        <thead style="background-color:black; color:white;">
            <tr>
                <th style="text-align:center">Usuario</th>
                 <% @week_quantity = @pick.pick_survivor_weeks.count  %>
                <% @pick.pick_survivor_weeks.each_with_index do |week, index| %>
                   <% if index+1 == @week_quantity %>
                    
                   <% else %>
                    <th style="text-align:center; padding:8px;"> <%= index + 1  %></th> 
                   <% end %>
                <% end %>
                <th style="text-align:center; padding:8px;"> Total</th> 
                     </tr>
        </thead>
      
        <tbody>
           
        </tbody>
    </table>
</div>



<script>
$(document).ready(function(){
      var current_language = $("#current_language").val();
       var languaje;
    
    if(current_language == "en"){
    languaje= "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
}else{
    languaje = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
}
    
t = $('#example').DataTable({
	 "columnDefs": [
    { "width": "5%", "targets": [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17] }
  ],
    order: [0,"desc"],
     "language": {
            "url": languaje
        }
});
	
		<% @usuarios.each do |user|  %>
	    <%  user[1].each_with_index do |live, index| %>
				<% @week_day = [] %>
		<% live[1].each do |week| %>		
			<% @week_day.push(week[1])  %>
		<% end %>
				t.row.add( [
                     <% @week_quantity = @pick.pick_survivor_weeks.count  %>
                     <% @pick.pick_survivor_weeks.order(:id).each_with_index do |week, indexx| %>
                     <% if indexx == 0  %>
                      '<h4 style="text-align:center"><%= user[indexx].upcase %> <%= index %> </h4>',
                     <% @points_total = 0 %>
                     <% @pick.pick_survivor_weeks.order(:id).each_with_index do |week, indexx| %>
                        <% @points_total +=  @week_day[indexx] ? @week_day[indexx][:points].to_i : 0  %>
                     <% end %>
                    '<h4 style="text-align:center"><%= @points_total %></h4>',
                     <% elsif indexx == 1  %>
                   '<h4 style="text-align:center"  class="<%= @week_day[indexx] ? @week_day[indexx ][:status] : ''  %>" style="text-align:center"> <%= @week_day[indexx] ? @week_day[indexx ][:points].to_i : 0 %></h4>',
                    <% else %>
                    '<h4 style="text-align:center" class="<%= @week_day[indexx] ? @week_day[indexx][:status] : ''  %>" style="text-align:center"> <%= @week_day[indexx] ? @week_day[indexx][:points].to_i : 0 %></h4>',
                     <% end %>
				 
                    <% end %>
                    
            	  
        	] ).draw( false );
		<% end %>
		<% end %>
	
	
	$('.Ganadorsemanal').parent().css('background-color','rgba(49, 255, 0, 0.541176)');
    $('.Ganadorsemanal').parent().css('color','black');
	
	
});
    
    $.fn.dataTable.ext.errMode = 'none'; $('#table-id').on('error.dt', function(e, settings, techNote, message) { console.log( 'An error occurred: ', message); })
</script>


