<style>

	.navbar-teal{
		background-color:#06733d;
	}
	
	.footer{
		position:fixed;
	}
	
		#myNavbar .navbar-nav li a:hover{
		background-color: #099b53;
	}
	
	.navbar-nav > li > .dropdown-menu{
		background-color: #06733d;
	}
	
</style>

<div class="row" style="    padding-bottom: 100px !important;">
<% if @current_survivor.status == 'Cerrada' %> <!------- Pregunta si el survivor esta cerrado  ----->
 <div class="row" style=" background-size: cover; background-image: url(<%= @current_survivor.background_url %>)">
         	<div class="row" style="background-color:rgba(0, 0, 0, 0.3)">
          	<h1 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size: 40px; color:white; font-weight:900;"><%= @current_survivor.name %></h1> <hr>
      		<h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:26px;">Gracias por participar en nuestra liga de survivor</h4>
      		<h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:20px;"> Lamentablemente esta liga a llegado a su fin </h4>
            <h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:20px;">La liga termino con un total de : <%= @current_survivor.winner_user %> <%= @current_survivor.winner_user == 1 ? 'Ganador' : 'Ganadores' %> </h4>
            <h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:20px;">Felicidades a <%= @current_survivor.winner_user == 1 ? 'el ganador' : 'los ganadores' %></h4> 	   
      		<hr>
      		   	<h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:20px;"><a href="/partials/survivor_history/<%= @current_survivor.id%>" class="btn btn-lg" style="background-color:#06733d; color:white; border-color:#06733d;">Consultar resultados</a></h4> 		
      		<hr>
      	
      		
      		
      	</div>
      	</div>
<% else %>
<% if @current_survivor.participant_users != [] && @current_survivor.alive_users != nil %> <!-- pregunta si existen participantes -->
	<% participant = '' %>
<%  @current_survivor.participant_users.each do |user| %>
	<% if user.id == current_user.id %>
		<% participant = true %>
	<% end %>
<% end %> 

	<% if participant != [] && participant != '' %>     <!-- Esto se realiza si el usuario ya tiene ticket -->
		<% if @current_week[0].week > 0 && @current_week[0].week <= 17 %>
			<div class="row" style=" margin-top:-20px !important; background-size: cover; background-image: url(<%= @current_survivor.background_url %>)">
        	<div class="row" style="background-color:rgba(0, 0, 0, 0.3)">
         	<div class="col-md-4" style="border-right:1px solid black;">
          	<h1 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size: 40px; color:white; font-weight:900;"><%= @current_survivor.name %></h1> <hr>
      		<h4 style="text-align:center; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:20px;">Semana #<%= @current_week[0].week %></h4>
      		<h4 style="text-align:center; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:20px;">Tienes: <span style="color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900;" id="final_date"></span> horas para comprar entradas</h4> 
      		<hr>
      		<h4 style="text-align:center; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:20px;"> Tienes  <%= @last_tickets_purchase.count  %>  <span><%= @last_tickets_purchase.count > 1 ? "Entradas" : "Entrada" %></span> </h4>
      		<h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:20px;">Recompra disponibles por entrada: <span style="color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900;"><%= @current_survivor.rebuy_quantity %></span></h4>
      		
      		<script>
					var countdown1 = moment('<%= (@current_week[0].final_date.end_of_day - 5.hours).to_s(:db)  %>').format('MM/DD/YYYY HH:mm');   
					   $('#final_date').countdown(countdown1, function(event) {
							$(this).html(event.strftime('%H:%M:%S'));
								  
  						});
				</script>
      		<hr>
      		<div class="row">
      			<div class="col-md-6 col-xs-6">
      				<h3 style="text-align:center; color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-size:20px; font-weight:900;">Precio de recompra : <span style="color:white;"><%= @current_survivor.price %> DB</span></h3>
      			</div>
      			<div class="col-md-6 col-xs-6">
      				<h3 style="text-align:center; color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900; font-size:20px;">Bolsa acumulada: <span style="color:white" ><%= @current_survivor.initial_balance %> DB </span> </h3>
      			</div>
      		</div>
      		
      		<br>
      		<h3 style="text-align:center; color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900; font-size:20px;">Usuarios participando: <span style="color:white"><%= @current_survivor.alive_users %> </span>  </h3>
      		<hr>
     		  	 <h4>
     		  	 <% already_buy = '' %>
     		  	 <% team_choose_id = '' %>
     		  	 <% team_choose_name = '' %>
     		  	 <% hash_teams = {} %>
     		  	 <% hash_select_teams = {} %>
     		  	 <% array_ids = [] %>
     		  	 <h4 style="text-align:center">
      		  	 <% @last_tickets_purchase.each_with_index do |entry, index| %>
      		  	 <% los = entry.survivor_week_survivor.survivor.survivor_users.where(:survivor_user_id => entry.survivor_user_id).loser.count %>
				 <% reb = entry.survivor_week_survivor.survivor.rebuy_quantity %>
      		  	 	<% if los > reb %>
      		  	 	<%= button_tag ('Entrada:'+(index+1).to_s+''), :id => entry.survivor_user_id,:style => "margin-left:2%;", :class => "btn btn-danger select_life" %>
      		  	 	<% else %>
      		  	 	<%= button_tag ('Entrada:'+(index+1).to_s+''), :id => entry.survivor_user_id,:style => "margin-left:2%;", :class => "btn btn-primary select_life" %>
      		  	 	<% end %>
      		  	  <% end %> 
      		  	  </h4>
      		  	  </h4>
				</div>
				 <div  class="col-md-3 life-div"></div>
				 
					 <% @last_tickets_purchase.each_with_index do |entry, index| %>
					 
					 <% @last_tickets_purchase_teams.each do |ticket| %>
					 	<% hash_select_teams[ticket.survivor_user_id] = [] %>
					 <% end %>
					 
					  <% @last_tickets_purchase_teams.each do |ticket| %>
					 	<% hash_select_teams[ticket.survivor_user_id].push(ticket.team) %>
					 	<% end %>
					 
				
					 
					 <% @tickets_purchase.each do |ticket| %>
					   <% array_ids.push(ticket.survivor_user_id) %>
					   <% hash_teams[ticket.survivor_user_id] = {url: ticket.team ? ticket.team.logo_url : '/assets/red-x4.png'  , name: ticket.team ? ticket.team.name : 'No selecciono equipo'} %>
					   
					 <% end %>
					 	<% if array_ids.include? entry.survivor_user_id %>
					 	<% already_buy = true %>  <% team_choose_id = hash_teams[entry.survivor_user_id][:url] %>
					 	<% team_choose_name = hash_teams[entry.survivor_user_id][:name] %>
					 	<% else %>
					 	<% already_buy = false %>
					 	<% end %>
				 
					 <% if already_buy == true %>
				<div class="col-md-3 life-div"  id="life<%= entry.survivor_user_id %>" style="display:none; border-right:1px solid black; min-height:440px;">
				<br>
					<h3 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center;">Ya seleccionaste tu entrada para esta semana</h3>
					<hr>
					<h3 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center;">El equipo elegido para la semana fue:</h3>
					<h4 style="text-align:center"><img width="80%" src="<%= team_choose_id %>"></h4>
					<h3 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center;"> <%= team_choose_name %></h3>
					
				</div>
				 	
				 	<script>
						$('.life-div').ready(function(){
							$('.select_team').hide();
						})
						
					</script>
					 	
					 <% else %>
					 
					 <% losses = entry.survivor_week_survivor.survivor.survivor_users.where(:survivor_user_id => entry.survivor_user_id).loser.count %>
					  <% rebuy = entry.survivor_week_survivor.survivor.rebuy_quantity %>
					 
					 	<div class="col-md-3 life-div"  id="life<%= entry.survivor_user_id %>" style="display:none; border-right:1px solid black; min-height:440px;">
					 		<h3 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center;">Entrada del survivor  </h3>
					 		 <h4 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center;">Resultado de la ultima semana: <% if @last_tickets_purchase.where('survivor_user_id = ?', entry.survivor_user_id).last.status == 'alive' %><span style="color:green; text-align:center;"> Ganador </span> 
					 		 <% else%>
					 		 <span style="color:red; text-align:center;"> Perdedor </span>
							<% end %></h4>
					 		<% if @last_tickets_purchase.where('survivor_user_id = ?', entry.survivor_user_id).last.status == 'loser'  %>
					 		
					 		<% end %>
					 		<h4 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center;">Cantidad de veces perdidas: <span style="color:#06733d"> <%= losses %> </span></h4>
					 		<% if losses > rebuy %>
					 		<% buy = false %>
					 			<h4 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center;">Lo sentimos pero ya tienes recompras disponibles gracias por participar con nosotros</h4>
					 		<% elsif losses == rebuy %>
					 			<% buy = true %>
					 			<h4 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center;">Estas utilizando tu ultima vida mucha suerte.</h4>
					 			<% else %>
					 			<% buy = true %>
					 			<h4 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center;">Aun tienes recompras disponibles</h4>
					 		<% end %>
					 		
					 		
					 		<hr>
					 		<% if buy %>
					 		<h3 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center;">Equipos que ya haz seleccionado</h3>
				 			 <h4>
				 			  <% logger.info hash_select_teams[entry.survivor_user_id] %>
				 			  <% logger.info '/////////////////////////'%>
					 			 <% hash_select_teams[entry.survivor_user_id].each do |team| %>
					 			 	 <img width="10%" src="<%= team ? team.logo_url : '' %>">
					 			 	 <% if team %>
					 			 	 <script>
										 $(document).ready(function(){
											 $('#<%= team.id %><%= entry.survivor_user_id %>').unbind('click');
											 $('#<%= team.id %><%= entry.survivor_user_id %>').unbind('mouseenter');
											 $('#<%= team.id %><%= entry.survivor_user_id %>').unbind('mouseleave');  
											 $('#<%= team.id %><%= entry.survivor_user_id %>').children().css('background-color','rgba(255, 0, 0, 0.49)');
											 $('#<%= team.id %><%= entry.survivor_user_id %>').children().addClass('no-selectable');  
										 })
								 		
								 	 </script>
								 	 <% end %>
					 			 <% end %>
					 			 </h4>
					 		<hr>
					 		
					 		<div class="team-details" style="display:none">
					 			<h3 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center;">Información del equipo</h3>
					 			<div class="col-md-6">
					 				<h4 style="text-align:center"><img width="70%" class="team_image" src="" ></h4>
					 			</div>
					 			<div class="col-md-6">
					 			<h4 style="color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; text-align:center; font-weight:800;">Nombre del equipo: <span  style=" color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"class="team_name"></span> </h4>
					 			<h4 style="color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; text-align:center; font-weight:800;">Handicap del equipo: <span style=" color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"class="team_handicap"></span></h4>
					 			<h4 style="color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center; font-weight:800;">Equipo rival: <span style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"class="team_rival"></span></h4>
					 			</div>
					 			<div class="clearfix"></div>
					 			
					 		</div>
					 		<hr>
					 		<div class="team-detail" style="display:none;">
					 		<h3 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center;">Equipo seleccionado</h3>
					 			<div class="col-md-6">
					 				<h4 style="text-align:center"><img width="70%" class="team_select_image" src="" ></h4>
					 			</div>
					 			<div class="col-md-6">
					 			<br>
					 			<h4 style="color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; text-align:center; font-weight:800;">Nombre del equipo: <span  style=" color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"class="team_select_name"></span> </h4>
					 			<input type="hidden" class="team_select_description">
					 			<h4 style="color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; text-align:center; font-weight:800;">Handicap del equipo: <span style=" color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"class="team_select_handicap"></span></h4>
					 			</div>
					 			<div class="clearfix"></div>
					 			<button data-survivorcode=" <%= entry.survivor_user_id %>" style="width:100%; font-weight:900; background-color:white; color:black;" class="btn buy-ticket btn-primary"> Seleccionar equipo </button>
					 		</div>
					 		<% else %>
					 		<div>
					 			<h4>Perdiste</h4>
					 		</div>
					 		<% end %>
					 	</div>
					 		
					 	<% end %>
					 	<div class="col-md-5 selects_teams select_team<%= entry.survivor_user_id %>" style="display:none">
					 	<h3 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center;">Selecciona a tu equipo</h3>

					 		<% @current_week[0].survivor_games.each do |game| %>
					 		 <% if game.plus_handicap == 1 %>
					 		 	<% visitor_handicap = '+'+ game.handicap.to_s + ''
									local_handicap = '-'+ game.handicap.to_s + '' %>
					 		 <% else %>
					 		 	<% visitor_handicap = '-'+ game.handicap.to_s + ''
									local_handicap = '+'+ game.handicap.to_s + '' %>
					 		 <%end%>	
					 		<a data-url="<%= game.team.logo_url %>" data-description="<%= game.team.description %>" data-id="<%= game.team.id %>" data-rival="<%= game.team2.name %>" data-handicap="<%= local_handicap %>"  data-name="<%= game.team.name %>" class="team  <%= game.past_game %>" id="<%= game.team.id %><%= entry.survivor_user_id %>"><div style="border:1px solid black; background-color:rgba(45, 104, 172, 0.41); height:80px;" class="col-md-2 col-xs-3 div-team">
					 		<img width="100%" src="<%= game.team.logo_url %>">
					 	</div></a>
					 	<a data-url="<%= game.team2.logo_url %>" data-description="<%= game.team2.description %>"  data-id="<%= game.team2.id %>" data-rival="<%= game.team.name %>" data-handicap="<%= visitor_handicap %>" data-name="<%= game.team2.name %>" class="team   <%= game.past_game %>" id="<%= game.team2.id %><%= entry.survivor_user_id %>"><div style="border:1px solid black; background-color:rgba(45, 104, 172, 0.41);  height:80px;" class="col-md-2 col-xs-3 div-team">
					 		<img width="100%" src="<%= game.team2.logo_url %>">
					 	</div></a>
					 	<% end %>
					 	
					 	<script>
							var x;
						  $('.team').mouseenter(function(){
							  x =false;
							  if ($(this).hasClass('clic')){
								  $('.team-details').show();
								 $('.team_name').text($(this).data('name'));
								 $('.team_handicap').text($(this).data('handicap'));
								 $('.team_image').attr('src',$(this).data('url'));	
								 $('.team_rival').text($(this).data('rival'));	
							  }else{
								   $('.team-details').show();
								 $(this).children().css('background-color','rgba(0, 0, 128, 0.55)');
								 $('.team_name').text($(this).data('name'));
								 $('.team_handicap').text($(this).data('handicap'));
								 $('.team_image').attr('src',$(this).data('url'));
								  $('.team_rival').text($(this).data('rival'));		
							  }
						  })
						  
						  
						  
						   $('.team').mouseleave(function(){
							    if ($(this).hasClass('clic')){
									 $('.team-details').hide();
								}else{
							   if (x == true){
								   $(this).children().css('background-color','rgba(0, 128, 25, 0.49)');
							 		$('.team_name').text('');  
								    $('.team_handicap').text('');
								    $('.team_image').attr('src','');
								     $('.team_rival').text('');	
								    $('.team-details').hide();
							   }else{
							  		$(this).children().css('background-color','rgba(45, 104, 172, 0.41)');
							 		$('.team_name').text('');
								   	$('.team_handicap').text('');
								    $('.team_image').attr('src','');
								    $('.team_rival').text('');	
								    $('.team-details').hide();
							   }
								}
						  })
						   
							$('.team').click(function(){
								$('.team-detail').show();
								x = true;
								$('.team').removeClass('clic');
								$(this).addClass('clic');	
								 $('.team_select_name').text($(this).data('name'));
								 $('.team_select_description').text($(this).data('description'));
								 $('.team_select_handicap').text($(this).data('handicap'));
								 $('.team_select_image').attr('src',$(this).data('url'))	
								$('.div-team').css('background-color','rgba(45, 104, 172, 0.41)');
								$('.passgame').children().css('background-color','rgba(0, 0, 0, 0.59)');
								$('.no-selectable').css('background-color','rgba(255, 0, 0, 0.49)');
								$(this).children().css('background-color','rgba(0, 128, 25, 0.49) !important');
								$('.team_name').text($(this).data('name'));
								
								
						  })
							
							$('.passgame').unbind('click');
							$('.passgame').unbind('mouseenter');
							$('.passgame').unbind('mouseleave');
							$('.passgame').children().css('background-color','rgba(0, 0, 0, 0.59)');
							
							
							
						 </script>
		
					 </div>
					 <% end %>
					 
					 <script>
						 var team_id; var user_id; var survivor_week_survivor_id;var purchase_date; var survivor_user_id;
						$('.buy-ticket').click(function(){
							
								 team_id = parseInt($('.clic').data('id'));
								 user_id = <%= current_user.id %>;
								 survivor_week_survivor_id = <%= @survivor_week_sur[0].id %>;
								 purchase_date = new Date();
								 survivor_user_id = $(this).data('survivorcode');
								
								$('#select_team_name_modal').text('');
								$('#select_team_modal').attr("src", $('.team_select_image').attr("src"));
							    $('#select_team_name_modal').text($('.team_select_name').first().text());
								$('#select_team_description_modal').text($('.team_select_description').first().text())
								$('#confirm_modal').modal('show');
							
							$('#confirm_buy').click(function(){
									
									$(this).prop('disabled', true);
									 $.ajax({
									  method: "POST",
									  url: "/survivor_users",
									  dataType: "json",     
									  data: { survivor_user: {survivor_week_survivor_id: survivor_week_survivor_id, team_id: team_id ,  user_id: user_id ,purchase_date: purchase_date, survivor_user_id: survivor_user_id  }  }
									}).done(function( data) {
										 $('#confirm_modal').modal('hide');
									 		$('#thanks_modal').modal('show');
											setTimeout(function(){    window.location.assign("/partials/my_leagues"); }, 2000);  	  
								 	}).error(function(data) {
											 alert(data.responseJSON.errors.user_id);
											 })
							})
															
							})
						
							
				</script>
					 
				
				<script>
					$('.select_life').click(function(){
						$('.life-div').hide();	
						var id = $(this).attr('id');
						$('#life'+id+'').show();
						$("a").removeClass("clic");
						$(".team-detail").hide();
						$(".team_select_name").text('');
						$(".team_select_handicap").text('');
						$('.team_select_image').attr('url','');
						$('.selects_teams').hide();
						$('.select_team'+id+'').show();
					})
				</script>
				</div>
			  </div>
		<!-- Termina si la semana es mayor a 0 y menor igual a 17 -->
		<% else if @current_week[0].week == 0 %>  <!-- Esto se realiza si el usuario ya tiene ticket y es la semana 0 -->
      	<div class="row" style=" background-size: cover; background-image: url(<%= @current_survivor.background_url %>)">
         	<div class="row" style="background-color:rgba(0, 0, 0, 0.3)">
          	<h1 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size: 40px; color:white; font-weight:900;"><%= @current_survivor.name %></h1> <hr>
      		<h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:20px;">Ya estas participando en este survivor</h4>
      		<h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:20px;"> Haz comprado <%= @tickets_purchase.count %>  <span><%= @tickets_purchase.count > 1 ? "Entradas" : "Entrada" %></span> </h4>
      		<h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:20px;">Recompra disponibles por entrada: <span style="color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900;"><%= @current_survivor.rebuy_quantity %></span></h4>
      		<h4 style="text-align:center; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-size:20px;">Tienes: <span style="color:#06733d; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900;" id="final_date"></span> horas para comprar entradas</h4> 
      		<hr>
      			<script>
					var countdown1 = moment('<%= (@current_week[0].final_date.end_of_day - 5.hours).to_s(:db)  %>').format('MM/DD/YYYY HH:mm');   
					   $('#final_date').countdown(countdown1, function(event) {
							$(this).html(event.strftime('%H:%M:%S'));
								  
  						});
				</script>
      		<div class="row">
      			<div class="col-md-6 col-xs-6">
      				<h3 style="text-align:center; color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-size:30px; font-weight:900;">Precio de ingreso: <span style="color:white;">$<%= @current_survivor.price %></span></h3>
      			</div>
      			<div class="col-md-6 col-xs-6">
      				<h3 style="text-align:center; color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900; font-size:30px;">Bolsa acumulada: <span style="color:white" >$<%= @current_survivor.initial_balance %> </span> </h3>
      			</div>
      		</div>
      		
      		<br>
      		<h3 style="text-align:center; color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900; font-size:30px;">Usuarios participando: <span style="color:white"><%= @current_survivor.alive_users %> </span>  </h3>
      		<hr>
      		<h4 style="text-align:center"><button id="buy_entry" class="btn btn-success btn-lg" style="width: 50%; background-color:white; border-color:white; color:black; font-weight:900;"> Comprar Entrada </button></h4>
      		
      		<script>
				$('#buy_entry').click(function(){
					$(this).prop('disabled', true);
					var user_balance;
					var user_id = <%= current_user.id %>;
					var survivor_balance = <%= @current_survivor.initial_balance %>;
					var survivor_week_survivor_id = <%= @survivor_week_sur[0].id %>;
					var survivor_id = <%= @current_survivor.id %>;
					var purchase_date = new Date();
					var survivor_new_balance = parseFloat(survivor_balance) + <%= @current_survivor.price %>;
					var total_balance_update;
					if(<%=current_user.gift_credit %> >= <%= @current_survivor.price %> || <%= current_user.balance %> >= <%= @current_survivor.price %>  ){
					    user_balance = <%=current_user.gift_credit %>;
						total_balance_update = user_balance - <%= @current_survivor.price %>;
						
                    	
							  	 $.ajax({
									  method: "POST",
									  url: "/survivor_users",
									  dataType: "json",     
									  data: { survivor_user: {survivor_week_survivor_id: survivor_week_survivor_id,  user_id: user_id ,purchase_date: purchase_date, status: "alive"}  }
									}).done(function(data) {
									 				$('#thanks_modal').modal('show');
											setTimeout(function(){    window.location.assign("/partials/my_leagues"); }, 2000); 	  
								 	}).error(function(data) {
												 alert(data.responseJSON.errors.user_id);
											 })

							
               
					   }else{       //opcion cuando el cliente no tiene saldo
						    alert('No tienes saldo suficiente');
							window.location.assign("/partials/credit_card_form")
					   }
				})
				</script>
      	</div>
      	</div>
      <% else %>
      <% end %>
       <% end %>
		<% else %>						<!-- Aqui termina cuando realiza si el usuario ya tiene ticket -->
      	 <% if @current_week[0].week == 0 %> <!-- Aqui inicia la opcion si hay usuarios y la semana es igual a 0 -->
      	 	<div class="row" style="background-size: cover; background-image: url(<%= @current_survivor.background_url %>)">
         	<div class="row" style="background-color:rgba(0, 0, 0, 0.3)">
          	<h1 style="text-align:center; font-size: 40px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; color:white; font-weight:900;"><%= @current_survivor.name %></h1> <hr>
      		<h4 style="text-align:center; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:20px;">Estas a tiempo de participar en el survivor</h4>
      		<h4 style="text-align:center; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:20px;">Recompra disponibles por entrada: <span style="color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900;"><%= @current_survivor.rebuy_quantity %></span></h4>
      		<h4 style="text-align:center; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:20px;">Tienes hasta el dia: <span style="color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900;" id="final_date"></span> horas para comprar tu entrada</h4> 
      		<hr>
      		<script>
					var countdown1 = moment('<%= (@current_week[0].final_date.end_of_day - 5.hours).to_s(:db)  %>').format('MM/DD/YYYY HH:mm');   
					   $('#final_date').countdown(countdown1, function(event) {
							$(this).html(event.strftime('%H:%M:%S'));
								  
  						});
				</script>
      		<div class="row">
      			<div class="col-md-6 col-xs-6">
      				<h3 style="text-align:center; color:#06733d; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:30px; font-weight:900;">Precio de ingreso: <span style="color:white;">$<%= @current_survivor.price %></span></h3>
      			</div>
      			<div class="col-md-6 col-xs-6">
      				<h3 style="text-align:center; color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900; font-size:30px;">Bolsa acumulada: <span style="color:white" >$<%= @current_survivor.initial_balance %> </span> </h3>
      			</div>
      		</div>
      		
      		<br>
      		<h3 style="text-align:center; color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900; font-size:30px;">Usuarios participando: <span style="color:white"><%= @current_survivor.alive_users %> </span>  </h3>
      		<h3><%= @survivor_week_sur[0].id %></h3>
      		<hr>
      		<h4 style="text-align:center"><button id="buy_entry" class="btn btn-success btn-lg" style="width: 50%; background-color:white; border-color:white; color:black; font-weight:900;"> Comprar Entrada </button></h4>
      		
      		<script>
				$('#buy_entry').click(function(){
					$(this).prop('disabled', true);
					var user_balance;
					var user_id = <%= current_user.id %>;
					var survivor_balance = <%= @current_survivor.initial_balance %>;
					var survivor_week_survivor_id = <%= @survivor_week_sur[0].id %>;
					var survivor_id = <%= @current_survivor.id %>;
					var purchase_date = new Date();
					var survivor_new_balance = parseFloat(survivor_balance) + <%= @current_survivor.price %>;
					var total_balance_update;
					if(<%=current_user.gift_credit %> >= <%= @current_survivor.price %> || <%= current_user.balance %> >= <%= @current_survivor.price %>  ){
					    user_balance = <%=current_user.gift_credit %>;
						total_balance_update = user_balance - <%= @current_survivor.price %>;
						
                    	
							  	 $.ajax({
									  method: "POST",
									  url: "/survivor_users",
									  dataType: "json",     
									  data: { survivor_user: {survivor_week_survivor_id: survivor_week_survivor_id,  user_id: user_id ,purchase_date: purchase_date, status: "alive"}  }
									}).done(function( data) {
									 	$('#thanks_modal').modal('show');
									 setTimeout(function(){    window.location.assign("/partials/my_leagues"); }, 2000); 
										
								 	}).error(function(data) {
											 alert(data.responseJSON.errors.user_id);
											 })

						
               
					   }else{       //opcion cuando el cliente no tiene saldo
						    alert('No tienes saldo suficiente');
							window.location.assign("/partials/credit_card_form")
					   }
				})
				</script>
      	</div>
      	</div>
      	 <% else %> <!-- Aqui termina la opcion si hay usuarios y la semana es igual a 0 y empieza mensaje de survivor cerrado --->
      	 <div class="row" style="background-image: url(/assets/default_background.png); margin-top:-20px !important;  ">
      	<br>
     		     		 
      	<h4 style="text-align:center; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:40px; font-weight:800;">Lo sentimos pero esta liga ya comenzo</h4>	
      	<h4 style="text-align:center"><img src="/assets/Sad.png"></h4>
      	
      	<h3 style="font-size:18px; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center">Recuerda que para participar en una liga de survivor debes de compras tu entrada desde el comienzo del survivor.</h3>
      	<h3 style="font-size:18px; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center">
     	  Ya que una ves que comienza la primera semana del survivor solo pueden participar los usuarios que compraron su entrada.</h3>	  
      	<br><br>
      	 </div>
      
     	<% end %>
     	<% end %>
     	 <!-- Aqui termina el user each -->


<% else %> 	<!-- Esto se ejecuta si no hay participantes aun en el survivor -->
	  <% if @current_week[0].week == 0 %> <!-- Esto se ejecuta si la semana es la inicial -->
         	<div class="row" style="background-size:cover;  background-image: url(<%= @current_survivor.background_url %>)">
         	<div class="row" style="background-color:rgba(0, 0, 0, 0.31)">
          	<h1 style="text-align:center; font-size: 40px; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-weight:900;"><%= @current_survivor.name %></h1> <hr>
      		<h4 style="text-align:center; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:20px;">Estas a tiempo de participar en el survivor</h4>
      		<h4 style="text-align:center; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:20px;">Recompra disponibles por entrada: <span style="color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900;"><%= @current_survivor.rebuy_quantity %></span></h4>
      		<h4 style="text-align:center; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:20px;">Tienes: <span  style="color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900;" id="final_date"></span> horas para comprar tu entrada</h4> 
      		<hr>
      	  		<script>
					var countdown1 = moment('<%= (@current_week[0].final_date.end_of_day - 5.hours).to_s(:db)  %>').format('MM/DD/YYYY HH:mm');   
					   $('#final_date').countdown(countdown1, function(event) {
							$(this).html(event.strftime('%H:%M:%S'));
								  
  						});
				</script>
      		<div class="row">
      			<div class="col-md-6 col-xs-6">
      				<h3 style="text-align:center; color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-size:30px; font-weight:900;">Precio de ingreso: <span style="color:white;">$<%= @current_survivor.price %></span></h3>
      			</div>
      			<div class="col-md-6 col-xs-6">
      				<h3 style="text-align:center; color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900; font-size:30px;">Bolsa acumulada: <span style="color:white" >$<%= @current_survivor.initial_balance %> </span> </h3>
      			</div>
      		</div>
      		
      		<br>
      		<h3 style="text-align:center; color:#06733d;      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;; font-weight:900; font-size:30px;">Usuarios participando: <span style="color:white"><%= @current_survivor.alive_users %> </span>  </h3>
      		<hr>
      		<h4 style="text-align:center"><button id="buy_entry" class="btn btn-success btn-lg" style="width: 50%; background-color:white; border-color:white; color:black; font-weight:900;"> Comprar Entrada </button></h4>
      		
      		<script>
				$('#buy_entry').click(function(){
					$(this).prop('disabled', true);
					var user_balance;
					var user_id = <%= current_user.id %>;
					var survivor_balance = <%= @current_survivor.initial_balance %>;
					var survivor_week_survivor_id = <%= @survivor_week_sur[0].id %>;
					var survivor_id = <%= @current_survivor.id %>;
					var purchase_date = new Date();
					var survivor_new_balance = parseFloat(survivor_balance) + <%= @current_survivor.price %>;
					var total_balance_update;
					if(<%=current_user.gift_credit %> >= <%= @current_survivor.price %> || <%= current_user.balance %> >= <%= @current_survivor.price %>  ){
					    user_balance = <%=current_user.gift_credit %>;
						total_balance_update = user_balance - <%= @current_survivor.price %>;
						
           
							  	 $.ajax({
									  method: "POST",
									  url: "/survivor_users",
									  dataType: "json",     
									  data: { survivor_user: {survivor_week_survivor_id: survivor_week_survivor_id,  user_id: user_id ,purchase_date: purchase_date, status: "alive"}  }
									}).done(function( data) {
									 	$('#thanks_modal').modal('show');
									 	setTimeout(function(){    window.location.assign("/partials/my_leagues"); }, 2000);  
										
								 	}).error(function(data) {
												 alert(data.responseJSON.errors.user_id);
											 })

							
               
					   }else{       //opcion cuando el cliente no tiene saldo
						    alert('No tienes saldo suficiente');
							window.location.assign("/partials/credit_card_form")
					   }
				})
				</script>
      	</div>
      	</div>
      <% else %> <!-- Aqui termina la ejecucion si la semana es la inicial y no hay usuarios y empieza el mensaje de survivor cerrado -->
      	<div class="row" style="background-image: url(/assets/default_background.png); margin-top:-20px !important;  ">
      	<br>
     		 
      	<h4 style="text-align:center; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size:40px; font-weight:800;">Lo sentimos pero esta liga ya comenzo</h4>	
      	<h4 style="text-align:center"><img src="/assets/Sad.png"></h4>
      	
      <h3 style="font-size:18px; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center">Recuerda que para participar en una liga de survivor debes de compras tu entrada desde el comienzo del survivor.</h3>
      	<h3 style="font-size:18px; color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; text-align:center">
     		 Ya que una ves que comienza la primera semana del survivor solo pueden participar los usuarios que compraron su entrada.</h3>	  
      		 <br><br>
      	 </div>
      <% end %>
<% end %> <!-- fin del else si no hay usuarios -->
<% end %> <!-- Termina la pregunta si el survivor esta cerrado ----->


</div>

<div class="modal fade" id="thanks_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#2d68ac;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="text-align:center; color:white;">Compra realizada con exito</h4>
      </div>
      <div class="modal-body">
        <br>
        <img width="100%" src="/assets/letrasazul.png">
        <h4 style="text-align:center; font-size:30px; font-weight:900; color:black;">Gracias por comprar tu entrada</h4>
        <h4 style="text-align:center; font-size:30px; font-weight:900; color:#2d68ac;">!Mucha suerte!</h4>
        <br>
      </div>
     
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#2d68ac;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="text-align:center; color:white;">Confirmación de seleccion de equipo</h4>
      </div>
      <div class="modal-body">
               <h4 style="text-align:center;  color:#2d68ac; font-size:20px;">Equipo Seleccionado</h4>
               <hr style="border-color:#2d68ac">
               <h4 style="text-align:center; font-size:20px; color:black;" id="select_team_description_modal"> </h4>
               <h4 style="text-align:center; font-size:20px; color:black;" id="select_team_name_modal"> </h4>
               <h4 style="text-align:center"><img width="50%" id="select_team_modal" src=""></h4>
                  <hr style="border-color:#2d68ac">
        <h5 style="text-align:center; font-size:12px; font-weight:900; color:red;">Recuerda que una ves seleccionado el equipo no se puede cambiar tu seleccion.</h5>
        <br>
       	<h4><button class="btn btn-primary" style="width:70%" id="confirm_buy"> Confirmar equipo </button><button data-dismiss="modal" class="btn btn-danger" style="width:25%; margin-left:3%">Cancelar</button></h4>
      </div>
     
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
