<style>
	.footer {
  position: relative
}
</style>

  <div class="row">
	<input type="hidden" id="quiniela_name"/> 
    <input type="hidden" id="lottery_name"/>
		  <h3 style="text-align:center">Historial de billetes de Tiras</h3>
          <table id="history-table"  class=" table responsive table-bordered table-striped" >
            <thead style="background-color:#171616; color:white;">
              <tr>
                              	  <th>Tira</th>
                                  <th><%= t('purchase_number') %> </th>
                                  <th><%= t("activerecord.attributes.lottery.winner_number") %></th>
                                  <th><%= t("activerecord.attributes.lottery.price") %></th>
                                  <th><%= t("activerecord.attributes.user_lottery.purchase_date") %></th>
              </tr>
            </thead>

            <tbody>
           
	
            </tbody>
	  </table>
						
		
	</div>
                           
                           <hr>
                            
                      
                    
   <div class="wrapper"><h3 style="text-align:center">Historial de billetes Loterias</h3><table id="history-table-quiniela"  class="table responsive table-bordered table-hover table-striped " ><thead style="background-color:#171616; color:white;"><tr>   <th><%= t("lottery_id") %></th><th><%= t('purchase_number') %> </th><th><%= t("activerecord.attributes.quiniela.winner_number") %></th><th><%= t("activerecord.attributes.quiniela.price") %></th><th><%= t("activerecord.attributes.quiniela_user.purchase_date") %></th></tr></thead><tbody></tbody>
	   </table>
     
    <script>
  
    
		
					
	   var current_language = $("#current_language").val();
       var languaje;
    
    if(current_language == "en"){
    languaje= "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
}else{
    languaje = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
}
    
  var table2 = $('#history-table-quiniela').DataTable( {
       responsive: true,
       order: [ 4, 'desc' ],
    ajax: {
        url: "/partials/lotteries/"+<%= current_user.id %>+".json",
        dataSrc: 'partials'
    },
            "language": {
            "url": languaje
        },
    columns: [
  
        { data: function ( row, type, val, meta ) {
           return row.lottery.team.name + " vs " + row.lottery.team2.name
        }},
        { data: function ( row, type, val, meta ) {
				return (row.ticket_number < 10 ? '0' : '') + row.ticket_number;
        }  },
        { data: function ( row, type, val, meta ) {
			if (row.lottery.winner_number != null){
				return (row.lottery.winner_number < 10 ? '0' : '') + row.lottery.winner_number;
			}
             return 'Resultado pendiente';
        }  },
        { data: 'lottery.price' },
        { data: function ( row, type, val, meta ) {
            return moment(row.purchase_date ,'' ,'es').format('MM/DD/YYYY HH:mm');
        }  }
    ],
} );
										
      </script>
   </div>
   

	                             
                            
                            
                                
                         
                        


              

<!------------------------------------------------------------------------------------------------------------>	


<script>
     
      var current_language = $("#current_language").val();
       var languaje;
    
    if(current_language == "en"){
    languaje= "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
}else{
    languaje = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
}
    
  var table = $('#history-table').DataTable( {
       responsive: true,
       order: [ 4, 'desc' ],
    ajax: {
        url: "/partials/quinielas/"+<%= current_user.id %>+".json",
        dataSrc: 'partials'
    },
            "language": {
            "url": languaje
        },
    columns: [
  
        { data: function ( row, type, val, meta ) {
           return row.quiniela.team.name + " vs " + row.quiniela.team2.name
        }},
        { data: 'ticket_number' },
        { data: 'quiniela.winner_number' },
        { data: 'quiniela.price' },
        { data: function ( row, type, val, meta ) {
            return moment(row.purchase_date ,'' ,'es').format('MM/DD/YYYY HH:mm');
        }  }
    ],
} );
      
	  
      </script>
	
	
	  