<%= form_for(@user, :html => { :class => "form-horizontal" }) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <% if @user.errors.count == 1 %>
  <h5><%= t("activerecord.errors.template.header.one", model: t("activerecord.models.user")) %></h5>
  <% else %>
  <h5><%= t("activerecord.errors.template.header.other", model: t("activerecord.models.user"), :count => @user.errors.count) %></h5>
  <% end %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<style>
	.requi:before{
		content: "*";
		color:red;
	}
</style>


<!-- begin col-md-6 -->
<div class="col-md-6">
              <div class="form-group">
				  <%= f.label :name, :class => "col-md-3 requi" %>
          <div class="col-md-9">
			  <%= f.text_field :name, :class => "form-control", :required => "required" %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :last_name, :class => "col-md-3 requi" %>
          <div class="col-md-9">
            <%= f.text_field :last_name, :class => "form-control" ,:required => "required"%>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :address_1, :class => "col-md-3 requi" %>
          <div class="col-md-9">
            <%= f.text_field :address_1, :class => "form-control " ,:required => "required" %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :address_2, :class => "col-md-3 requi" %>
          <div class="col-md-9">
            <%= f.text_field :address_2, :class => "form-control" ,:required => "required"%>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :zip_code, :class => "col-md-3 requi" %>
          <div class="col-md-9">
            <%= f.text_field :zip_code, :class => "form-control" %>
			 
          </div>
        </div>
                 
                  <div class="form-group">
          <%= f.label :email, :class => "col-md-3 requi" %>
          <div class="col-md-9"> 
            <%= f.text_field :email, :class => "form-control" ,:required => "required" %>
          </div>
        </div>
                
    <div class="form-group">
          <%= f.label :photo, :class => "col-md-3" %>
          <div class="col-md-9">
              <%= f.file_field :photo, :class => "form-control"  %>
          </div>
        </div>
    
     <div class="form-group">
          <%= f.label :username, :class => "col-md-3 requi" %>
          <div class="col-md-9">
            <%= f.text_field :username, :class => "form-control" ,:required => "required" %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :password, :class => "col-md-3" %>
          <div class="col-md-9">
              <%= f.password_field :password, :class => "form-control"  %>
          </div>
        </div>
	
	  <div class="form-group">
          <%= f.label :password_confirmation, :class => "col-md-3" %>
          <div class="col-md-9">
              <%= f.password_field :password_confirmation, :class => "form-control" %>
          </div>
        </div>
    
      </div>

<div class="col-md-6">
      <div class="form-group">
          <%= f.label :phone, :class => "col-md-3 requi" %>
          <div class="col-md-9">
            <%= f.text_field :phone, :class => "form-control" ,:required => "required" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :cellphone, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :cellphone, :class => "form-control" %>
          </div>
        </div>
                  <% if signed_in? %>
                  <% if current_user.role.is_admin? %>
	<div class="form-group">
		<%= f.label :gift_credit, :class => "col-md-3" %>
          <div class="col-md-9">
			  <%= f.text_field :gift_credit, :class => "form-control" %>
          </div>
        </div>
                  <div class="form-group">
		  <%= f.label :friend_reference, :class => "col-md-3" %>
          <div class="col-md-9">
			  <%= f.text_field :friend_reference, :class => "form-control" %>
          </div>
        </div>
	<div class="form-group">
          <%= f.label :role_id, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.collection_select(:role_id, @roles_select, :id, :select_display, { :include_blank => false, :prompt => true }, required: true, :class => "form-control") %>
          </div>
        </div>
        <% end %>
              <% else %>
              <%= f.text_field :role_id, :class => "form-control" %>
              <% end %>
    
	
<script>
$(document).on('ready page:load', function() {
  return CountryStateSelect({
    country_id: "country_field_id",
    state_id: "state_field_id"
  });
});
</script>
                  <div class="form-group">
          <%= f.label :country, :class => "col-md-3 requi" %>
          <div class="col-md-9">
			  <%= f.text_field :country,:value => "México", :class => "form-control" ,:required => "required" %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :state, :class => "col-md-3 requi" %>
          <div class="col-md-9">
			  <select class="form-control" id="user_state" name="user[state]">
			  <option value="Aguascalientes">Aguascalientes</option>
			  <option value="Baja California">Baja California</option>
			  <option value="Baja California Sur">Baja California Sur</option>
			  <option value="Campeche">Campeche</option>
			  <option value="Chiapas">Chiapas</option>
			  <option value="Chihuahua">Chihuahua</option>
			  <option value="Coahuila">Coahuila</option>
			  <option value="Colima">Colima</option>
			  <option value="Durango">Durango</option>
			  <option value="DF">DF</option>
			  <option value="Estado de México">Estado de México</option>
			  <option value="Guanajuato">Guanajuato</option>
			  <option value="Guerrero"> Guerrero</option>
			  <option value="Hidalgo">Hidalgo</option>
			  <option value="Jalisco">Jalisco</option>
			  <option value="Michoacán">Michoacán</option>
			  <option value="Morelos">Morelos</option>
			  <option value="Nayarit">Nayarit</option>
			  <option value="Nuevo León">Nuevo León</option>
			  <option value="Oaxaca">Oaxaca</option>
			  <option value="Puebla">Puebla</option>
			  <option value="Querétaro">Querétaro</option>
			  <option value="Quintana Roo">Quintana Roo</option>
			  <option value="San Luis Potosí">San Luis Potosí</option>
	   		  <option value="Sinaloa">Sinaloa</option>
		      <option value="Sonora">Sonora</option>
			  <option value="Tabasco">Tabasco</option>
			  <option value="Tamaulipas">Tamaulipas</option>
			  <option value="Tlaxcala">Tlaxcala</option>
			  <option value="Veracruz"> Veracruz</option>
			  <option value="Yucatán">Yucatán</option>
			  <option value="Zacatecas">Zacatecas</option>
				  
			  </select>
           
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :city, :class => "col-md-3 requi" %>
          <div class="col-md-9">
            <%= f.text_field :city, :class => "form-control" ,:required => "required" %>
			  
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :int_number, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :int_number, :class => "form-control" %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :ext_number, :class => "col-md-3 requi" %>
          <div class="col-md-9">
            <%= f.text_field :ext_number, :class => "form-control" ,:required => "required" %>
          </div>
        </div>
    
     <div class="form-group">
         <%= f.label :favorite_team, :class => "col-md-3" %>
          <div class="col-md-9">
              <%= f.text_field :favorite_team, :class => "form-control" %>
          </div>
        </div>
    
     <div class="form-group">
          <%= f.label :birthday, :class => "col-md-3 requi" %>
          <div class="col-md-9">
              <%= f.date_field :birthday, :class => "form-control" ,:required => "required" %>
          </div>
        </div>
    
     <div class="form-group">
         <%= f.label :gender, :class => "col-md-3 requi" %>
          <div class="col-md-9">
			  <select class="form-group" name="user[gender]" id="user_gender" required>
			  	<option value="Masculino">Masculino</option>
				<option value="Femenino">Femenino</option>
			  </select>
          </div>
        </div>
    

                 
</div>
<div class="clearfix"></div>
<br>
<div class="row">
 <span style="color:red;">* <span> Campos obligatorios </span></span>
</div>


<!-- end col-md-6 -->

<div class="col-md-12">
  <div class="form-group">
    <div class="col-md-12 text-center">
      <%= f.button :class => "submit btn btn-success", :data => { :disable_with => t("actions.saving") } do %>
      <i class='icon-ok'></i>
      <%= t("actions.save") %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
