<style media="screen">
@media print {
 .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
 }
 .col-sm-12 {
      width: 100%;
 }
 .col-sm-11 {
      width: 91.66666667%;
 }
 .col-sm-10 {
      width: 83.33333333%;
 }
 .col-sm-9 {
      width: 75%;
 }
 .col-sm-8 {
      width: 66.66666667%;
 }
 .col-sm-7 {
      width: 58.33333333%;
 }
 .col-sm-6 {
      width: 50%;
 }
 .col-sm-5 {
      width: 41.66666667%;
 }
 .col-sm-4 {
      width: 33.33333333%;
 }
 .col-sm-3 {
      width: 25%;
 }
 .col-sm-2 {
      width: 16.66666667%;
 }
 .col-sm-1 {
      width: 8.33333333%;
 }
}
</style>

<div class="row">

  <h4 style="text-align:center; font-size:20px; color:black;"> Reporte de actividad Diaria  </h4>
    <h4 style="text-align:center; font-size:20px; color:black;"> <%= @date_param %>  </h4>
 <h4 style="text-align:center" > <div class="col-md-4 col-md-offset-4">  <input  style="text-align:center" id="day_select" class="form-control" type="date" > </div> </h4>
 <div class="clearfix"></div>
  <hr style="border-color:#2d68ac;">
</div>

<div class="row">
  <h4 style="text-align:center; font-size:20px; color:black;"> Enrachates </h4>
  <hr>
<% @enrachate_ticket.each do |ticket| %>
  <% free_ticket = EnrachateUser.where("enrachate_user_id = ?", ticket.enrachate_user_id).order(:id).first.id == ticket.id ? false : true %>
  <div class="col-md-3 col-sm-3 col-xs-12"><h4 style="color:#2d68ac"> Usuario: <span style="color:black"> <%= ticket.user.name + " " + ticket.user.last_name %> </span> </h4></div> <div class="col-md-3 col-sm-3 col-xs-12"> <h4 style="color:#2d68ac"> Enrachate: <span style="color:black">  <%= Enrachate.find(ticket.enrachates_id).name %> </span> </h4> </div> <div class="col-md-2 col-sm-2 col-xs-12"> <h4 style="color:#2d68ac"> Precio: <span style="color:black">  $<%= Enrachate.find(ticket.enrachates_id).price %> </span> </h4></div>
  <div class="col-md-2 col-sm-2 col-xs-6">  <h4 style="color:#2d68ac"> En bolsa: <span class="bag_enrachate" style="color:black">  $<%= free_ticket == true ? "0 (racha)" : (Enrachate.find(ticket.enrachates_id).percentage * Enrachate.find(ticket.enrachates_id).price).round(0) %> </span> </h4> </div>
  <div class="col-md-2 col-sm-2 col-xs-6">  <h4 style="color:#2d68ac"> Ganancia DB: <span class="db_enrachate" style="color:black">  $<%= free_ticket == true ? "0 (racha)"  :  ((1 - Enrachate.find(ticket.enrachates_id).percentage) * Enrachate.find(ticket.enrachates_id).price).round(0) %> </span> </h4>   </div>
  <div class="clearfix"></div>
  <hr style="border-color:black; margin-top:10px; margin-bottom:10px;">
<% end %>

<div class="col-md-3 col-sm-3 col-xs-12"> <h4 style="color:red"> Totales </h4> </div> <div class="col-md-3 col-sm-3 col-xs-12"> </div> <div class="col-md-2 col-sm-2 col-xs-12"> </div>
<div class="col-md-2 col-sm-2 col-xs-6"> <h4 style="color:black; margin-left:20%" id="total_bag_enrachate">  </h4> </div>
<div class="col-md-2 col-sm-2 col-xs-6"> <h4 style="color:black; margin-left:20%" id="total_db_enrachate">  </h4> </div>
<div class="clearfix"></div>
<hr style="margin-top:10px; margin-bottom:10px; border-color:black;">
</div>

<hr style="border-style:dotted; border-color:red;">

<div class="row">
  <h4 style="text-align:center; font-size:20px; color:black;"> Loterias </h4>
  <hr>
  <% @lottery_ticket.each do |ticket| %>
    <div class="col-md-3 col-sm-3 col-xs-12"> <h4 style="color:#2d68ac"> Usuario: <span style="color:black"> <%= ticket.user.name + " " + ticket.user.last_name %> </span> </h4></div> <div class="col-md-3 col-sm-3 col-xs-12"> <h4 style="color:#2d68ac"> Loteria: <span style="color:black">  <%= ticket.lottery.select_display %> </span> </h4> </div> <div class="col-md-2 col-sm-2 col-xs-12"> <h4 style="color:#2d68ac"> Precio: <span style="color:black">  $<%= ticket.lottery.price %> </span> </h4></div>
    <div class="col-md-2 col-sm-2 col-xs-6">  <h4 style="color:#2d68ac"> En bolsa: <span class="bag_lottery" style="color:black">  $<%= (0.95 * ticket.lottery.price).round(0) %> </span> </h4> </div>
    <div class="col-md-2 col-sm-2 col-xs-6">  <h4 style="color:#2d68ac"> Ganancia DB: <span class="db_lottery" style="color:black">  $<%= (0.05 * ticket.lottery.price).round(0) %> </span> </h4>   </div>
    <div class="clearfix"></div>
    <hr style="border-color:black; margin-top:10px; margin-bottom:10px;">
  <% end %>

  <div class="col-md-3 col-sm-3 col-xs-12"> <h4 style="color:red"> Totales </h4> </div> <div class="col-md-3 col-sm-3 col-xs-12"> </div> <div class="col-md-2 col-sm-2 col-xs-12"> </div>
  <div class="col-md-2 col-sm-2 col-xs-6"> <h4 style="color:black; margin-left:20%" id="total_bag_lottery">  </h4> </div>
  <div class="col-md-2 col-sm-2 col-xs-6"> <h4 style="color:black; margin-left:20%" id="total_db_lottery">  </h4> </div>
  <div class="clearfix"></div>
  <hr style="margin-top:10px; margin-bottom:10px; border-color:black;">

</div>

<script type="text/javascript">


  var bag_enrachate_total = 0;
  var db_enrachate_total = 0;
  var db_lottery_total = 0;
  var bag_lottery_total = 0;

  //enrachate

  $(".db_enrachate").each(function(){
    db_enrachate_total += parseFloat($(this).text().replace(/\D/g, ''));
  })
  $("#total_db_enrachate").text( "$" + db_enrachate_total);


      $(".bag_enrachate").each(function(){
        bag_enrachate_total += parseFloat($(this).text().replace(/\D/g, ''));
      })
      $("#total_bag_enrachate").text( "$" + bag_enrachate_total);

      //lottery

      $(".bag_lottery").each(function(){
        bag_lottery_total += parseFloat($(this).text().replace(/\D/g, ''));
      })
      $("#total_bag_lottery").text( "$" + bag_lottery_total);

      $(".db_lottery").each(function(){
        db_lottery_total += parseFloat($(this).text().replace(/\D/g, ''));
      })
      $("#total_db_lottery").text( "$" + db_lottery_total);


    $("#day_select").change(function(){
       window.location.assign("/users/activity_of_day/" +$(this).val()+ "" )
    })
</script>
