<style>
	.footer{
		position:fixed;
	}
</style>


<div class="row" id="info_customer">
<div class="col-md-12">
<div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12">
                                 <h1 style="text-align:center; margin:0px; color:white; "> Detalles del usuario </h1>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">

<div class="col-md-4">
	 <h2 style="text-align:center; font-weight:800; color:black;">Nombre Usuario: <span style="color:#2d68ac;"><%= @user.name %> </span> </h2> 
	</div>
	<div class="col-md-4">
	<h2 style="text-align:center ;  font-weight:800; color:black;">Saldo en DBS: <span style="color:#2d68ac;"> <%= @user.balance %> </span> </h2>
	</div>
	<div class="col-md-4">
	<h2 style="text-align:center;  font-weight:800; color:black;">Saldo de regalo: <span style="color:#2d68ac;"> <%= @user.gift_credit %> </span></h2>
	</div>
	<div class="clearfix"></div>
	<hr>
	<div class="col-md-4">
	<h2 style="text-align:center;  font-weight:800; color:black;"> Personas recomendadas: <span style="color:#2d68ac;">  <%= @recomend.length %> </span> </h2>
	<div>
	<% @recomend.each do |recome| %>
		<h4 style="text-align:center;  font-weight:800; color:black;"> Nombre: <span style="color:#2d68ac;">	<%= recome.name + " " + recome.last_name %></span> </h4>
	<% end %>
	</div>
	</div>
	<div class="col-md-4">
		<h2 style="text-align:center;  font-weight:800; color:black"> Recomendado por: <span style="color:#2d68ac;"> <%= @user.reference_by_friend ? @user.reference_by_friend : 'No tiene codigo'  %> </span> </h2>
	</div>
	<div class="col-md-4">
		
	<h2 style="text-align:center;  font-weight:800; color:black;"> Cantidad de boletos loteria comprados: <span style="color:#2d68ac;"> <%= @tickets.length	 %></span></h2>
	
	<% lottery_id = 0 %>
		 <div class="panel-body">
                                <div class="panel-group" id="accordion">
                                
	<% @tickets.each do |status| %>
		
		<% if lottery_id != status.lottery.id %>
		       <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                             <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= status.lottery.id %>" aria-expanded="false" class="collapsed"><h5 style="text-align:center; color:red;"> <%= status.lottery.game.team.name + ' vs ' + status.lottery.game.team2.name %> <span style="color:black;"><%= status.lottery.game.game_date.strftime('%F') %></span></h5></a>
                           </h5>
                        </div>
                       <div id="collapse<%= status.lottery.id %>" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                       <div class="panel-body">
                          <div class="col-md-12 loteria<%= status.lottery.id %>">
							
							<div class="col-md-2">
									<h5>Billete: <%= status.ticket_number %> </h5>
							</div>
	
						  </div>           
                       </div>
                       </div>
                </div>
	
		<% else %>
		<script>
		$('.loteria<%= status.lottery.id %>').append("<div class='col-md-2'><h5>Billete: <span><%= status.ticket_number %> </span></h5></div>");
		</script>
		<% end %>
		<% lottery_id = status.lottery.id %>
	<% end %>
			 </div>
		</div>
	</div>
	
	
	<div class="col-md-4">
		
	<h2 style="text-align:center; color:black; font-weight:800;"> Cantidad de boletos de tira comprados: <span style="color:#2d68ac;" > <%= @tira.length %></span></h2>
	
		<% quiniela_id = 0 %>
		 <div class="panel-body">
                                <div class="panel-group" id="accordion">
                                
	<% @tira.each do |status| %>
		
			<% if quiniela_id != status.quiniela.id %>
		       <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                             <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= status.quiniela.id %>" aria-expanded="false" class="collapsed"><h5 style="text-align:center; color:red;"> <%= status.quiniela.game.team.name + ' vs ' + status.quiniela.game.team2.name %> <span style="color:black;"><%= status.quiniela.game.game_date.strftime('%F') %></span></h5></a>
                           </h5>
                        </div>
				   <div id="collapse<%= status.quiniela.id %>" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                       <div class="panel-body">
						   <div class="col-md-12 quiniela<%= status.quiniela.id %>">
							
							<div class="col-md-3">
									<h5>Billete: <%= status.ticket_number %> </h5>
							</div>
	
						  </div>           
                       </div>
                       </div>
                </div>
	
		<% else %>
		<script>
			$('.quiniela<%= status.quiniela.id %>').append("<div class='col-md-3'><h5>Billete: <span><%= status.ticket_number %> </span></h5></div>");
		</script>
		<% end %>
		<% quiniela_id = status.quiniela.id %>
	<% end %>
			 </div>
		</div>
	</div>
	
	</div>
	</div>
</div>
</div>