<div class="row" id="coming-lotteries">
    <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="row" style="margin:0px; padding:0px;">
                           <h4 id="header-loterry" style="text-align:left; color:white;">Historial de Boletos comprados</h4>
                       </div>
                    </div>
                    <div class="ibox-content" style="display: block;">
                        <div class="table-responsive">
          <table id="history-table"  class=" table table-bordered table-hover table-striped nowrap" width="100%">
            <thead style="background-color:#727272; color:white;">
              <tr>
                             
                                  <th><%= t("activerecord.models.user") %></th>
                                  <th><%= t("lottery_id") %></th>
                                  <th><%= t('purchase_number') %> </th>
                                  <th><%= t("activerecord.attributes.lottery.winner_number") %></th>
                                  <th><%= t("activerecord.attributes.lottery.price") %></th>
                                  <th><%= t("activerecord.attributes.user_lottery.purchase_date") %></th>
              </tr>
            </thead>

            <tbody>
                
            </tbody>
      </div>
                    </div>
                </div>
</div>


<script>
    
      var current_language = $("#current_language").val();
       var languaje;
    
    if(current_language == "en"){
    languaje= "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
}else{
    languaje = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
}
    
      $('#history-table').DataTable( {
    ajax: {
        url: "/users/lotteries/"+ <%= current_user.id %>+".json",
        dataSrc: 'users'
    },
            "language": {
            "url": languaje
        },
    columns: [
  
        { data: 'user.username' },
        { data: function (row, type, val, meta) {
           
                var x = $.ajax({
                      method: "GET",
                      url: "/games/lottery_name/"+row.lottery.game_id+".json",
                      format: "json"
                    })
                
                 if(x){
                     alert(JSON.stringify(x));
                     return x
                 }
            
        }
        },
        { data: 'ticket_number' },
        { data: 'lottery.winner_number' },
        { data: 'lottery.price' },
        { data: function ( row, type, val, meta ) {
            return moment(row.purchase_date ,'' ,'es').format('MM/DD/YYYY HH:mm');
        }  }
    ],
} );
      
      </script>