<div class="row" id="coming-lotteries">
    <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="row" style="margin:0px; padding:0px;">
                           <h4 id="header-loterry" style="text-align:left; color:white;">Proxima Loteria: #<span id="lottery_id_type"> </span> <span class="pull-right" style="color:white" id="getting-started"></span></h4>
                       </div>
                    </div>
                    <div class="ibox-content" style="display: block;">
                        <div class="row">
                            <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                 <h4 style="text-align:center; font-size:18px;">Fecha del Juego: <span style="font-size:18px; color:#E4007D" id="game_date"></span></h4>
                                </div>    
                            </div>
                           
                        <div class="col-md-3 col-xs-12">
                            <h4 style="text-align:center"><span id='first_balance'>Bolsa Acumulada:</span> </h4>
                            <h4 id="initial_balance2" style="text-align:center;font-size: 40px; color: #E4007D;">$<span id="initial_balance"></span> USD</h4>
                            <hr>
                            <input style="display:none" id="lottery_price" value="">
                            <h4 style="text-align:center"> <%= t('lottery_price') %> </h4>
                            <h2 style="text-align:center; color:#AB005C; font-weight:800" ><span id="lottery_display_price"></span> <span> USD</span></h2> <hr>
                            </div>
                        <div class="col-md-4 col-xs-12">
                           <h3 style="text-align:center;font-size:30px;" id="team_name"></h3>
                            <h2 style="text-align:center; "><img width="50%" height="150px" id="team1" src=""></h2>
                            <h2 style="text-align:center"><input min="0" type="number" max="9" id="team_score" class="label-primary" style="text-align:center; font-size:40px; font-weight:800;"></h2>
                        </div>
                        <div class="col-md-1 col-xs-12" style="">
                            <h1 id="vs" style="text-align:center; color:red; font-weight:800; font-size:50px; margin-top:30%;">VS</h1>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h3 style="text-align:center; font-size:30px;" id="team2_name"></h3>
                             <h2 style="text-align:center"><img id="team2" width="50%" height="150px" src=""></h2>
                            <h2 style="text-align:center"><input min="0" max="9" type="number" id="team2_score" class="label-primary" style="text-align:center; font-size:40px; font-weight:800;"></h2>
                       </div>
                            
                        </div>
                    </div>
                    <div class="ibox-footer" style="background-color:#727272; color:white;">
                        <div class="row">
                        <div class="col-md-4 col-xs-12">
                             <h4 style="text-align:center"> <%= t('lottery_rules') %>: <span style="font-size:84%;" id="lottery_rules"></span>  </h4>
                        </div>
                            <div class="col-md-3 col-xs-12">
                            <h4 class="center-text" ><span class="pull-right"> Este es el numero seleccionado para participar:</span> <input style="display:none" id="lottery_id" value="">  </h4>
                            </div>
                        <div class="col-md-1  col-xs-12" id="move-top">
                             <input style="color:black" disabled class="ticket_number form-control" type="number" min="0" > 
                         
                            </div>
                           
                          <div class="col-md-4  col-xs-12" id="move-top">
                            <span class="center-text" >¿No tienes saldo? Nosotros te redireccionamos</span> <button  id="buy-ticket-button" style="margin-left:2%" class="btn btn-primary center-text">Comprar Boleto</button>
                              
                            </div>
                            </div>
                    </div>
                </div>
</div>

<div class="row" id="no-lotteries" style="display:none;">
    <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="row" style="margin:0px; padding:0px;">
                           <h4 style="text-align:left; color:white;">No hay loterias programadas actualmente.<span id="lottery_id_type"> </h4>
                       </div>
                    </div>
                    <div class="ibox-content" style="display: block; text-align:center">
                        <br>
                        <h4 style="text-align:center"><img width="10%" src="/assets/sad.ico"></h4>
                        <h2 style="color:#ab005c">Lo sentimos pero actualmente no hay loterias disponibles.</h2>
                        <h5 style="color:#E4007D">Te sugerimos esperar que se programen nuevas loterias para participar en ellas.</h5>
        </div>
    </div>
</div>

<div class="row">
<div class="col-md-6 col-xs-12" style="padding-left:0px; padding-right:7px;">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Loterias</h5>
                            <span class="label label-primary">Todas las loterias</span>
                           
                        </div>

                        <div class="ibox-content inspinia-timeline" id="future_lotteries">

                        </div>
                    </div>
                </div>
    
    <div class="col-md-6 col-xs-12" style="padding-left:7px; padding-right:0px;">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Resultado de Loterias</h5>
                            <span class="label label-primary">Ultimos 10 resultados</span>
                        </div>

                        <div class="ibox-content inspinia-timeline" id="finish_lotteries">
                            <div class="table-responsive">
          <table id="close_games_table"  class=" table responsive table-bordered table-hover table-striped nowrap" width="100%">
            <thead style="background-color:#727272; color:white;">
              <tr>
                      <th><%= t("lottery_id_id") %></th>
                      <th><%= t('activerecord.attributes.game.team') %> </th>
                      <th><%= t("activerecord.attributes.game.team2_id") %></th>
                      <th><%= t("score") %></th>
                      <th><%= t("winner_number") %></th>
              </tr>
            </thead>

            <tbody>
                
            </tbody>
      </div>
                        </div>
                    </div>
                </div>

</div>





<!--------------------- MODAL DE CONFIRMACION --------------------------->

<div class="modal fade bs-example-modal-sm" id="confirm_buy" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div style="background-color:#E4007D"  class="modal-dialog modal-md confirm_buy_modal">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" style="color:white" id="gridSystemModalLabel"><%= t('purchase_confirmation') %></h4>
      </div>
    <div class="modal-content">
     <div class="row" style="padding:5px !important;"> 
         <h4 style="text-align:center">Boleto</h4>
            <div class="col-md-12" style="border: 1px dotted black">
                <div class="row" style="padding:5px !important;">
                <h4 style="text-align:center; border-bottom:1px solid #009688; padding-bottom:2%;" id="ticket_name"></h4>    
                </div>
                <div class="row" style="padding:5px !important; border-bottom:1px solid #009688;">
                <div class="col-md-4 col-xs-4">
                    <h4 style="text-align:center"><%= t('name') %>:</h4>
                    <h5 style="text-align:center; text-transform:uppercase"><%= current_user.name %> </h5>
                    </div>
                    
                <div class="col-md-4 col-xs-4">
                    <h4 style="text-align:center"><%= t('last_name') %>:</h4>
                    <h5 style="text-align:center; text-transform:uppercase"><%= current_user.last_name %> </h5>
                    </div>
                    <div class="col-md-4 col-xs-4">
                    <h4 style="text-align:center"><%= t('ticket') %>:</h4>
                 
                    <h5 style="text-align:center" id="ticket_numer_lottery"></h5>
                 
                    </div>
                </div>
                <div class="row" style="padding:0px">
                <h4 style="text-align:right; margin-right:8%;">Total: $ <span id="total_price"> </span> </h4>
                </div>
            </div>
         <div class="col-md-12">
         <h4>Bolsa acumulada hasta el momento: <span class="total_initial_balance" style="color:#E4007D; font-size:120%;"></span> </h4> <small>* El valor de la bolsa que ves es el actual, este podra conservarse igual o aumentar segun la demanda de boletos.</small>
         </div>
        </div>
    </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-default" style="background-color:#727272" data-dismiss="modal"><%= t('close') %></button>
        <button type="button" id="confirm-buy" style="background-color:#ab005c" class="btn btn-primary"><%= t('buy') %></button>
      </div>
  </div>
</div>

<!-----------------------------------TERMINA MODAL ------------------------->



<!--------------------- MODAL DE COMPRA --------------------------->

<div class="modal fade bs-example-modal-sm" id="buy_ticket_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div style="background-color:#E4007D" class="modal-dialog modal-md confirm_buy_modal">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" style="color:white" id="gridSystemModalLabel"><%= t('purchase_confirmation') %></h4>
      </div>
    <div class="modal-content">
        <div class="row" style="padding:5px !important; ">
        <h4 style="text-align:center">Reglas de la loteria</h4>
            <h5 id="rules_modal"></h5>
        </div>
     <div class="row" style="padding:5px !important;"> 
         <h4>Selecciona el numero para participar:</h4>
         <input style="color:black" class="ticket_number form-control" id="lottery_number_in_modal" type="number" min="0" > 
        </div>
     <div class="row" style="padding:5px !important;"> 
         <h4 style="text-align:center">Boleto</h4>
            <div class="col-md-12" style="border: 1px dotted black">
                <div class="row" style="padding:0px">
                <h4 style="text-align:center; border-bottom:1px solid #009688; padding-bottom:2%;" id="ticket_name_modal"></h4>    
                </div>
                <div class="row" style="padding:0px; border-bottom:1px solid #009688;">
                <div class="col-md-4 col-xs-4">
                    <h4 style="text-align:center"><%= t('name') %>:</h4>
                    <h5 style="text-align:center; text-transform:uppercase"><%= current_user.name %> </h5>
                    </div>
                    
                <div class="col-md-4 col-xs-4">
                    <h4 style="text-align:center"><%= t('last_name') %>:</h4>
                    <h5 style="text-align:center; text-transform:uppercase"><%= current_user.last_name %> </h5>
                    </div>
                    <div class="col-md-4 col-xs-4">
                    <h4 style="text-align:center"><%= t('ticket') %>:</h4>
                 
                    <h5 style="text-align:center" id="ticket_numer_lottery_modal"></h5>
                    <input type="hidden" id="lottery_id_modal">
                    </div>
                </div>
                <div class="row" style="padding:0px">
                <h4 style="text-align:right; margin-right:8%;">Total: $ <span id="total_price_modal"> </span> </h4>
                </div>
            </div>
         <div class="col-md-12">
          <h4>Bolsa acumulada hasta el momento: $<span class="total_modal_initial_balance" style="color:#E4007D; font-size:120%;"></span> USD </h4> <small>* El valor de la bolsa que ves es el actual, este podra conservarse igual o aumentar segun la demanda de boletos.</small>
         </div>
        </div>
    </div>
       <div class="modal-footer">
           <button type="button" style="background-color:gray; border-color:727272;" class="btn btn-default" data-dismiss="modal"><%= t('close') %></button>
           <button type="button" id="confirm-buy-modal" style="background-color:#ab005c" class="btn btn-primary"><%= t('buy') %></button>
      </div>
  </div>
</div>

<!-----------------------------------TERMINA MODAL ------------------------->


<div style="display:none">
<form style="display:none;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="99DRV5EN6MMSE">
<input id="image-paypal" type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
<img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
</form>
</div>


<!----------------------------------------------SCRIPTS ----------------------------------------------------->



<script>
                var ticket_length;
                var ticket_length_modal;
                var user_id;
                var lottery_id;
                var ticket_number;
                var purchase_date;
                var current_balance;
                var lottery_price;
                
    
        $(document).ready(function(){
            
     
            
                 
         $.ajax({
  method: "GET",
  url: "/games/next_game",
  format: "json"
})
  .done(function( data) {
             
        
             if(data){
                               if (data.game.team.id < 10){
        $('#team1').attr('src','/system/teams/logos/000/000/00'+data.game.team.id+'/original/'+data.game.team.logo_file_name);
    }   else{
       $('#team1').attr('src','/system/teams/logos/000/000/0'+data.game.team.id+'/original/'+data.game.team.logo_file_name);
    }  
   
             
           $('#team_score').change(function(){
                 var select_number = String($("#team_score").val() % 10) + String($('#team2_score').val() % 10);   
                                 $(".ticket_number").val(select_number);
           })
           
            $('#team2_score').change(function(){
                 var select_number = String($("#team_score").val() % 10) + String($('#team2_score').val() % 10);   
                
                                 $(".ticket_number").val(select_number);
           })
             
     $('#team_score').text(data.game.local_score);
     $('#initial_balance').text(data.game.lotteries[0].initial_balance);   
     $(".total_initial_balance").text("$"+data.game.lotteries[0].initial_balance+ " USD");         
     $('#team_name').text(data.game.team.name);
     $('#team2_name').text(data.game.team2.name);
     $('#team2_score').text(data.game.visit_score);
     $('#game_date').text(moment(data.game.game_date,"", 'es').format('dddd D MMMM, YYYY hh:mm a'));             
     $('#ticket_name').text(data.game.team.name + " vs " + data.game.team2.name);         
             if(data.game.lotteries[0].final_number < 100){
            $('.ticket_number').mask('00', {placeholder: "00", reverse: false});
                 ticket_length = 2;
             } else if(data.game.lotteries[0].final_number < 1000){
                 $('.ticket_number').mask('000', {placeholder: "000", reverse: false});
                  ticket_length = 3;
             } else {
                  $('.ticket_number').mask('0000', {placeholder: "0000", reverse: false});
                  ticket_length = 4;
             }
     $('.ticket_number').attr('max',data.game.lotteries[0].final_number);
     $('#lottery_rules').text(data.game.lotteries[0].rules); 
    if (data.game.team2.id < 10){
         $('#team2').attr('src','/system/teams/logos/000/000/00'+data.game.team2.id+'/original/'+data.game.team2.logo_file_name)
    }   else{
        $('#team2').attr('src','/system/teams/logos/000/000/0'+data.game.team2.id+'/original/'+data.game.team2.logo_file_name)
    }      
   
  
    $('#lottery_id').val(data.game.lotteries[0].id);
    $('#lottery_id_type').text(data.game.lotteries[0].id);
    $('#lottery_price').val(data.game.lotteries[0].price); 
    $('#lottery_display_price').text("$"+data.game.lotteries[0].price); 
             
        var countdown = data.game.game_date;
        var countdown1 = moment(countdown).format('MM/DD/YYYY HH:mm');   
             
             
          
  $('#getting-started').countdown(countdown1, function(event) {
      $(this).html(event.strftime('La loteria se cierra en:  %d <%= t('day') %> %H:%M:%S <%= t('hours') %>'));
  });
             
                 user_id = <%= current_user.id %>;
                 lottery_id = $('#lottery_id').val();
                 purchase_date = new Date();
                 current_balance = <%= current_user.balance %>;
                 lottery_price = $('#lottery_price').val();


             $('#buy-ticket-button').click(function(){
                 get_ticket_info();
                 if($('.ticket_number').val() != ""){
                      var f = $('.ticket_number').val();
                      f = f.length;
                     if(f < ticket_length){
                         alert('Te faltan mas digitos en el boleto');
                     }else{
                         $('#confirm_buy').modal('show');
                     }
                 }else{
                    alert('Selecciona un numero para continuar');
                 }       
             })
             
             
             
            
                   $('#initial_balance2').textillate({ loop: true, in:{effect: 'wobble'}, out:{effect: 'flash'}  });
                    
             
             
        $('#confirm-buy').click(function(){
                      user_id = <%= current_user.id %>;
                 lottery_id = $('#lottery_id').val();
                 purchase_date = new Date();
                 lottery_price = $('#lottery_price').val();
              current_balance = <%= current_user.balance %>;
            if( current_balance >= $('#lottery_price').val()){
             $('#confirm_buy').modal('hide');    
             buy_ticket();
             update_balance();
                 
            }else{
                alert('saldo insuficiente,compra saldo para continuar'); 
                $( "#image-paypal" ).trigger( "click" );
            }
            
           
        });
             }else{
                 $('#coming-lotteries').hide();
                 $('#no-lotteries').show();
             }
             

             
       
               });
            
             function get_ticket_info(){
                 $('#ticket_numer_lottery').text($('.ticket_number').val());
                 $('#total_price').text($('#lottery_price').val());
                 
             }
             
             function buy_ticket(){
                ticket_number = $('.ticket_number').val();
                     $.ajax({
                      method: "POST",
                      url: "/user_lotteries",
                      dataType: "json",     
                      data: { user_lottery: {user_id: user_id, lottery_id: lottery_id, ticket_number: ticket_number ,purchase_date: purchase_date, status: "Comprado"}  }
                    }).done(function( data) {
                         alert('Se completo la compra');
                     });
            }
             
                function buy_ticket_modal(){
                ticket_number = $('#lottery_number_in_modal').val();
                     $.ajax({
                      method: "POST",
                      url: "/user_lotteries",
                      dataType: "json",     
                      data: { user_lottery: {user_id: user_id, lottery_id: $('#lottery_id_modal').val(), ticket_number: ticket_number ,purchase_date: purchase_date, status: "Comprado"}  }
                    }).done(function( data) {
                         alert('Se completo la compra');
                     });
            }
            
    function update_balance(){
                  user_id = <%= current_user.id %>;
                 lottery_id = $('#lottery_id').val();
                 purchase_date = new Date();
                 current_balance = <%= current_user.balance %>;
                 lottery_price = $('#lottery_price').val();
        var current_bag = parseInt($('#initial_balance').text()) + (lottery_price * .8);
        var total_balance_update = current_balance - lottery_price;
            $.ajax({
                      method: "PUT",
                      url: "/users/"+user_id+"",
                      dataType: "json",     
                      data: { user: {balance: total_balance_update} }
                    }).done(function( data) {
                         alert('Se actualizo tu saldo');
                     });
        
          $.ajax({
                      method: "PUT",
                      url: "/lotteries/"+lottery_id+"",
                      dataType: "json",     
                      data: { lottery: {initial_balance: current_bag} }
                    }).done(function( data) {
                         alert('Se actualizo la bolsa');
                     });
    }     
    function update_balance_modal(){
                 user_id = <%= current_user.id %>;
                 lottery_id = $('#lottery_id_modal').val();
        alert(lottery_id);
                 user_id = <%= current_user.id %>;
                 current_balance = <%= current_user.balance %>;
                 lottery_price = $('#total_price_modal').text();
                 var current_bag = parseInt($('#initial_balance').text()) + (lottery_price * .8);
        var total_balance_update = current_balance - lottery_price;
            $.ajax({
                      method: "PUT",
                      url: "/users/"+user_id+"",
                      dataType: "json",     
                      data: { user: {balance: total_balance_update} }
                    }).done(function( data) {
                         alert('Se actualizo tu saldo');
                     });
        
           $.ajax({
                      method: "PUT",
                      url: "/lotteries/"+lottery_id+"",
                      dataType: "json",     
                      data: { lottery: {initial_balance: current_bag} }
                    }).done(function( data) {
                         alert('Se actualizo la bolsa');
                     });
    }        
          
             
            
               $.ajax({
            method: "GET",
            url: "/games/future_games",
            format: "json"
               }).done(function(data) {
                   for(var i in data.games){
                       
                         if (data.games[i].team.id < 10){
         var image_url = '/system/teams/logos/000/000/00'+data.games[i].team.id+'/original/'+data.games[i].team.logo_file_name;
    }   else{
    var image_url = '/system/teams/logos/000/000/0'+data.games[i].team.id+'/original/'+data.games[i].team.logo_file_name;
    }  
                           if (data.games[i].team2.id < 10){
         var image_url2 = '/system/teams/logos/000/000/00'+data.games[i].team2.id+'/original/'+data.games[i].team2.logo_file_name;
    }   else{
    var image_url2 = '/system/teams/logos/000/000/0'+data.games[i].team2.id+'/original/'+data.games[i].team2.logo_file_name;
    }  

     
                       
                       if(data.games[i].category.id < 10){
                           var url = "/system/categories/logos/000/000/00"+ data.games[i].category.id+"/original/"+data.games[i].category.logo_file_name+"" ;
                       }else{
                            var url = "/system/categories/logos/000/000/0"+ data.games[i].category.id+"/original/"+data.games[i].category.logo_file_name+"";
                       }
                       
                       $("#future_lotteries").append('<div class="timeline-item"><div class="row"><div style="width:20%; padding-top:5px" class="col-xs-4 col-md-4 date"><img  class="category_logo" src=" '+url+' " ><span style="font-weight: 900;">'+moment(data.games[i].game_date ,"", "es" ).format("MMMM D YYYY, h:mm:ss a")+'</span></div><div class="col-xs-9 col-md-9 content no-top-border"><a data-lotteryid="'+data.games[i].lotteries[0].id+'" data-lotteryprice="'+data.games[i].lotteries[0].price+'" data-lotterybalance="'+data.games[i].lotteries[0].initial_balance+'" data-lotteryfinal="'+data.games[i].lotteries[0].final_number+'" data-lotteryrules="'+data.games[i].lotteries[0].rules+'" data-teamname="'+data.games[i].team.name+'" data-team2name="'+data.games[i].team2.name+'"  class="display_modal"><h3 style="text-align:center"> '+ data.games[i].team.name + ' VS ' + data.games[i].team2.name + ' </h3><div class="col-md-6 col-xs-6"> <h4 style="text-align:center"><img height="80px" class="logo_lotteries" src="'+image_url+'"> </h4></div><div class="col-md-6 col-xs-6"> <h4 style="text-align:center"> <img height="80px" class="logo_lotteries"  src="'+image_url2+'"> </h4> </div></a></div></div></div> <hr>');
                       
                          $('.display_modal').click(function(){
                              $('#lottery_number_in_modal').unmask();
                              $('#lottery_number_in_modal').val('');
                              $('.ticket_number').unmask();
                              $('.total_modal_initial_balance').text($(this).data("lotterybalance"));
                              $('#lottery_id_modal').val($(this).data("lotteryid"));
                              $('#rules_modal').text($(this).data("lotteryrules"));
                              $('#total_price_modal').text($(this).data("lotteryprice"));
                              $("#ticket_name_modal").text($(this).data("teamname") + " Vs " + $(this).data("team2name"));
                              $('#buy_ticket_modal').modal('show');
                              $('#lottery_number_in_modal').attr('max',$(this).data("lotteryfinal"));
                                if($(this).data("lotteryfinal") < 100){
                                    $('#lottery_number_in_modal').mask('00', {placeholder: "00", reverse: false});
                                         ticket_length_modal = 2;
                                     } else if($(this).data("lotteryfinal") < 1000){
                                         $('#lottery_number_in_modal').mask('000', {placeholder: "000", reverse: false});
                                          ticket_length_modal = 3;
                                     } else {
                                          $('#lottery_number_in_modal').mask('0000', {placeholder: "0000", reverse: false});
                                          ticket_length_modal = 4;
                                }
                              
                              $("#lottery_number_in_modal").change(function(){
                              $("#ticket_numer_lottery_modal").text($('#lottery_number_in_modal').val());
                              });
                             
                          })
                       
                   }      
               });
             
           $('#confirm-buy-modal').click(function(){
               var balance = <%= current_user.balance %> ;
               
               
               if($("#lottery_number_in_modal").val() != ''){
                   var f = $('#lottery_number_in_modal').val();
                      f = f.length;
                     if(f < ticket_length_modal){
                         alert('Te faltan mas digitos en el boleto');
                     }else{
                        if(balance < $('#total_price_modal').text()){
                      alert('No tienes saldo suficiente'); 
                   }else{
                         buy_ticket_modal();
               update_balance_modal();
               $('#buy_ticket_modal').modal('hide');
                   }
                     }
    
               }else{
                   alert("Debes seleccionar un numero para participar");
               }
              
           })
           
            var count = 0;
            
       var current_language = $("#current_language").val();
       var languaje;
    
    if(current_language == "en"){
    languaje= "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
}else{
    languaje = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
}
    
  var table = $('#close_games_table').DataTable( {
       responsive: true,
    ajax: {
        url: "/games/finish_games",
        dataSrc: 'games'
    },
            "language": {
            "url": languaje
        },
    columns: [
        { data: 'lotteries[0].id'},
        { data: 'team.name'},
        { data: 'team2.name'},
        { data: function(row, type, val, meta){
            return row.local_score +" - "+ row.visit_score
        }},
           { data: 'lotteries[0].winner_number'}
    ],
} );
             
         });
    

</script>
