      <% if signed_in? %>
    <% if current_user.role.is_client? %>
    <%= render 'welcome/index_client' %>
   <% else %>

 <div class="row">
   <!--   <div class="col-md-1">

                        <div class="" style="margin-left:5%">
                            <div class="btn-group i18n">
                                <button type="button" data-toggle="dropdown" class="btn btn-primary">
                                    <%= image_tag "#{I18n.locale}-icon.png" ,:style => "width:30px" %> <%= t("language_#{I18n.locale}") %>
                                </button>
                                <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                                    <li>
                                        <%= link_to "/language/i18n/es" do %>
                                        <%= image_tag "es-icon.png", :style => "width:30px" %> <%= t("language_es") %>
                                        <% end %>
                                    </li>
                                    <!--<li>
                                        <#%= link_to "/language/i18n/en" do %>
                                          <#%= image_tag "en-icon.png", :style => "width:30px" %> <#%= t("language_en") %>
                                        <#% end %>
                                    </li>
                                </ul>
                            </div>
                        </div>

     </div>  -->
     <div class="col-md-12">
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <i class="fa fa-map-o fa-5x"></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
                                    <div class="huge"><%= current_user.lottery_count %></div>
                                    <div><%= t('created_lotteries')  %></div>
                                </div>
                            </div>
                        </div>
                        <a href="/lotteries">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                 <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <i class="fa fa-ticket fa-5x "></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
                                    <div class="huge"><%= current_user.user_lotteries_count %></div>
                                    <div><%= t('ticketpurchased') %></div>
                                </div>
                            </div>
                        </div>
                        <a href="/user_lotteries">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
                                    <div class="huge"><%= current_user.users_count %></div>
                                    <div><%= t('registeredusers') %></div>
                                </div>
                            </div>
                        </div>
                        <a href="/users">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <i class="fa fa-futbol-o fa-5x"></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
                                    <div class="huge"><%= current_user.teams_count %></div>
                                    <div><%= t('registeredteams') %></div>
                                </div>
                            </div>
                        </div>
                        <a href="/teams">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

             </div>
            </div>

            <div class="row">
            	<div class="col-md-12">

                 <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <i class="fa fa-list-ol fa-5x "></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
                                    <div class="huge"><%= current_user.user_tiras_count %></div>
                                    <div>Tiras</div>
                                </div>
                            </div>
                        </div>
                        <a href="/quinielas">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <i class="fa fa-ticket fa-5x "></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
                                    <div class="huge"><%= current_user.tickets_tiras_count %></div>
                                    <div>Boletos Tiras</div>
                                </div>
                            </div>
                        </div>
                        <a href="/quiniela_users">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                	 </a>
                    </div>
                </div>
                   <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                 <img width="65px" height="65px" src="/assets/games.png">
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
									<div class="huge"><%= current_user.games_count %></div>
                                    <div>Juegos</div>
                                </div>
                            </div>
                        </div>
                        <a href="/games">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                	 </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                   <img width="130px" height="65px" src="/assets/sports.png">
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
									<div class="huge"><%= current_user.sports_count %></div>
                                    <div>Deportes</div>
                                </div>
                            </div>
                        </div>
                        <a href="/sports">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                	 </a>
                    </div>
                </div>
            	</div>
            </div>
            <div class="row">
            	<div class="col-md-12">
            	 <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                   <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
									<div class="huge">$<%= current_user.total_balances %></div>
                                    <div>Total de credito</div>
                                </div>
                            </div>
                        </div>

                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>

                    </div>
                </div>
                 <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                   <i class="fa fa-gift fa-5x"></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
									<div class="huge">$<%= current_user.total_gift_balances %></div>
                                    <div>Credito de regalo</div>
                                </div>
                            </div>
                        </div>

                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                   <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
									<div class="huge">$<span id="game_money"></span></div>
                                    <div>Dinero en Juego</div>
                                </div>
                            </div>
                        </div>

                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>

                    </div>
                </div>



            	</div>
            </div>

            <div class="row">
            	<div class="col-md-12">

                         <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                   <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
									<div class="huge">$ <%= QuinielaUser.first.money_sales %></span></div>
                                    <div> Perdido Tiras</div>
                                </div>
                            </div>
                        </div>

                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>

                    </div>
                </div>

                               <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                   <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
									<div class="huge">$ <%= UserLottery.first.money_sales %></span></div>
                                    <div>Perdido Loterias</div>
                                </div>
                            </div>
                        </div>

                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>

                    </div>
                </div>

                                     <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                   <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
									<div class="huge">$ <%= UserLottery.first.total_win %></span></div>
                                    <div>Ganado Loterias</div>
                                </div>
                            </div>
                        </div>

                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>

                    </div>
                </div>

                                     <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                   <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
									<div class="huge">$ <%= QuinielaUser.first.total_win %></span></div>
                                    <div>Ganado Tiras</div>
                                </div>
                            </div>
                        </div>

                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>

                    </div>
                </div>

            	</div>
            </div>

<div class="row">

<div class="col-md-12 col-xs-12">
   <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ventas de Ultimas 10 Quinielas<small style="color:#F7CEE4" class="m-l-sm">Quinielas</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">


                        <div class="col-md-12">
                           <canvas id="myChart2" style="width:100%"  height="100"></canvas>
                        </div>

                        </div>
                    </div>

                </div>
</div>

<div class="col-md-12 col-xs-12">
   <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ventas de Ultimas 10 Loterias<small style="color:#F7CEE4" class="m-l-sm">Loterias</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">


                        <div class="col-md-12">
                           <canvas id="myChart3" style="width:100%"  height="100"></canvas>
                        </div>

                        </div>
                    </div>

                </div>
</div>


<!--div class="col-md-6 col-xs-12">
   <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><%= t('lotteries_winners') %><small style="color:#F7CEE4" class="m-l-sm"><%= t('comparation') %></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                        <div class="col-md-6 ">
                        <ul class="list-group clear-list m-t">
                            <li class="list-group-item  fist-item">
                                <span class="pull-right">
                                    <%= current_user.lottery_count %>  <%= t('lotteries') %>
                                </span>
                                <span class="label label-primary">1</span> <%= t('total_lotteries') %>
                            </li>

                            <li class="list-group-item">
                                <span class="pull-right" >
                                      <span id="win_lotteries"> </span>  <%= t('lotteries')%>
                                </span>
                                <span class="label label-info">2</span> <%= t('lotteries_with_winners') %>
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">
                                    <span  id="no_winners"> </span> <%= t('lotteries')%>
                                </span>
                                <span class="label label-success">3</span> <%= t('lotteries_without_winners') %>
                            </li>

                        </ul>
                        </div>

                        <div class="col-md-6">
                           <canvas id="myChart" style="width:100%"  height="320"></canvas>
                        </div>

                        </div>
                    </div>

                </div>
</div-->




<div class="col-md-12 col-xs-12">
    <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Partidos a futuro<small style="color:#F7CEE4" class="m-l-sm">Partidos proximos</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                       <table id="data-table2" style="background-color:white" class="display responsive nowrap table table-striped table-bordered  dt-responsive" cellspacing="0" width="100%">
        <thead style="background-color:#171616 !important; color:white">
            <tr>
                <th>Fecha</th>
                <th>Categoria</th>
                <th>Evento</th>
                <th>Tipo</th>
                <th># Boletos</th>
                <th>Cantidad $</th>
            </tr>
        </thead>

        <tbody>

        </tbody>
    </table>
                    </div>

                </div>

</div>

<script>

	      var current_language = $("#current_language").val();
       var languaje;

    if(current_language == "en"){
    languaje= "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
}else{
    languaje = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
}


	 $('#data-table2').DataTable( {
		  responsive: true,
		 "language": {
            "url": languaje
        },
        "ajax": "/games/future_games_programed",
		 "columns": [
            { "data": "date" },
            { "data": "category" },
            { "data": "event" },
            { "data": "type" },
            { "data": "sales" },
            { "data": "money" }
        ]
    } );
	</script>

</div>


<div class="row">
<div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Consulta de Ventas<small style="color:#F7CEE4" class="m-l-sm">Ganancias y ventas</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
<br>
<div class="row">
	<div class="col-md-4">
		<h4 style="text-align:center"><label style=''> Fecha Inicial:</label></h4><input  class="selectpicker form-control" style="width:80%; margin-left:10%" type="date" id="date1">
	</div>
	<div class="col-md-4">
		<h4 style="text-align:center"><label style=''>Fecha Final:</label></h4> <h4 style="text-align:center"><input class="selectpicker form-control" style="width:80%; margin-left:10%;" type="date" id="date2"></h4>
	</div>
	<div class="col-md-4">
		<h4 style="text-align:center"><button style="width:100%; margin-top:6%" id="search" class="btn btn-primary">Consultar</button></h4>
	</div>
</div>
	<hr>
	<div class="row">
		<div class="col-md-3">
			<h4 style="text-align:center">Boletos de Loteria Vendidos</h4>
			<h2 style="text-align:center;font-weight:800" id="sell_lottery"></h2>
		</div>
		<div class="col-md-3">
			<h4 style="text-align:center">Boletos de Tira Vendidos</h4>
			<h2 style="text-align:center;font-weight:800" id="sell_tira"></h2>
		</div>
		<div class="col-md-3">
			<h4 style="text-align:center">$ de Loteria Vendidos</h4>
			<h2 style="text-align:center;font-weight:800" id="money_lottery"></h2>
		</div>
		<div class="col-md-3">
			<h4 style="text-align:center">$ de Tira Vendidos</h4>
			<h2 style="text-align:center; font-weight:800" id="money_tira"></h2>
		</div>
	</div>
	<hr>
	<div class="row">
	<div class="tabs-container">

                        <div class="tabs-left">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-6" aria-expanded="true"> Cantidad de boletos</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-7" aria-expanded="false">Cantidad de efectivo</a></li>
                            </ul>
                            <div class="tab-content ">
                                <div id="tab-6" class="tab-pane active">
                                    <div class="panel-body">
                                       	  <canvas id="myChart4" style="width:100%"  height="100"></canvas>
                                    </div>
                                </div>
                                <div id="tab-7" class="tab-pane">
                                    <div class="panel-body">
                                        	  <canvas id="myChart5" style="width:100%"  height="100"></canvas>
                                    </div>
                                </div>
                            </div>

                        </div>
						</div>
                    </div>
	</div>
</div>



<div class="row">
	<div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ventas por mes<small style="color:#F7CEE4" class="m-l-sm">Ganancias y ventas</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                       <div class="tabs-left">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-8" aria-expanded="true"> Cantidad de boletos</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-9" aria-expanded="false">Cantidad de efectivo</a></li>
                            </ul>
                            <div class="tab-content ">
                                <div id="tab-8" class="tab-pane active">
                                    <div class="panel-body">
                                       	  <canvas id="myChart6" style="width:100%"  height="100"></canvas>
                                    </div>
                                </div>
                                <div id="tab-9" class="tab-pane">
                                    <div class="panel-body">
                                        	  <canvas id="myChart7" style="width:100%"  height="100"></canvas>
                                    </div>
                                </div>
                            </div>

                        </div>

		</div>
	</div>
	</div>
</div>



<script>

	function unique(list) {
    var result = [];
    $.each(list, function(i, e) {
        if ($.inArray(e, result) == -1) result.push(e);
    });
    return result;
}
		 var myBarChart2='';
		  var myBarChart='';
	$('#search').click(function(){


		if(myBarChart != ''){
			myBarChart.destroy();
			myBarChart2.destroy();
		}
			var labels_lottery = [];
			var datasets_lottery = [];
			var datasets_tira = [];
		    var final_array_lottery = [];
		    var final_array_tira = [];
			var labels_money = [];
		    var datasets_lottery_money = [];
		    var datasets_tira_money = [];
		    var final_array_lottery_money = [];
		    var final_array_tira_money = [];

			$.ajax({
                      method: "GET",
                      url: "/user_lotteries/today_sales",
                      dataType: "json",
					  data:{date1: $('#date1').val(), date2: $('#date2').val()},
                    }).done(function( data) {
						$('#sell_lottery').text(data.totals[0]);
						$('#money_lottery').text('$' +data.totals[1]);

			for(var i in data.date_array){
				labels_lottery.push(data.date_array[i].label);
				datasets_lottery = data.date_array;
			}
				for(var i in data.total_sales){
				labels_money.push(data.total_sales[i].label);
				datasets_lottery_money =  data.total_sales;
			}
			 	$.ajax({
                      method: "GET",
                      url: "/quiniela_users/today_sales",
                      dataType: "json",
					  data:{date1: $('#date1').val(), date2: $('#date2').val()},
                    }).done(function( data) {
						$('#sell_tira').text(data.totals[0]);
						$('#money_tira').text('$' +data.totals[1]);
				for(var i in data.date_array){
				labels_lottery.push(data.date_array[i].label);
				datasets_tira =  data.date_array;
			}
						for(var i in data.total_sales){
				labels_money.push(data.total_sales[i].label);
				datasets_tira_money =  data.total_sales;
			}
				labels_lottery = unique(labels_lottery)
				labels_lottery - labels_lottery.sort();

				labels_money = unique(labels_lottery)
				labels_money - labels_lottery.sort();


				for(var o in labels_lottery){
					result = datasets_lottery.filter(x=> x.label === labels_lottery[o]);
					result2 = datasets_tira.filter(x=> x.label === labels_lottery[o]);
						if(result != ''){

							final_array_lottery.push(result[0].cuantity); }
						else{
							final_array_lottery.push(0);
						}
						if(result2 != ''){
							final_array_tira.push(result2[0].cuantity); }
						else{
							final_array_tira.push(0);
						}


				}

					for(var o in labels_lottery){
					result3 = datasets_lottery_money.filter(x=> x.label === labels_money[o]);
					result4 = datasets_tira_money.filter(x=> x.label === labels_money[o]);
						if(result3 != ''){

							final_array_lottery_money.push(result3[0].sales); }
						else{
							final_array_lottery_money.push(0);
						}
						if(result4 != ''){
							final_array_tira_money.push(result4[0].sales); }
						else{
							final_array_tira_money.push(0);
						}


				}

					 var data_lotteries = {
    labels: labels_lottery,
    datasets: [
        {
            data: final_array_lottery,
            label: "Billetes Loteria Vendidos",
            backgroundColor: "rgba(100, 31, 255, 0.2)",
            borderColor: "rgb(98, 5, 167)",
            borderWidth: 1,
            hoverBackgroundColor: "rgba(167, 20, 173, 0.4)",
            hoverBorderColor: "rgb(113, 9, 178)",
        },
	 {
            data: final_array_tira,
            label: "Billetes tira Vendidos",
            backgroundColor: "rgba(31, 255, 91, 0.2)",
            borderColor: "rgb(5, 167, 11)",
            borderWidth: 1,
            hoverBackgroundColor: "rgba(49, 173, 20, 0.4)",
            hoverBorderColor: "rgb(9, 178, 16)",
        }]
};

	 var data_money = {
    labels: labels_money,
    datasets: [
        {
            data: final_array_lottery_money,
            label: "Ganancias de loterias",
            backgroundColor: "rgba(100, 31, 255, 0.2)",
            borderColor: "rgb(98, 5, 167)",
            borderWidth: 1,
            hoverBackgroundColor: "rgba(167, 20, 173, 0.4)",
            hoverBorderColor: "rgb(113, 9, 178)",
        },
	 {
            data: final_array_tira_money,
            label: "Ganancias de Tiras",
            backgroundColor: "rgba(31, 255, 91, 0.2)",
            borderColor: "rgb(5, 167, 11)",
            borderWidth: 1,
            hoverBackgroundColor: "rgba(49, 173, 20, 0.4)",
            hoverBorderColor: "rgb(9, 178, 16)",
        }]
};


			  var ctw = document.getElementById("myChart4").getContext("2d");
			   var ctp = document.getElementById("myChart5").getContext("2d");

	        myBarChart2 = new Chart(ctp, {
    type: 'bar',
    data: data_money

	   });

	     myBarChart = new Chart(ctw, {
    type: 'bar',
    data: data_lotteries

	   });
		}) //end second metod done

		}) //end first metod done






	})
</script>


<% content_for :javascript_includes do %>
<%= javascript_include_tag "dashboard.js" %>

<% end %>
<script>
$(document).ready(function(){
        $.ajax({
                      method: "GET",
                      url: "/user_lotteries/winners_total",
                      dataType: "json",
                    }).done(function( data) {

            $('#win_lotteries').append(data);
            $('#no_winners').append(( <%= current_user.lottery_count %> - data));
            var data2 = {
    labels: [
        "<%= t('lotteries_without_winners') %>",
        "<%= t('lotteries_with_winners') %>"
    ],
    datasets: [
        {
            data: [parseInt($('#no_winners').text()), parseInt($('#win_lotteries').text())],
            backgroundColor: [
                "#23c6c8",
                "#1c84c6"
            ],
            hoverBackgroundColor: [
                "#15a0a2",
                "#36A2EB"

            ]
        }]
};


   /* var ctx = document.getElementById("myChart").getContext("2d");
    var myPieChart = new Chart(ctx,{
    type: 'pie',
    data: data2
});*/

                     });






});


</script>

   <script>
	var labels = [];
	var values = [];
	var gift = [];

	    $.ajax({
                      method: "GET",
                      url: "/quinielas/last_quinielas",
                      dataType: "json",
                    }).done(function( data) {
				for(var i in data.quinielas){
					if (data.quinielas[i].purchase_gift_tickets != null ){
						labels.push(data.quinielas[i].description)
						var x = (parseInt(data.quinielas[i].total_sales) -parseInt(data.quinielas[i].purchase_gift_tickets));
						values.push(x)
						gift.push(data.quinielas[i].purchase_gift_tickets)
					}else{
					labels.push(data.quinielas[i].description)
					values.push(data.quinielas[i].total_sales )
					gift.push(data.quinielas[i].purchase_gift_tickets)
					}
				}
			   var data = {
    labels: labels,
    datasets: [
        {
            label: "Billetes Normales Vendidos",
            backgroundColor: "rgba(100, 31, 255, 0.2)",
            borderColor: "rgb(98, 5, 167)",
            borderWidth: 1,
            hoverBackgroundColor: "rgba(167, 20, 173, 0.4)",
            hoverBorderColor: "rgb(113, 9, 178)",
            data: values,
        },
		        {
            label: "Billetes de Regalo Vendidos",
            backgroundColor: "rgba(255, 31, 246, 0.2)",
            borderColor: "rgb(167, 5, 167)",
            borderWidth: 1,
            hoverBackgroundColor: "rgba(173, 20, 132, 0.4)",
            hoverBorderColor: "rgb(178, 9, 113)",
            data: gift,
        }
    ]
};
	  var ctw = document.getElementById("myChart2").getContext("2d");


	    var myBarChart = new Chart(ctw, {
    type: 'bar',
    data: data

	   });

		});




</script>

   <script>

	   var labels2 = [];
	   var values2 = [];
	   var gift2 = [];

	    $.ajax({
                      method: "GET",
                      url: "/lotteries/last_lotteries",
                      dataType: "json",
                    }).done(function( data) {
				for(var o in data.lotteries){

		      		if(data.lotteries[o].purchase_gift_tickets != null ){
					labels2.push(data.lotteries[o].description );
					var y = data.lotteries[o].total_sales - parseInt(data.lotteries[o].purchase_gift_tickets);
					values2.push(y);
					gift2.push(data.lotteries[o].purchase_gift_tickets);
					}else{
					labels2.push(data.lotteries[o].team.description);
					values2.push(data.lotteries[o].total_sales);
					gift2.push(data.lotteries[o].purchase_gift_tickets);
					}
				}
	var data3 = {
    labels: labels2,
    datasets: [
        {
            label: "Billetes Normales Vendidos",
            backgroundColor: "rgba(0, 137, 255, 0.2)",
            borderColor: "rgb(5, 61, 167)",
            borderWidth: 1,
            hoverBackgroundColor: "rgba(5, 52, 211, 0.4)",
            hoverBorderColor: "rgb(0, 104, 193)",
            data: values2,
        },
		{
            label: "Billetes de Regalo Vendidos",
            backgroundColor: "rgba(0, 255, 69, 0.2)",
            borderColor: "rgb(5, 167, 55)",
            borderWidth: 1,
            hoverBackgroundColor: "rgba(5, 211, 60, 0.4)",
            hoverBorderColor: "rgb(0, 193, 30)",
            data: gift2,
        }
    ]
};

	  var ctz = document.getElementById("myChart3").getContext("2d");


	    var myBarChart = new Chart(ctz, {
    type: 'bar',
    data: data3
	   });

		});




</script>

   <script>
	   $( document ).ready(function() {


	   var labels = [];
	   var lotteries_values = [];
	   var tiras_values = [];
	   var lotteries_sale = [];
	   var quiniela_sale = [];
	   $.ajax({
                method: "GET",
                url: "/user_lotteries/sales_by_month",
                dataType: "json",
			    data:{},
            	}).done(function(data) {

		   			for(var i in data.tickets){
						labels.push(data.tickets[i].month);
						lotteries_values.push(data.tickets[i].sales)
					}
		   for(var i in data.sales){
						lotteries_sale.push(data.sales[i].money)
					}


		    $.ajax({
                method: "GET",
                url: "/quiniela_users/sales_by_month",
                dataType: "json",
			    data:{},
            	}).done(function(data) {
					for(var i in data.tickets){
						tiras_values.push(data.tickets[i].sales)
					}
					   for(var i in data.sales){
						quiniela_sale.push(data.sales[i].money)
					}


				   var data_lotteries_month = {
    labels: labels,
    datasets: [
        {
            data: lotteries_values,
            label: "Billetes Loteria Vendidos",
            backgroundColor: "rgba(100, 31, 255, 0.2)",
            borderColor: "rgb(98, 5, 167)",
            borderWidth: 1,
            hoverBackgroundColor: "rgba(167, 20, 173, 0.4)",
            hoverBorderColor: "rgb(113, 9, 178)",
        },
		{
			 data: tiras_values,
            label: "Billetes Tira Vendidos",
            backgroundColor: "rgba(255, 31, 212, 0.2)",
            borderColor: "rgb(167, 5, 136)",
            borderWidth: 1,
            hoverBackgroundColor: "rgba(250, 131, 255, 0.4)",
            hoverBorderColor: "rgb(242, 12, 83)",
		}
	]

};

	var data_lotteries_month_money = {
    labels: labels,
    datasets: [
        {
            data: lotteries_sale,
            label: "Billetes Loteria Vendidos",
            backgroundColor: "rgba(100, 31, 255, 0.2)",
            borderColor: "rgb(98, 5, 167)",
            borderWidth: 1,
            hoverBackgroundColor: "rgba(167, 20, 173, 0.4)",
            hoverBorderColor: "rgb(113, 9, 178)",
        },
		{
			 data: quiniela_sale,
            label: "Billetes Tira Vendidos",
            backgroundColor: "rgba(255, 31, 212, 0.2)",
            borderColor: "rgb(167, 5, 136)",
            borderWidth: 1,
            hoverBackgroundColor: "rgba(250, 131, 255, 0.4)",
            hoverBorderColor: "rgb(242, 12, 83)",
		}
	]

};

		    var ctz = document.getElementById("myChart6").getContext("2d");
		    var cta = document.getElementById("myChart7").getContext("2d");

	        myBarChart2 = new Chart(ctz, {
			type: 'bar',
			data:  data_lotteries_month

			   });
				    myBarChart3 = new Chart(cta, {
			type: 'bar',
			data:  data_lotteries_month_money

			   });
			})



	   	})

		});


  </script>

  <script>
	   $( document ).ready(function() {
	  	$.ajax({
                      method: "GET",
                      url: "/games/future_games_programed",
                      dataType: "json"
                    }).done(function( data) {

                  $('#game_money').text(data.total_sales);
		});
		});

  </script>



    <% end %>


<% end %>
