      <% if signed_in? %>
    <% if current_user.role.is_client? %>

    <%= render 'welcome/index_client' %>
   <% else %>

 <div class="row">
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <i class="fa fa-map-o fa-5x"></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
                                    <div class="huge"><%= current_user.lottery_count %></div>
                                    <div><%= t('created_lotteries')  %></div>
                                </div>
                            </div>
                        </div>
                        <a href="/lotteries">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
                                    <div class="huge"><%= current_user.users_count %></div>
                                    <div><%= t('registeredusers') %></div>
                                </div>
                            </div>
                        </div>
                        <a href="/users">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <i class="fa fa-futbol-o fa-5x"></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
                                    <div class="huge"><%= current_user.teams_count %></div>
                                    <div><%= t('registeredteams') %></div>
                                </div>
                            </div>
                        </div>
                        <a href="/teams">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <i class="fa fa-ticket fa-5x "></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
                                    <div class="huge"><%= current_user.user_lotteries_count %></div>
                                    <div><%= t('ticketpurchased') %></div>
                                </div>
                            </div>
                        </div>
                        <a href="/user_lotteries">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

<div class="row"> 

<div class="col-md-6 col-xs-12">
   <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Loterias con Ganadores<small style="color:#F7CEE4" class="m-l-sm">Comparación entre Loterias existentes y Loterias ganadas</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                        <div class="col-md-6 ">
                        <ul class="list-group clear-list m-t">
                            <li class="list-group-item  fist-item">
                                <span class="pull-right">
                                    <%= current_user.lottery_count %>  <%= t('lotteries') %>
                                </span>
                                <span class="label label-primary">1</span> Loterias Totales
                            </li>
                           
                            <li class="list-group-item">
                                <span class="pull-right" id="win_lotteries">

                                </span>
                                <span class="label label-info">2</span> Loterias con Ganador
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">
                                  
                                </span>
                                <span class="label label-success">3</span> Loterias sin Ganador
                            </li>
                            
                        </ul>
                        </div>
                        
                        <div class="col-md-6">
                           <canvas id="myChart" style="width:100%"  height="320"></canvas>
                        </div>
                        </div>
                    </div>
                    
                </div>
</div>
<div class="col-md-6 col-xs-12">
    <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Partidos de la Semana<small style="color:#F7CEE4" class="m-l-sm">Partidos programados para esta semana</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                       <table id="data-table" style="background-color:white" class="display responsive nowrap table table-striped table-bordered  dt-responsive" cellspacing="0" width="100%">
        <thead style="background-color:#727272 !important; color:white">
            <tr>
                <th>Visitante</th>
                <th>Local</th>
                <th>Fecha</th>
            </tr>
        </thead>
       
        <tbody>
            <tr>
                <td>America</td>
                <td>Chivas</td>
                <td>20 de febrero</td>
                
            </tr>
        </tbody>
    </table>
                    </div>
                  
                </div>

</div>

</div>
<% content_for :javascript_includes do %>
<%= javascript_include_tag "dashboard.js" %>

<% end %>
<script>

$(document).ready(function(){
    
        $.ajax({
                      method: "GET",
                      url: "/user_lotteries/winners_total",
                      dataType: "json",     
                    }).done(function( data) {
            $('#win_lotteries').append(data + '<%= t('lotteries') %>');
                     });
    
    var data = [
    {
        value: 300,
        color:"#4d46f7",
        highlight: "#4431d6",
        label: "Loterias Sin Ganador"
    },
    {
        value: 50,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Loterias Con Ganador"
    }
   
];
    var ctx = document.getElementById("myChart").getContext("2d");
    var myPieChart = new Chart(ctx).Pie(data);
});


</script>

    <% end %>


<% end %>





