      <% if signed_in? %>
    <% if current_user.role.is_client? %>

    <%= render 'welcome/index_client' %>
   <% else %>

 <div class="row">
   <!--   <div class="col-md-1">

                        <div class="" style="margin-left:5%">
                            <div class="btn-group i18n">
                                <button type="button" data-toggle="dropdown" class="btn btn-primary">
                                    <%= image_tag "#{I18n.locale}-icon.png" ,:style => "width:30px" %> <%= t("language_#{I18n.locale}") %>
                                </button>
                                <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                                    <li>
                                        <%= link_to "/language/i18n/es" do %>
                                        <%= image_tag "es-icon.png", :style => "width:30px" %> <%= t("language_es") %>
                                        <% end %>
                                    </li> 
                                    <!--<li>
                                        <#%= link_to "/language/i18n/en" do %>
                                          <#%= image_tag "en-icon.png", :style => "width:30px" %> <#%= t("language_en") %>
                                        <#% end %>
                                    </li> 
                                </ul>
                            </div>
                        </div>
                 
     </div>  -->
     <div class="col-md-12">
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <i class="fa fa-map-o fa-5x"></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
                                    <div class="huge"><%= current_user.lottery_count %></div>
                                    <div><%= t('created_lotteries')  %></div>
                                </div>
                            </div>
                        </div>
                        <a href="/lotteries">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                 <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <i class="fa fa-ticket fa-5x "></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
                                    <div class="huge"><%= current_user.user_lotteries_count %></div>
                                    <div><%= t('ticketpurchased') %></div>
                                </div>
                            </div>
                        </div>
                        <a href="/user_lotteries">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
                                    <div class="huge"><%= current_user.users_count %></div>
                                    <div><%= t('registeredusers') %></div>
                                </div>
                            </div>
                        </div>
                        <a href="/users">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <i class="fa fa-futbol-o fa-5x"></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
                                    <div class="huge"><%= current_user.teams_count %></div>
                                    <div><%= t('registeredteams') %></div>
                                </div>
                            </div>
                        </div>
                        <a href="/teams">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
               
             </div>
            </div>
            
            <div class="row">
            	<div class="col-md-12">
            		  
                 <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <i class="fa fa-list-ol fa-5x "></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
                                    <div class="huge"><%= current_user.user_tiras_count %></div>
                                    <div>Tiras</div>
                                </div>
                            </div>
                        </div>
                        <a href="/quinielas">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div> 
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <i class="fa fa-ticket fa-5x "></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
                                    <div class="huge"><%= current_user.tickets_tiras_count %></div>
                                    <div>Boletos Tiras</div>
                                </div>
                            </div>
                        </div>
                        <a href="/quiniela_users">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                	 </a>
                    </div>
                </div>
                   <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                 <img width="65px" height="65px" src="/assets/games.png">
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
									<div class="huge"><%= current_user.games_count %></div>
                                    <div>Juegos</div>
                                </div>
                            </div>
                        </div>
                        <a href="/games">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                	 </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                   <img width="130px" height="65px" src="/assets/sports.png">
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
									<div class="huge"><%= current_user.sports_count %></div>
                                    <div>Deportes</div>
                                </div>
                            </div>
                        </div>
                        <a href="/sports">
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                	 </a>
                    </div>
                </div>                
            	</div>
            </div>
            <div class="row">
            	<div class="col-md-12">
            	 <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                   <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
									<div class="huge">$<%= current_user.total_balances %></div>
                                    <div>Total de credito</div>
                                </div>
                            </div>
                        </div>
                     
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                	
                    </div>
                </div>         
                 <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                   <i class="fa fa-gift fa-5x"></i>
                                </div>
                                <div class="col-xs-6 col-md-9 text-right text-indicators">
									<div class="huge">$<%= current_user.total_gift_balances %></div>
                                    <div>Credito de regalo</div>
                                </div>
                            </div>
                        </div>
                       
                            <div class="panel-footer">
                                <span class="pull-left"><%= t('viewdetails') %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                	
                    </div>
                </div>         
				
            	</div>
            </div>

<div class="row"> 

<div class="col-md-6 col-xs-12">
   <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ventas de Ultimas 10 Quinielas<small style="color:#F7CEE4" class="m-l-sm">Quinielas</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                 
                        
                        <div class="col-md-12">
                           <canvas id="myChart2" style="width:100%"  height="190"></canvas>
                        </div>
                         
                        </div>
                    </div>
                    
                </div>
</div>

<div class="col-md-6 col-xs-12">
   <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ventas de Ultimas 10 Loterias<small style="color:#F7CEE4" class="m-l-sm">Loterias</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                 
                        
                        <div class="col-md-12">
                           <canvas id="myChart3" style="width:100%"  height="190"></canvas>
                        </div>
                         
                        </div>
                    </div>
                    
                </div>
</div>


<div class="col-md-6 col-xs-12">
   <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><%= t('lotteries_winners') %><small style="color:#F7CEE4" class="m-l-sm"><%= t('comparation') %></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                        <div class="col-md-6 ">
                        <ul class="list-group clear-list m-t">
                            <li class="list-group-item  fist-item">
                                <span class="pull-right">
                                    <%= current_user.lottery_count %>  <%= t('lotteries') %>
                                </span>
                                <span class="label label-primary">1</span> <%= t('total_lotteries') %>
                            </li>
                           
                            <li class="list-group-item">
                                <span class="pull-right" >
                                      <span id="win_lotteries"> </span>  <%= t('lotteries')%>
                                </span>
                                <span class="label label-info">2</span> <%= t('lotteries_with_winners') %>
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">
                                    <span  id="no_winners"> </span> <%= t('lotteries')%>
                                </span>
                                <span class="label label-success">3</span> <%= t('lotteries_without_winners') %>
                            </li>
                            
                        </ul>
                        </div>
                        
                        <div class="col-md-6">
                           <canvas id="myChart" style="width:100%"  height="320"></canvas>
                        </div>
                         
                        </div>
                    </div>
                    
                </div>
</div>

					


<div class="col-md-6 col-xs-12">
    <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Partidos de la Semana<small style="color:#F7CEE4" class="m-l-sm">Partidos programados para esta semana</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                       <table id="data-table" style="background-color:white" class="display responsive nowrap table table-striped table-bordered  dt-responsive" cellspacing="0" width="100%">
        <thead style="background-color:#171616 !important; color:white">
            <tr>
                <th>Visitante</th>
                <th>Local</th>
                <th>Fecha</th>
            </tr>
        </thead>
       
        <tbody>
            <tr>
                <td>Real Madrid</td>
                <td>Atletico de Madrid</td>
                <td>28 de Mayo</td>
                
            </tr>
        </tbody>
    </table>
                    </div>
                  
                </div>

</div>

</div>



	
	
<% content_for :javascript_includes do %>
<%= javascript_include_tag "dashboard.js" %>

<% end %>
<script>
$(document).ready(function(){
        $.ajax({
                      method: "GET",
                      url: "/user_lotteries/winners_total",
                      dataType: "json",     
                    }).done(function( data) {
       
            $('#win_lotteries').append(data);
            $('#no_winners').append(( <%= current_user.lottery_count %> - data));
            var data2 = {
    labels: [
        "<%= t('lotteries_without_winners') %>",
        "<%= t('lotteries_with_winners') %>"
    ],
    datasets: [
        {
            data: [parseInt($('#no_winners').text()), parseInt($('#win_lotteries').text())],
            backgroundColor: [
                "#23c6c8",
                "#1c84c6"
            ],
            hoverBackgroundColor: [
                "#15a0a2",
                "#36A2EB"
                
            ]
        }]
};
   
			
    var ctx = document.getElementById("myChart").getContext("2d");
    var myPieChart = new Chart(ctx,{
    type: 'pie',
    data: data2
});
            
                     });
    
	
	
	
	

});


</script>
   
   <script>
	var labels = []; 
	var values = [];
	var gift = [];    
	   
	    $.ajax({
                      method: "GET",
                      url: "/quinielas/last_quinielas",
                      dataType: "json",     
                    }).done(function( data) {
				for(var i in data.quinielas){
					if (data.quinielas[i].purchase_gift_tickets != null || data.quinielas[i].purchase_gift_tickets != '' ){
						labels.push(data.quinielas[i].description)
						var x = (data.quinielas[i].total_sales -parseInt(data.quinielas[i].purchase_gift_tickets));
						values.push(x)
						gift.push(data.quinielas[i].purchase_gift_tickets)
					}else{
					labels.push(data.quinielas[i].description)
					values.push(data.quinielas[i].total_sales )
					gift.push(data.quinielas[i].purchase_gift_tickets)
					}
				}
			   var data = {
    labels: labels,
    datasets: [
        {
            label: "Billetes Normales Vendidos",
            backgroundColor: "rgba(100, 31, 255, 0.2)",
            borderColor: "rgb(98, 5, 167)",
            borderWidth: 1,
            hoverBackgroundColor: "rgba(167, 20, 173, 0.4)",
            hoverBorderColor: "rgb(113, 9, 178)",
            data: values,
        },
		        {
            label: "Billetes de Regalo Vendidos",
            backgroundColor: "rgba(255, 31, 246, 0.2)",
            borderColor: "rgb(167, 5, 167)",
            borderWidth: 1,
            hoverBackgroundColor: "rgba(173, 20, 132, 0.4)",
            hoverBorderColor: "rgb(178, 9, 113)",
            data: gift,
        }
    ]
};
	  var ctw = document.getElementById("myChart2").getContext("2d");
	   
	   
	    var myBarChart = new Chart(ctw, {
    type: 'bar',
    data: data
			
	   });
			
		});
	   
	  
	   
	
</script>

   <script>
	
	   var labels2 = [];
	   var values2 = [];
	   var gift2 = [];
	   
	    $.ajax({
                      method: "GET",
                      url: "/lotteries/last_lotteries",
                      dataType: "json",     
                    }).done(function( data) {
				for(var o in data.lotteries){
					
		      		if(data.lotteries[o].purchase_gift_tickets != null || data.lotteries[o].purchase_gift_tickets != '' || data.lotteries[o].purchase_gift_tickets != '0'){
					labels2.push(''+data.lotteries[o].team.name + ' ' + data.lotteries[o].team2.name+ '')
					var y = (parseInt(data.lotteries[o].total_sales) - parseInt(data.lotteries[o].purchase_gift_tickets));
					values2.push(y);
					gift2.push(data.lotteries[o].purchase_gift_tickets);
					}else{
					labels2.push(''+data.lotteries[o].team.name + ' ' + data.lotteries[o].team2.name+'');
					values2.push(data.lotteries[o].total_sales);
					gift2.push(data.lotteries[o].purchase_gift_tickets);
					}
				}
			   var data3 = {
    labels: labels2,
    datasets: [
        {
            label: "Billetes Normales Vendidos",
            backgroundColor: "rgba(0, 137, 255, 0.2)",
            borderColor: "rgb(5, 61, 167)",
            borderWidth: 1,
            hoverBackgroundColor: "rgba(5, 52, 211, 0.4)",
            hoverBorderColor: "rgb(0, 104, 193)",
            data: values2, 
        },
		{
            label: "Billetes de Regalo Vendidos",
            backgroundColor: "rgba(0, 255, 69, 0.2)",
            borderColor: "rgb(5, 167, 55)",
            borderWidth: 1,
            hoverBackgroundColor: "rgba(5, 211, 60, 0.4)",
            hoverBorderColor: "rgb(0, 193, 30)",
            data: gift2,
        }
    ]
};
			alert(values2);
	  var ctz = document.getElementById("myChart3").getContext("2d");
	   
	   
	    var myBarChart = new Chart(ctz, {
    type: 'bar',
    data: data3
	   });
		
		});
	   
	  
	   
	
</script>

   
   

   
    <% end %>


<% end %>





