<%= form_for(@lottery, :html => { :class => "form-horizontal" }) do |f| %>
<% if @lottery.errors.any? %>
<div id="error_explanation">
  <% if @lottery.errors.count == 1 %>
  <h5><%= t("activerecord.errors.template.header.one", model: t("activerecord.models.lottery")) %></h5>
  <% else %>
  <h5><%= t("activerecord.errors.template.header.other", model: t("activerecord.models.lottery"), :count => @lottery.errors.count) %></h5>
  <% end %>
  <ul>
    <% @lottery.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<!-- begin col-md-6 -->
<div class="col-md-6">
              <div class="form-group">
          <%= f.label :initial_balance, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :initial_balance, :class => "form-control" %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :rules, :class => "col-md-3" %>
          <div class="col-md-9">
			  <%= f.text_area :rules,:value => 'La loteria se elegira con la combinación del ultimo digito del marcador de cada equipo.', :class => "form-control" %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :description, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_area :description, :class => "form-control" %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :game_id, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.collection_select(:game_id, @games_select, :id, :select_display, { :include_blank => false, :prompt => true }, required: true, :class => "form-control") %>
          </div>
        </div>

                  <div class="form-group">
          <%= f.label :initial_number, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :initial_number, :class => "form-control" %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :final_number, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :final_number, :class => "form-control" %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :price, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :price, :class => "form-control" %>
          </div>
        </div>
      </div>
<!-- end col-md-6 -->

<div class="col-md-12">
  <div class="form-group">
    <div class="col-md-12 text-center">
      <%= f.button :class => "submit btn btn-success", :data => { :disable_with => t("actions.saving") } do %>
      <i class='icon-ok'></i>
      <%= t("actions.save") %>
      <% end %>
    </div>
  </div>
</div>
<% end %>