<div class="row">
  <!-- begin col-12 -->
  <div class="col-md-12">
    <!-- begin panel -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <h3 style="margin-left:15px"><%= t("activerecord.models.lotteries") %></h3>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table id="data-table" class="table table-bordered responsive table-hover table-striped nowrap" width="100%">
            <thead>
              <tr>
                                  <th><%= t("activerecord.attributes.lottery.id") %></th>
                                  <th><%= t("activerecord.attributes.lottery.initial_balance") %></th>
                                  <th><%= t("activerecord.attributes.lottery.game") %></th>
                                  <th><%= t("activerecord.attributes.lottery.winner_number") %></th>
                                  <th><%= t("activerecord.attributes.lottery.initial_number") %></th>
                                  <th><%= t("activerecord.attributes.lottery.final_number") %></th>
                                  <th><%= t("activerecord.attributes.lottery.price") %></th>
				  				  <th>Ticket regalo</th>
                                  <th>Tickets Vendidos</th>
                                  <th>Ganador?</th>
                                  <th>Principal?</th>
                                    <th>Segundo juego?</th>
                                <th style="width: 155px"></th>
              </tr>
            </thead>

            <tbody>
              <% @lotteries.each do |lottery| %>
              <tr>
                  <td><%= lottery.id %></td>
                                  <td><%= lottery.initial_balance %></td>
                  <td><%= lottery.game.team.name + " vs " + lottery.game.team2.name %></td>
                                  <td><%= lottery.winner_number %></td>
                                  <td><%= lottery.initial_number %></td>
                                  <td><%= lottery.final_number %></td>
                                  <td><%= lottery.price %></td>
				  				  <td> <%= lottery.purchase_gift_tickets %></td>
								  <td> <%= lottery.total_sales %></td>
                                <td> <%= lottery.winner? %></td>
                                 <td> <%= lottery.to_mainpage %></td>
                                  <td> <%= lottery.game2_id %></td>
                                <td class="action-link">
                  <% if can? :show,lottery %>
                    <%= link_to lottery, :class => "btn btn-default", :title => t("actions.show") do %>
                      <i class="fa fa-eye"></i>
                    <% end %>
                  <% end %>
                  <% if can? :edit, lottery %>
                    <%= link_to edit_lottery_path(lottery), :class => "btn btn-info", :title => t("actions.edit") do %>
                      <i class="fa fa-pencil"></i>
                    <% end %>
                  <% end %>
                  <% if can? :delete, lottery %>
                    <%= link_to lottery, :method => :delete, :data => { :confirm => t("are_you_sure?", model: t("activerecord.models.lottery").downcase) }, :class => "btn btn-danger", :title => t("actions.delete") do %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="text-center">

        </div>
      </div>
      <!-- end panel-body -->
    </div>
    <!-- end panel -->
  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->

<!-- begin row -->
<div class="row">
  <div class="col-md-12">
    <% if can? :new, Lottery  %>
      <%= link_to new_lottery_path, :class => "btn btn-default" do %>
        <i class="icon-plus-sign-alt"></i>
        <%= t("actions.new") %>
      <% end %>
    <% end %>
  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->


<script>
       var current_language = $("#current_language").val();
       var languaje;

    if(current_language == "en"){
    languaje= "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
}else{
    languaje = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
}

$('#data-table').DataTable({
    responsive: true,
    order: [0,"desc"],
     "language": {
            "url": languaje
        }
});
</script>
