<div class="row" style="padding: 50px;">
    <br>
<div class="col-md-12 col-xs-12">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs" id="nav-categories">
                        
                        </ul>
                        <div class="tab-content" id="tab-contents">
                           
                        </div>
                    </div>
                </div>
</div>


<!------------------------------------------------------------MODAL ------------------------------------------------>

<div class="modal fade bs-example-modal-sm" id="buy_ticket_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div style="background-color:#E4007D" class="modal-dialog modal-md confirm_buy_modal">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" style="color:white" id="gridSystemModalLabel"><%= t('purchase_confirmation') %></h4>
      </div>
    <div class="modal-content">
        <div class="row" style="padding:5px !important; ">
        <h4 style="text-align:center">Reglas de la loteria</h4>
            <h5 id="rules_modal"></h5>
        </div>
     <div class="row" style="padding:5px !important;"> 
         <h4>Selecciona el numero para participar:</h4>
         <input style="color:black" class="ticket_number form-control" id="lottery_number_in_modal" type="number" min="0" > 
        </div>
     <div class="row" style="padding:5px !important;"> 
         <h4 style="text-align:center">Boleto</h4>
            <div class="col-md-12" style="border: 1px dotted black">
                <div class="row" style="padding:0px">
                <h4 style="text-align:center; border-bottom:1px solid #009688; padding-bottom:2%;" id="ticket_name_modal"></h4>    
                </div>
                <div class="row" style="padding:0px; border-bottom:1px solid #009688;">
                <div class="col-md-4 col-xs-4">
                    <h4 style="text-align:center"><%= t('name') %>:</h4>
                    <h5 style="text-align:center; text-transform:uppercase"><%= current_user.name %> </h5>
                    </div>
                    
                <div class="col-md-4 col-xs-4">
                    <h4 style="text-align:center"><%= t('last_name') %>:</h4>
                    <h5 style="text-align:center; text-transform:uppercase"><%= current_user.last_name %> </h5>
                    </div>
                    <div class="col-md-4 col-xs-4">
                    <h4 style="text-align:center"><%= t('ticket') %>:</h4>
                 
                    <h5 style="text-align:center" id="ticket_numer_lottery_modal"></h5>
                    <input type="hidden" id="lottery_id_modal">
                    </div>
                </div>
                <div class="row" style="padding:0px">
                <h4 style="text-align:right; margin-right:8%;">Total: $ <span id="total_price_modal"> </span> </h4>
                </div>
            </div>
         <div class="col-md-12">
          <h4>Bolsa acumulada hasta el momento: <span  style="color:#E4007D; font-size:120%;">$<span class="total_modal_initial_balance" style="color:#E4007D; font-size:120%;"></span> USD </span> </h4> <small>* El valor de la bolsa que ves es el actual, este podra conservarse igual o aumentar segun la demanda de boletos.</small>
         </div>
        </div>
    </div>
       <div class="modal-footer">
           <button type="button" style="background-color:gray; border-color:727272;" class="btn btn-default" data-dismiss="modal"><%= t('close') %></button>
           <button type="button" id="confirm-buy-modal" style="background-color:#ab005c" class="btn btn-primary"><%= t('buy') %></button>
      </div>
  </div>
</div>


<!-------------------------------------------------------TERMINA MODAL ---------------------------------------------->

<script>
       $.ajax({
  method: "GET",
  url: "/categories.json",
  format: "json"
})
  .done(function( data) {
           for(var i in data){
                    if(data[i].id < 10){
                           var url = "/system/categories/logos/000/000/00"+ data[i].id+"/original/"+data[i].logo_file_name+"" ;
                       }else{
                            var url = "/system/categories/logos/000/000/0"+ data[i].id+"/original/"+data[i].logo_file_name+"";
                       }
               
               if(i == 0){
                 $('#nav-categories').append('<li class="active"><a data-toggle="tab" href="#category-'+data[i].id+'"> <img width="40px" src="'+url+'"> '+data[i].name+' </a></li>');
                   
                $('#tab-contents').append('<div id="category-'+data[i].id+'" class="tab-pane active"> <div class="ibox-content inspinia-timeline" id="future_lotteries-'+data[i].id+'"></div></div></div>'  );   
                   
               }else{
                   $('#nav-categories').append('<li><a data-toggle="tab" href="#category-'+data[i].id+'"> <img width="40px" src="'+url+'"> '+data[i].name+' </a></li>');
                   
                     $('#tab-contents').append('<div id="category-'+data[i].id+'" class="tab-pane"><div class="ibox-content inspinia-timeline" id="future_lotteries-'+data[i].id+'"></div></div>'  );   
               }
        
           }
          
       });
    
    
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
       $.ajax({
            method: "GET",
            url: "/games/future_games",
            format: "json"
               }).done(function(data) {
                   for(var i in data.games){
                       
                         if (data.games[i].team.id < 10){
         var image_url = '/system/teams/logos/000/000/00'+data.games[i].team.id+'/original/'+data.games[i].team.logo_file_name;
    }   else{
    var image_url = '/system/teams/logos/000/000/0'+data.games[i].team.id+'/original/'+data.games[i].team.logo_file_name;
    }  
                           if (data.games[i].team2.id < 10){
         var image_url2 = '/system/teams/logos/000/000/00'+data.games[i].team2.id+'/original/'+data.games[i].team2.logo_file_name;
    }   else{
    var image_url2 = '/system/teams/logos/000/000/0'+data.games[i].team2.id+'/original/'+data.games[i].team2.logo_file_name;
    }  

     
                       
                       if(data.games[i].category.id < 10){
                           var url = "/system/categories/logos/000/000/00"+ data.games[i].category.id+"/original/"+data.games[i].category.logo_file_name+"" ;
                       }else{
                            var url = "/system/categories/logos/000/000/0"+ data.games[i].category.id+"/original/"+data.games[i].category.logo_file_name+"";
                       }
                       
                       $("#future_lotteries-"+data.games[i].category.id+"").append('<div class="timeline-item"><div class="row"><div style="width:20%; padding-top:5px" class="col-xs-4 col-md-4 date"><img  class="category_logo" src=" '+url+' " ><span style="font-weight: 900;">'+moment(data.games[i].game_date ,"", "es" ).format("MMMM D YYYY, h:mm:ss a")+'</span></div><div class="col-xs-9 col-md-9 content no-top-border"><a data-lotteryid="'+data.games[i].lotteries[0].id+'" data-lotteryprice="'+data.games[i].lotteries[0].price+'" data-lotterybalance="'+data.games[i].lotteries[0].initial_balance+'" data-lotteryfinal="'+data.games[i].lotteries[0].final_number+'" data-lotteryrules="'+data.games[i].lotteries[0].rules+'" data-teamname="'+data.games[i].team.name+'" data-team2name="'+data.games[i].team2.name+'"  class="display_modal"><h3 style="text-align:center"> '+ data.games[i].team.name + ' VS ' + data.games[i].team2.name + ' </h3><div class="col-md-6 col-xs-6"> <h4 style="text-align:center"><img height="80px" class="logo_lotteries" src="'+image_url+'"> </h4></div><div class="col-md-6 col-xs-6"> <h4 style="text-align:center"> <img height="80px" class="logo_lotteries"  src="'+image_url2+'"> </h4> </div></a></div></div></div> <hr>');
                       
                          $('.display_modal').click(function(){
                              $('#lottery_number_in_modal').unmask();
                              $('#lottery_number_in_modal').val('');
                              $('.ticket_number').unmask();
                              $('.total_modal_initial_balance').text($(this).data("lotterybalance"));
                              $('#lottery_id_modal').val($(this).data("lotteryid"));
                              $('#rules_modal').text($(this).data("lotteryrules"));
                              $('#total_price_modal').text($(this).data("lotteryprice"));
                              $("#ticket_name_modal").text($(this).data("teamname") + " Vs " + $(this).data("team2name"));
                              $('#buy_ticket_modal').modal('show');
                              $('#lottery_number_in_modal').attr('max',$(this).data("lotteryfinal"));
                                if($(this).data("lotteryfinal") < 100){
                                    $('#lottery_number_in_modal').mask('00', {placeholder: "00", reverse: false});
                                         ticket_length_modal = 2;
                                     } else if($(this).data("lotteryfinal") < 1000){
                                         $('#lottery_number_in_modal').mask('000', {placeholder: "000", reverse: false});
                                          ticket_length_modal = 3;
                                     } else {
                                          $('#lottery_number_in_modal').mask('0000', {placeholder: "0000", reverse: false});
                                          ticket_length_modal = 4;
                                }
                              
                              $("#lottery_number_in_modal").change(function(){
                              $("#ticket_numer_lottery_modal").text($('#lottery_number_in_modal').val());
                              });
                             
                          })
                       
                   }    
       });
    
    
    $('#confirm-buy-modal').click(function(){
               var balance = <%= current_user.balance %> ;
               
               
               if($("#lottery_number_in_modal").val() != ''){
                   var f = $('#lottery_number_in_modal').val();
                      f = f.length;
                     if(f < ticket_length_modal){
                         alert('Te faltan mas digitos en el boleto');
                     }else{
                        if(balance < $('#total_price_modal').text()){
                      alert('No tienes saldo suficiente'); 
                   }else{
                         buy_ticket_modal();
               update_balance_modal();
               $('#buy_ticket_modal').modal('hide');
                   }
                     }
    
               }else{
                   alert("Debes seleccionar un numero para participar");
               }
              
           })
    
          function buy_ticket_modal(){
               user_id = <%= current_user.id %>;
                ticket_number = $('#lottery_number_in_modal').val();
                     $.ajax({
                      method: "POST",
                      url: "/user_lotteries",
                      dataType: "json",     
                      data: { user_lottery: {user_id: user_id, lottery_id: $('#lottery_id_modal').val(), ticket_number: ticket_number ,purchase_date: purchase_date, status: "Comprado"}  }
                    }).done(function( data) {
                         alert('Se completo la compra');
                     });
            }
    
       function update_balance_modal(){
                 user_id = <%= current_user.id %>;
                 lottery_id = $('#lottery_id_modal').val();
                 user_id = <%= current_user.id %>;
                 current_balance = <%= current_user.balance %>;
                 lottery_price = $('#total_price_modal').text();
                 var current_bag = parseInt($('#initial_balance').text()) + (lottery_price * .8);
        var total_balance_update = current_balance - lottery_price;
            $.ajax({
                      method: "PUT",
                      url: "/users/"+user_id+"",
                      dataType: "json",     
                      data: { user: {balance: total_balance_update} }
                    }).done(function( data) {
                         alert('Se actualizo tu saldo');
                     });
        
           $.ajax({
                      method: "PUT",
                      url: "/lotteries/"+lottery_id+"",
                      dataType: "json",     
                      data: { lottery: {initial_balance: current_bag} }
                    }).done(function( data) {
                         alert('Se actualizo la bolsa');
                     });
    }        
    
</script>

