<div class="col-md-12 col-xs-12">
  <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <h3 style="margin-left:15px"><%= t('today_games') %></h3>
        </div>
      </div>
      <div class="panel-body" id="append-games">
              <div class="row">
            <h3 style="text-align:center"> <%= t('games_today') %> </h3>
          </div>
      <!-- end panel-body -->
    </div>
</div>
    
<script>
          $.ajax({
                      method: "GET",
                      url: "/games/today_games.json",
                      dataType: "json"  
                    }).done(function( data) {
                        for(var i in data.games){
                             if (data.games[i].team.id < 10){
                         var image_url = '/system/teams/logos/000/000/00'+data.games[i].team.id+'/original/'+data.games[i].team.logo_file_name;
                    }   else{
                    var image_url = '/system/teams/logos/000/000/0'+data.games[i].team.id+'/original/'+data.games[i].team.logo_file_name;
                    }  
                                           if (data.games[i].team2.id < 10){
                         var image_url2 = '/system/teams/logos/000/000/00'+data.games[i].team2.id+'/original/'+data.games[i].team2.logo_file_name;
                    }   else{
                    var image_url2 = '/system/teams/logos/000/000/0'+data.games[i].team2.id+'/original/'+data.games[i].team2.logo_file_name;
                    }  
              
                            
                            $('#append-games').append('<div class="row"> <div class="col-md-2"> <h4 style="text-align:center"> <%= t("instruction_close_games") %> </h4> <h4 style="text-align:center"> <button  class="button btn  btn-default" data-id="'+i+'" > <%= t("update_score") %> </button> </h4> <br> <h4 style="text-align:center"><button class="button btn btn-danger" data-id="'+i+'" > <%= t("close_lottery") %> </button> </h4> </div><div class="col-md-4"> <h4 style="text-align:center"><img width="60%" src="'+ image_url +'"> </h4> <h4 style="text-align:center"> <input type="number" style="width: 30%; margin-left:35%; text-align:center; font-size:18px;" id="team_local_score'+i+'" value="' + data.games[i].local_score + '" class="form-control"> </h4> </div> <div class="col-md-2"> <br> <br> <br> <br> <br> <h1 style="text-align:center; font-size:50px; font-weight:900;"> VS </h1> </div> <div class="col-md-4"> <h4 style="text-align:center"> <img width="60%" src="'+ image_url2 +'">  </h4> <h4 style="text-align:center"> <input type="number" style="width: 30%; margin-left:35%;  text-align:center; font-size:18px;" id="team_visit_score'+i+'" value="' + data.games[i].visit_score + '" class="form-control"> </h4> </div> </div>');
                        }
                        
                     });
      
 </script>    