<div class="col-md-12 col-xs-12">
  <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <h3 style="margin-left:15px"><%= t('today_games') %></h3>
        </div>
      </div>
      <div class="panel-body" id="append-games">
              <div class="row">
            <h3 style="text-align:center"> <%= t('games_today') %> </h3>
          </div>
      <!-- end panel-body -->
    </div>
</div>
    
<script>
    

          $.ajax({
                      method: "GET",
                      url: "/games/today_games.json",
                      dataType: "json"  
                    }).done(function( data) {
                        for(var i in data.games){
                             if (data.games[i].team.id < 10){
                         var image_url = '/system/teams/logos/000/000/00'+data.games[i].team.id+'/original/'+data.games[i].team.logo_file_name;
                    }   else{
                    var image_url = '/system/teams/logos/000/000/0'+data.games[i].team.id+'/original/'+data.games[i].team.logo_file_name;
                    }  
                                           if (data.games[i].team2.id < 10){
                         var image_url2 = '/system/teams/logos/000/000/00'+data.games[i].team2.id+'/original/'+data.games[i].team2.logo_file_name;
                    }   else{
                    var image_url2 = '/system/teams/logos/000/000/0'+data.games[i].team2.id+'/original/'+data.games[i].team2.logo_file_name;
                    }  
              
                            
                            $('#append-games').append('<div class="row"> <div class="col-md-2"> <br> <h4 style="text-align:center"> <%= t("instruction_close_games") %> </h4> <br> <h4 style="text-align:center"> <button class="button btn   btn-default update_score" data-id="'+data.games[i].id+'" > <%= t("update_score") %> </button> </h4> <br> <h4 style="text-align:center"> Numero Ganador </h4> <input style="text-align:center" class="form-control" id="winner_number_input'+data.games[i].id+'" > <br> <h4 style="text-align:center"><button class="button btn btn-danger" data-id="'+data.games[i].id+'" data-idlottery="'+data.games[i].lotteries[0].id+'"  > <%= t("close_lottery") %> </button> </h4> </div><div class="col-md-4"> <h4 style="text-align:center"><img width="60%" src="'+ image_url +'"> </h4> <h4 style="text-align:center"> <input type="number" style="width: 30%; margin-left:35%; text-align:center; font-size:30px; height:60px;" id="team_local_score'+data.games[i].id+'" value="' + data.games[i].local_score + '" class="form-control"> </h4> </div> <div class="col-md-2"> <br> <br> <br> <br> <br> <h1 style="text-align:center; font-size:50px; font-weight:900;"> VS </h1> </div> <div class="col-md-4"> <h4 style="text-align:center"> <img width="60%" src="'+ image_url2 +'">  </h4> <h4 style="text-align:center"> <input type="number" style="width: 30%; margin-left:35%;  text-align:center; font-size:30px; height:60px;" id="team_visit_score'+data.games[i].id+'" value="' + data.games[i].visit_score + '" class="form-control"> </h4> </div> </div> <hr>');
                                                      
                                                      
                                 var winner = String(data.games[i].local_score % 10) + String(data.games[i].visit_score % 10);                        
                                 $("#winner_number_input"+data.games[i].id).val(winner);
                                                      
                                  $(".update_score").click(function(){
                                       var game_id = $(this).data("id");
                                       var loca_score = $("#team_local_score"+game_id+"").val();   
                                       var visit_score = $("#team_visit_score"+game_id+"").val();   
                                           $.ajax({
                                                  method: "PUT",
                                                 url: "/games/"+game_id,
                                                data: { game: {local_score: loca_score, visit_score: visit_score} },
                                               dataType: "json"  
                                                  }).done(function(data){
                                                 location.reload();
                                                 })
                                              });
                            
                                  $(".update_score").click(function(){
                                       var game_id = $(this).data("id");
                                       var winner_number = $("#team_local_score"+game_id+"").val();   
                                      
                                           $.ajax({
                                                  method: "PUT",
                                                 url: "/lottery/"+game_id,
                                                data: { lottery: {winner_number: winner_number} },
                                               dataType: "json"  
                                                  }).done(function(data){
                                                 location.reload();
                                                 })
                                              });
                        }
                        
                     });
      
 </script>    