<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      
      <style>
    h1{font-size:40px; text-align:center;}
    h2, h3, h4, h5{text-align:center;}
    h4{font-size:20px}
    h5{font-size:16px}      
    .welcome{color:white;}
    .panel-header{background-color:#E4007D; width:100%;}    
    .panel{width:100%;}      
    .row {width:100%; display:flex;}   
    .col-md-4 {width:33.33%; float: left;}      
    .col-md-12{width:100%;}      
    .col-md-6{width:50%;}     
    #ticket_name_modal{margin-left:20%;}      
          
</style>
  </head>
  <body>
      <div class="panel">
        <div class="panel-header">
           <h1 class="welcome">Gracias por participar con nosotros en esta loteria.</h1>
           <h2 class="welcome">Te deseamos la mejor de la suerte.Aqui los detalles de tu compra</h2>      
          </div>
      
      </div>
      <div class="panel-body">
        <div  class="col-md-6" style="border: 1px dotted black; margin-left:25%">
                <div class="row" style="padding:0px">
                <h4 style="margin-left:30%;" id="ticket_name_modal"><%= @lottery.game.team.name + ' vs ' + @lottery.game.team2.name %> </h4>    
                </div>
                <div class="row" style="padding:0px;  border-top: 1px solid #009688; border-bottom:1px solid #009688;">
                <div class="col-md-4 col-xs-4" style="float:left">
                    <h4 style="text-align:center">Nombre:</h4>
                    <h5 style="text-align:center; text-transform:uppercase"><%= @user.name %> </h5>
                    </div>
                    
                <div class="col-md-4 col-xs-4" style="float:left">
                    <h4 style="text-align:center">Apellido:</h4>
                    <h5 style="text-align:center; text-transform:uppercase"><%= @user.last_name %> </h5>
                    </div>
                    <div class="col-md-4 col-xs-4" style="float:left;">
                    <h4 style="text-align:center">Numero de Boleto:</h4>
                 
                    <h5 style="text-align:center" ><%= @user_lottery.ticket_number %></h5>
                    <input type="hidden" id="lottery_id_modal">
                    </div>
                </div>
                <div class="row" style="padding:0px">
                <h4 style="text-align:right; margin-right:8%;">Total: $ <span id="total_price_modal"><%= @lottery.price %> </span> </h4>
                </div>
            </div>
      </div>
       
    
 
   
      
      <p>Gracias por tu compra, <span style="text-transform:uppercase"></span></p>
      <p>Compraste el numero   <span>  </span> </p>
      <p>Para el partido   <span>    </span> </p>
      <p>Te deseamos Mucha suerte</p>
  </body>
</html>