<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      
      <style>
    h1{font-size:40px; text-align:center;}
    h2, h3, h4, h5{text-align:center;}
    h4{font-size:20px;}
    h5{font-size:16px;}      
    .welcome{color:black;}
    .panel-header{width:100%;}    
    .panel{width:100%;}      
    .row {width:100%; display:block;}   
    .col-md-4 {width:33.33%; float: left; display:table-cell;}      
    .col-md-12{width:100%;}      
    .col-md-6{width:50%;}     
    #ticket_name_modal{margin-left:20%;}   
    .margin-center{}   
    .panel-footer{ width:100%;}
</style>
      
  </head>
  <body>
      <div class="panel">
        <div class="panel-header">
                 <h4 style="text-align:center"> <img width="80%" src="https://scontent-dfw1-1.xx.fbcdn.net/v/t1.0-9/13428419_255873698116190_4544569671011974568_n.png?oh=a341237d398d08639a411fd4533b9d24&oe=5825D3A7"></h4>
           <h1 class="welcome">Gracias por participar.</h1>
           <h2 class="welcome">!Te deseamos suerte!</h2>      
          </div>
      
      </div>
      <div class="panel-body">
          <h4>El partido a comenzado: <%= @game.format_date %> </h4>
           <h3 style="margin-left:30%; margin:0px; font-weight:900; color:black" id="ticket_name_modal"><%= @game.team.name + '   vs   ' + @game.team2.name %> </h3>  
          <div class="margin-center row">
          <div class="col-md-12 " style="">
                <div class="row" style="padding:0px">
                    <h2 style="color:black; font-weight:800;">El valor de la bolsa quedo en: <%= @lottery.initial_balance %> DB</h2>
                    <h2 style="color:black; font-weight:800;">Te deseamos mucho suerte, tus billetes participantes son:</h2>
                    <h1 style="color:black; font-weight:900;"> Billete: <%= @tickets %> </h1>
                    <h1> Veces comprado: <%= @repeat_number %> </h1>
                </div>
            </div>
          </div>
          <br>
      </div>
    <div class="panel-footer">
       
        <h4 style="text-align:center"><a style="text-align:center; color:#2D68AC; font-size:25px;" href="http://donbillete.com">Entra a nuestro sitio para seguir jugando</a> </h4> <br>
         <h4>Siguenos en:  <a href="https://www.facebook.com/7donbillete/"><img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/12924533_216008632102697_6569374066802473538_n.png?_nc_eui=ARgvbFZs7y5Iq1FvtrgQEHdq7cJHQzYWWFh4NMDHrdGToc9H2j1tGA&oh=a06d9609adcc4ecce4132ce1e2be38c4&oe=578D01AA" width="50px"></a> <a href="https://twitter.com/7DONBILLETE"><img width="50px" src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/12417900_216008615436032_1537948209837185904_n.png?_nc_eui=ARiUxbBXmdA8nCxKnkE9LGmNrwbzAfGT6byEr7pgq-PdgCBFNW5iEw&oh=a38990118122134469933f22d8d6e0d2&oe=57B859C9"></a>  </h4>
      </div>
  </body>
</html>