<!-- begin row -->
<div class="row">
  <!-- begin col-md-12 -->
  <div class="col-md-12">
    <div class="invoice">
      <div class="invoice-content">
        <div class="table-responsive">
         <div class="row">
			<div class="col-md-4">
				<h4><%= t("activerecord.attributes.quiniela_user.user") %>: </h4>
				<h5><%= @quiniela_user.user.select_display %></h5>
			 </div>
			 <div class="col-md-4">
				 <h4><%= t("activerecord.attributes.quiniela_user.quiniela") %>: </h4>
				 <h5><%= @quiniela_user.quiniela.description %></h5>
			 </div>
			 <div class="col-md-4">
				 <h4><%= t("activerecord.attributes.quiniela_user.ticket_number") %>: </h4>
				 <h5><%= @quiniela_user.ticket_number %></h5>
			 </div>
			</div>     
			<div class="row">
				<div class="col-md-4">
				 <h4><%= t("activerecord.attributes.quiniela_user.status") %>: </h4>
				 <h5><%= @quiniela_user.status %></h5>
				</div>
				<div class="col-md-4">
					<h4><%= t("activerecord.attributes.quiniela_user.purchase_date") %>: </h4>
					<h5><%= @quiniela_user.purchase_date %></h5>
				</div>
				<div class="col-md-4">
				    <h4><%= t("activerecord.attributes.quiniela_user.created_at") %>: </h4>
                    <h5><%= @quiniela_user.created_at %></h5>
				</div>
			</div>
        </div>
      </div>
      <div class="invoice-footer text-muted"></div>
    </div>
  </div>
  <!-- end col-md-12 -->
</div>
<!-- end row -->

<!-- begin row -->
<div class="row">
  <div class="col-md-12">
    <% if can? :edit, @quiniela_user %>
      <%= link_to edit_quiniela_user_path(@quiniela_user), :class => "btn btn-default" do %>
        <i class="icon-pencil"></i>
        <%= t("actions.edit") %>
      <% end %>
    <% end %>
    <% if can? :delete, @quiniela_user %>
      <%= link_to @quiniela_user, method: :delete, data: { confirm: t("are_you_sure?", model: t("activerecord.models.quiniela_user").downcase) }, :class => "btn btn-danger" do %>
        <i class="icon-trash"></i>
        <%= t("actions.delete") %>
      <% end %>
    <% end %>
    <% if can? :index, QuinielaUser  %>
      <%= link_to quiniela_users_path, :class => "btn btn-default" do %>
        <i class="icon-chevron-left"></i>
        <%= t("actions.back") %>
      <% end %>
    <% end %>
  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->