<% if params[:first] %>
	  <% logger.info 'simon' %>
 <%else%>
	  <script>
		   window.location.assign("/_index2.html")
	</script>
<% end %>
  
   <style>
    .slide{
        background-image:url("/assets/fondonegro.jpg");
        background-position-y: -250px;
        background-position-x: 157px;
        padding-top:50px;
        padding-bottom:50px;
    }
    
    .bx-viewport{
        left:0px !important;
        border:0px !important;
    }
		#tira .bx-wrapper .bx-viewport{
			 background-color:transparent;
			 border: none;	
			}
</style>




<div class="margin-row" >
<div id="login_form_responsive2" style="display:none;" class="row">
    <h4 style="text-align:center"><%= t('login') %></h4>
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :class => "form-inline") do |f| %>
            <div class="col-md-4">
             <div class="field form-group">
                 <%= f.label :email, :style => 'color:black' %><br />
                  <%= f.email_field :email, :style => "color:black", :class => "form-control", autofocus: true %>
              </div>
            </div>
            
            <div class="col-md-4">
            <div class="field form-group">
    <%= f.label :password, :style => 'color:black' %><br />
    <%= f.password_field :password, :style => "color:black",  :class => "form-control",  autocomplete: "off" %>
                 <div class="actions" style="color:black">
                        <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
        <%= f.label t('remember_me') , :style => 'color:black' %>
    </div>
  <% end -%>
      <%= f.submit t('log_in'), :class => "form-group btn", :style => "background-color:#720062; margin-top:2%; width:100%; color: white;
    font-weight: 900;" %> <br>
        
      <div id="status">
</div>
  </div>
  </div>
            </div>
            
            <div class="col-md-4">
               <%= render "devise/shared/links" %>
            </div>

<% end %>
        </div>


<h1 style="text-align:center; font-size:30px; font-weight:900; color:#2d68ac;">Tiras</h1>
<div id="mainwrapper"><!-- This #mainwrapper section contains all of our images to make them center and look proper in the browser ->
 
</div> <!-- end of #mainwrapper-->
</div>
<div class="clearfix"></div>
<hr>

<h1 style="text-align:center; font-size:30px; font-weight:900; color:#2d68ac;">Loterias</h1>
<div id="mainwrapper2"><!-- This #mainwrapper section contains all of our images to make them center and look proper in the browser ->
 
</div> <!-- end of #mainwrapper-->
</div>
<div class="clearfix"></div>

<hr>
<br>

<div class="row" id="tiras_div"  style="">

                  
                      <div class="cycle-tira" data-cycle-fx="tileBlind" data-cycle-pause-on-hover="true" data-cycle-speed="200">
          
            </div>
	  </div>
	 
<div class="clearfix"></div> <br>
<div class="row" style="margin-top: -20px !important;">
<div id="slider1">
</div>
</div>   

  


<div id="Instructions" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:100%; margin-top:0px;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 style="text-align:center; font-size:47px; color:black;" class="modal-title">Bienvenido a <img width="400px;" src="/assets/logo_donbillete.png">  </h4>
      </div>
      <div class="modal-body">
      	<div class="row">
      		<div class="introduction">
      			<h4 style="text-align:center">1</h4>
      			<div class="col-md-4">
      				<img width="100%" src="/assets/crearcuenta1.PNG">
      			</div>
      			
      			<button class="btn btn-primary pull-right" id="change_two">Continuar</button>
      		</div>
      		
      		<div class="second-div" style="display:none;">
      			<h4 style="text-align:center">2</h4>
      			<div class="col-md-12">
      				<img width="100%" src="/assets/crearcuenta2.PNG">
      			</div>
      			<button class="btn btn-primary pull-right" id="change_three">Continuar</button>
      		</div>
      		
      			<div class="third-div" style="display:none;">
      			<h4 style="text-align:center">3</h4>
      			<div class="col-md-12">
      				<img width="100%" src="/assets/crearcuenta3.PNG">
      			</div>
      			<button class="btn btn-primary pull-right" id="back_first">Continuar</button>
      		</div>
      		
      		
      	</div>
       	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>

</div>


<script>
    var current_language = $("#current_language").val();
      $.ajax({
            method: "GET",
            url: "/partials/future_games",
            format: "json"
               }).done(function(data) {
                                for(var i in data.partials){
									
									if(data.partials[i].lotteries != [] && data.partials[i].lotteries != null && data.partials[i].lotteries != '') {									
                                  
                         if (data.partials[i].team.id < 10){
         var image_url = '/system/teams/logos/000/000/00'+data.partials[i].team.id+'/original/'+data.partials[i].team.logo_file_name;
    }   else{
    var image_url = '/system/teams/logos/000/000/0'+data.partials[i].team.id+'/original/'+data.partials[i].team.logo_file_name;
    }  
                           if (data.partials[i].team2.id < 10){
         var image_url2 = '/system/teams/logos/000/000/00'+data.partials[i].team2.id+'/original/'+data.partials[i].team2.logo_file_name;
    }   else{
    var image_url2 = '/system/teams/logos/000/000/0'+data.partials[i].team2.id+'/original/'+data.partials[i].team2.logo_file_name;
    }  

                       if(data.partials[i].category.id < 10){
                           var url = "/system/categories/logos/000/000/00"+ data.partials[i].category.id+"/original/"+data.partials[i].category.logo_file_name+"" ;
                       }else{
                            var url = "/system/categories/logos/000/000/0"+ data.partials[i].category.id+"/original/"+data.partials[i].category.logo_file_name+"";
                       }
                       
						if(data.partials[i].category.id == 5){
						var clase2 = "categoria5"
					}else if(data.partials[i].category.id == 1){
						var clase2 = "categoria1"
					}else{
						var clase2 = ""
					}
					
					var background2 = '/system/categories/backgrounds/000/000/00'+data.partials[i].category.id+'/original/'+data.partials[i].category.background_file_name;			
										
						$('#mainwrapper2').append('<div id="box-3" style="background-size: cover; background-image: url('+background2+')" class="box col-md-3 col-xs-12"><div class="row"><h4 style="text-align:center; text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF; color:#720062; text-shadow: -1px 0 #720062, 0 1px #720062, 1px 0 #720062, 0 -1px #720062; color:white; font-size:18px; font-weight:800;">'+ data.partials[i].team.name + ' VS ' + data.partials[i].team2.name + '</h4><h3 style="text-align:center; color:white; text-shadow: -1px 0 #720062, 0 1px #720062, 1px 0 #720062, 0 -1px #720062; text-transform: capitalize; font-weight:800;"> '+moment(data.partials[i].game_date ,"", current_language ).format("MMMM D YYYY, h:mm a")+' </h3> <div class="col-md-6 col-xs-6"><img width="100%" src="'+image_url+'"></div><div class="col-md-6 col-xs-6"><img width="100%" src="'+image_url2+'"></div>  </div><span class="caption fade-caption"><h3 style="text-align:center">'+ data.partials[i].team.name + ' VS ' + data.partials[i].team2.name + ' </h3><h3 style="text-align:center; color:white;">Bolsa Acumulada</h3><p style="text-align:center; text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF; color:#720062; font-weight:800; font-size:40px;"> <span>'+data.partials[i].lotteries[0].initial_balance+' </span> DB </p> <h3 style="text-align:center; color:white;"> Precio de la Tira </h3> <h1 style="text-align:center;     text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF; font-size:40px; color:#720062; font-weight:800"> <span> '+ data.partials[i].lotteries[0].price +'</span> DB </h1> </span></div>');
								
										
                     /*  $("#slider1").append('<div class="slidex ' +clase2+'" style="background-size: cover; background-image: url('+background2+')"><div class="row"><div class="col-md-3"><h2 style="text-align:center; font-weight:500; color:white"><%= t('participate') %>:</h2><h1 style="text-align:center;text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF; font-weight:900; font-size:50px; color:#720062">'+data.partials[i].lotteries[0].initial_balance+' DB</h1></div><div class="col-md-9"> <h2 style="text-align:center;     text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF; font-weight:900; color:#720062;"><%= t('participate_1')%></h2> <h1 style="text-align:center; color:white; "><%= t('activerecord.attributes.game.game_date') %> '+moment(data.partials[i].game_date ,"", current_language ).format("MMMM D YYYY, h:mm a")+'  </h1> </div> </div> <br> <div class="row"><div  class="col-xs-1 col-md-3 hide-phone "><h2 style="text-align:center; font-weight:900; color:#720062;"></h2> <img style="width: 50% !important;margin-left: 25%;" class="category_logo" src=" '+url+' " ><h5 style="text-align:center"><span style="font-weight:900; color:white; text-transform:uppercase;"><%= t('participate_2') %>. </span></h5></div><div class="col-xs-11 col-md-9"><a data-lotteryid="'+data.partials[i].lotteries[0].id+'" data-lotteryprice="'+data.partials[i].lotteries[0].price+'" data-lotterybalance="'+data.partials[i].lotteries[0].initial_balance+'" data-lotteryfinal="'+data.partials[i].lotteries[0].final_number+'" data-lotteryrules="'+data.partials[i].lotteries[0].rules+'" data-teamname="'+data.partials[i].team.name+'" data-team2name="'+data.partials[i].team2.name+'"  class="display_modal"><h2 style="text-align:center; color:white; font-weight:700"> '+ data.partials[i].team.name + ' VS ' + data.partials[i].team2.name + ' </h2><div class="col-md-6 col-xs-6"> <h4 style="text-align:center"><img  class="logo_lotteries1" style="margin-left:20%" src="'+image_url+'"> </h4></div><div class="col-md-6 col-xs-6"> <h4 style="text-align:center"> <img  class="logo_lotteries1" style="margin-left:20%"  src="'+image_url2+'"> </h4> </div></a></div></div></div>');
          							
						$('#slider1').bxSlider({
                           		mode: 'fade',
		  					speed: 1000,
		  					pause: 5000,
                            minSlides: 1,
                            maxSlides: 10,
                            slideMargin: 10,
                            infiniteLoop: true,		
		  					auto: true,
		  					autoHover: true
                          });
						*/   
                                    }else{
											
											}
         
                                }
            $(document).ready(function(){
				//$('#Instructions').modal('show');
				$('#change_two').click(function(){
					$('.introduction').fadeOut();
					$('.second-div').fadeIn();
				})
					$('#change_three').click(function(){
					$('.second-div').fadeOut();
					$('.third-div').fadeIn();
				})
						$('#back_first').click(function(){
					$('.third-div').fadeOut();
					$('.introduction').fadeIn();
				})
          
                        });
      
      });
    
   
</script>


<script>
			 var current_language = $("#current_language").val();
			var current_view;
			var result;		
			function generate_ticket(){
				    result = '';	
				   for (var i=0; i < 15; i++){
					  if($('.value_result').hasClass(''+current_view+''+i+'')){
						  if($('.'+current_view+''+i+'').val()){
							 result = result + '' + $('.'+current_view+''+i+'').val();
						  }else{
							 alert('Debes de seleccionar todas las opciones');
							return  false; 
						  }
					  }
				   }
				$('.ticket_value_'+current_view+'').val(result);
				$('.buy_quiniela_btn'+current_view+'').prop( "disabled", false );
				}	
			
			
			
			$.ajax({
          method: "GET",
          url: "/partials/get_quinielas_no_winner",
          format: "json"
        })
          .done(function(data) {if (data.partials[0]){
					
				for(var i in data.partials){
					
					
					 if (data.partials[i].game.team.id < 10){
         var image_url = '/system/teams/logos/000/000/00'+data.partials[i].game.team.id+'/original/'+data.partials[i].game.team.logo_file_name;
    }   else{
    var image_url = '/system/teams/logos/000/000/0'+data.partials[i].game.team.id+'/original/'+data.partials[i].game.team.logo_file_name;
    }  
                           if (data.partials[i].game.team2.id < 10){
         var image_url2 = '/system/teams/logos/000/000/00'+data.partials[i].game.team2.id+'/original/'+data.partials[i].game.team2.logo_file_name;
    }   else{
    var image_url2 = '/system/teams/logos/000/000/0'+data.partials[i].game.team2.id+'/original/'+data.partials[i].game.team2.logo_file_name;
    }  
						if(data.partials[i].game.category.id == 5){
						var clase = "categoria5"
					}else if(data.partials[i].game.category.id == 1){
						var clase = "categoria1"
					}else{
						var clase = ""
					}
					
					var background = '/system/categories/backgrounds/000/000/00'+data.partials[i].game.category.id+'/original/'+data.partials[i].game.category.background_file_name;
					
					$('#mainwrapper').append('<div id="box-3" style="background-size: cover; background-image: url('+background+')" class="box col-md-3 col-xs-12"><div class="row"><h4 style="text-align:center; text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF; color:#720062; text-shadow: -1px 0 #720062, 0 1px #720062, 1px 0 #720062, 0 -1px #720062; color:white; font-size:15px; font-weight:800;">'+data.partials[i].description+' </h4><h3 style="text-align:center; font-size:15px; color:white; text-shadow: -1px 0 #720062, 0 1px #720062, 1px 0 #720062, 0 -1px #720062; text-transform: capitalize; font-weight:800;"> '+moment(data.partials[i].game.game_date,'',current_language).format('dddd D MMMM, YYYY hh:mm a')+' </h3> <div class="col-md-6 col-xs-6"><img width="80%" src="'+image_url+'"></div><div class="col-md-6 col-xs-6"><img width="80%" src="'+image_url2+'"></div>  </div><span class="caption fade-caption"><h3 style="text-align:center">'+data.partials[i].description+' </h3><div class="col-md-6 col-xs-6"><h3 style="text-align:center; color:white;">Bolsa Acumulada</h3><p style="text-align:center; text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF; color:#720062; font-weight:800; font-size:20px;"> <span>'+ data.partials[i].initial_balance +' </span> DB </p></div> <div class="col-md-6 col-xs-6"> <h3 style="text-align:center; color:white;"> Precio de la Tira </h3> <h3 style="text-align:center;     text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF; font-size:20px; color:#720062; font-weight:800"> <span> '+ data.partials[i].price +'</span> DB </h3> </div> </span></div>');
				
					/*$('.cycle-tira').append('<div class="row '+clase+'" style="background-size: cover; background-image: url('+background+')"><h2 style="text-align:center; text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF; color:#720062; text-shadow: -1px 0 #720062, 0 1px #720062, 1px 0 #720062, 0 -1px #720062; color:white; font-size:40px; font-weight:800;"> '+data.partials[i].description+' </h2> <h2 style="text-align:center; color:white; text-shadow: -1px 0 #720062, 0 1px #720062, 1px 0 #720062, 0 -1px #720062; text-transform: capitalize; font-weight:800;"> '+moment(data.partials[i].game.game_date,'',current_language).format('dddd D MMMM, YYYY hh:mm a')+' </h2>  <div class="col-md-3">  <hr> <h3 style="text-align:center; color:white;">Bolsa Acumulada</h3> <h1 style="text-align:center; text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF; color:#720062; font-weight:800; font-size:60px;"> <span>'+ data.partials[i].initial_balance +' </span> DB </h1> <hr> <h3 style="text-align:center; color:white;"> Precio de la Tira </h3> <h1 style="text-align:center;     text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF; font-size:40px; color:#720062; font-weight:800"> <span> '+ data.partials[i].price +'</span> DB </h1><hr><h3 style="text-align:center; text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF; font-size:28px; color:#720062; font-weight:800" >1 DB = 1.00 MXN</h3></div><div class="col-md-6"> <div class="row"> <div class="col-md-4 col-xs-4"> <img src="'+image_url+'"> </div> <div class="col-md-4 col-xs-4"> <h1 style="text-align:center; font-weight:900; color:white; margin-top:45%; font-size:300%;">  </h1> </div> <div class="col-md-4 col-xs-4"> <img src="'+image_url2+'"> </div> </div> </div> <div class="col-md-3">  <h2 style="text-align:center; color:white; text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF; color:#720062; font-weight:800">Participa en la Tira Deportiva</h2><hr> <h4 style="text-align:center; text-shadow: -1px 0 #720062, 0 1px #720062, 1px 0 #720062, 0 -1px #720062; color:white">¿Qué tanto conoces a tus equipos favoritos? ¡Demuéstralo en esta tira y recibe increíbles premios!  </h4> <h4 style="text-align:center; text-shadow: -1px 0 #720062, 0 1px #720062, 1px 0 #720062, 0 -1px #720062; color:white;">Participar es muy fácil, solo contesta estas sencillas preguntas con lo cual se generará un código basado en tus respuestas. Si acertaste a todas, ¡ya ganaste el premio indicado!</h4> <hr>  </div>');
					
					
					
					
					for(var e in data.partials[i].quiniela_questions){
					$('.slide2'+i+'').append(' <div class="col-md-7 col-xs-12"><h4 style="text-align:left">'+ data.partials[i].quiniela_questions[e].question.title +'</h4></div> <div class="col-md-4 col-xs-6"> <div class="radio radio-inline radio-danger"><input class="answers_select" data-id="'+i+'" type="radio" name="answer'+i+e+'" value="1"><label style="text-align: left !important;" for="answer'+i+e+'" class="">Si</label></div><div class="radio radio-inline radio-danger"><input data-id="'+i+'" type="radio" class="answers_select" name="answer'+i+e+'" value="0"> <label for="answer'+i+e+'" style="text-align: left !important;" class="">No</label></div> </div> <div class="col-md-1 col-xs-6"> <input style="text-align:left; width:35px;"  type="text" disabled class="form-control value_result '+i+e+'"> </div>');
						}
				}
				$('input[type=radio][class=answers_select]').change(function(){
					var xz = $(this).val();
					current_view = $(this).data('id');
					var change = $(this).parents().next().find('.value_result').first();
					$(change).val(xz);
				})
				
	
				
				  $('.cycle-tira').bxSlider({
				mode: 'fade',
		  					speed: 1000,
		  					pause: 5000,
                            minSlides: 2,
					  		moveSlides: 3,
                            maxSlides: 10,
                            slideMargin: 10,
                            infiniteLoop: true,		
		  					auto: true,
		  					autoHover: true
          }); */
			}}else{
				$('#tiras_div').hide();
			}
			});
			
		</script>
   