<div id="login_form_responsive2" style="display:none;" class="row">
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :class => "form-inline") do |f| %>
            <div class="col-md-4">
             <div class="field form-group">
                 <%= f.label :email, :style => 'color:black' %><br />
                  <%= f.email_field :email, :style => "color:black", :class => "form-control", autofocus: true %>
                 <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
        <%= f.label t('remember_me') , :style => 'color:black' %>
    </div>
  <% end -%>
              </div>
            </div>
            
            <div class="col-md-4">
            <div class="field form-group">
    <%= f.label :password, :style => 'color:black' %><br />
    <%= f.password_field :password, :style => "color:black",  :class => "form-control",  autocomplete: "off" %>
                 <div class="actions" style="color:black">
      <%= f.submit t('log_in'), :class => "form-group btn", :style => "background-color:#ab005c; margin-top:2%; width:100%; color: white;
    font-weight: 900;" %> <br>
        
      <div id="status">
</div>
  </div>
  </div>
            </div>
            
            <div class="col-md-4">
               <%= render "devise/shared/links" %>
            </div>

<% end %>
        </div>

<div class="row" style="margin-top: -20px !important;">
        <div class="cycle-slideshow">
            <img width="101%" src="/assets/background1.png">
        </div>
</div>


<script>
      $.ajax({
            method: "GET",
            url: "/games/future_games",
            format: "json"
               }).done(function(data) {
             
      });
</script>






