<% if params[:first] %>
	  <% logger.info 'simon' %>
 <%else%>
	  <script>
		   window.location.assign("/_index2.html")
	</script>
<% end %>

   <style>

	 body{ background-image: url("/assets/images/bg1.jpg") !important;
     		  background-position-y: 864px; }

    .slide{
        background-image:url("/assets/fondonegro.jpg");
        background-position-y: -250px;
        background-position-x: 157px;
        padding-top:50px;
        padding-bottom:50px;
    }

    .bx-viewport{
        left:0px !important;
        border:0px !important;
    }
		#tira .bx-wrapper .bx-viewport{
			 background-color:transparent;
			 border: none;
			}
</style>




<div class="row">
<div id="login_form_responsive2" style="" class="row">
	<h4 style="text-align:center; color:#bbbbbb;  font-size:30px;">Bienvenido a <b><span style="font-weight:900; color:#2c67ab;">DON<span style="color:white;">BILLETE </span></span></b></h4>
	<hr style="border-color:#2c67ab;">

	<div class="col-md-6 col-xs-12">

    <h4 style="text-align:center; font-size:20px; color:white;"><%= t('login') %></h4>
		<hr>

                        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :class => "form-inline") do |f| %>
            <div class="col-md-1">

            </div>

						<div class="col-md-10">
							<div class="field form-group">
                  <%= f.label :email, :style => 'color:white' %><br />
                   <%= f.email_field :email, :style => "color:black", :class => "form-control", autofocus: true %>
               </div>

							 <div class="field form-group">
						 <%= f.label :password, :style => 'color:white' %><br />
						 <%= f.password_field :password, :style => "color:black",  :class => "form-control",  autocomplete: "off" %>
						 			 <div class="actions" style="color:black">
						 							<% if devise_mapping.rememberable? -%>
						 <div class="field">
						 <%= f.check_box :remember_me %>
						 <%= f.label t('remember_me') , :style => 'color:white' %>
						 </div>
						 <% end -%>
						 <%= f.submit t('log_in'), :class => "form-group btn", :style => "background-color:#2c67ab; margin-top:2%; width:100%; color: white;
						 font-weight: 900;" %> <br>

						 <div id="status">
						 </div>
						 </div>
						 </div>

						</div>

            <div class="col-md-1">

            </div>

					</div>

						<div class="col-md-6 col-xs-12">

  					<h4 style="text-align:center; font-size:20px; color:white;">Crear Cuenta</h4>
						<hr>


						<div class="col-md-1">

						</div>

            <div class="col-md-10">
							<h4 style="color:white; text-align:center;"> ¿Aun no tienes cuenta con nosotros? <h4>
								<h4 style="color:white; text-align:center;"> ¡No esperes mas y empieza a ganar! <h4>

               <%= render "devise/shared/links" %>
            </div>
						<div class="col-md-1">

						</div>
					</div>

<% end %>
        </div>
			</div>
