<!-- begin row -->
<div class="row">
  <!-- begin col-md-12 -->
  <div class="col-md-12">
    <div class="invoice">
      <div class="invoice-content">
        <div class="table-responsive">
          <table class="table table-invoice">
            <thead>
              <tr>
                <td colspan="2">
                  <h4><%%= t("details_of", model: t("activerecord.models.<%= singular_table_name %>").downcase) %></h4>
                </td>
              </tr>
            </thead>
            <tbody>
              <% attributes.reject(&:password_digest?).each do |attribute| -%>
                <tr>
                  <td>
                    <%%= t("activerecord.attributes.<%= singular_table_name %>.<%= attribute.name %>") %>: <br />
                    <small><%%= @<%= singular_table_name %>.<%= attribute.name %> %></small>
                  </td>
                </tr>
              <% end -%>
                <tr>
                  <td>
                    <%%= t("activerecord.attributes.<%= singular_table_name %>.created_at") %>: <br />
                    <small><%%= @<%= singular_table_name %>.created_at %></small>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="invoice-footer text-muted"></div>
    </div>
  </div>
  <!-- end col-md-12 -->
</div>
<!-- end row -->

<!-- begin row -->
<div class="row">
  <div class="col-md-12">
    <%% if can? :edit, @<%= singular_table_name %> %>
      <%%= link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => "btn btn-default" do %>
        <i class="icon-pencil"></i>
        <%%= t("actions.edit") %>
      <%% end %>
    <%% end %>
    <%% if can? :delete, @<%= singular_table_name %> %>
      <%%= link_to @<%= singular_table_name %>, method: :delete, data: { confirm: t("are_you_sure?", model: t("activerecord.models.<%= singular_table_name %>").downcase) }, :class => "btn btn-danger" do %>
        <i class="icon-trash"></i>
        <%%= t("actions.delete") %>
      <%% end %>
    <%% end %>
    <%% if can? :index, <%= class_name %>  %>
      <%%= link_to <%= index_helper %>_path, :class => "btn btn-default" do %>
        <i class="icon-chevron-left"></i>
        <%%= t("actions.back") %>
      <%% end %>
    <%% end %>
  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->