<%= form_for(@pick, :html => { :class => "form-horizontal" }) do |f| %>
<% if @pick.errors.any? %>
<div id="error_explanation">
  <% if @pick.errors.count == 1 %>
  <h5><%= t("activerecord.errors.template.header.one", model: t("activerecord.models.pick")) %></h5>
  <% else %>
  <h5><%= t("activerecord.errors.template.header.other", model: t("activerecord.models.pick"), :count => @pick.errors.count) %></h5>
  <% end %>
  <ul>
    <% @pick.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="row">
<div class="col-md-6"> 
	<h3 style="text-align:center"> Selecciona el tipo de Liga que deseas crear</h3>
		<div class="form-group" style="text-align:center; font-size:20px;">
         		<%= f.radio_button('pick_type', 1, :class => "type", :checked => true)  %>
				<%= label_tag(:type, "Pick'em") %>
				<% f.radio_button('pick_type', 2, :style => 'margin-left:4%', :class => 'type' ) %>
				<% label_tag(:type, "Pick'em DB") %>
				
        </div>
</div>
<div class="col-md-6">
    	<h3 style="text-align:center"> Selecciona el tipo de manejo de la bolsa</h3>
		<div class="form-group" style="text-align:center; font-size:20px;">
         		<%= f.radio_button('winner_type', 1, :class => "type")  %>
				<%= label_tag(:type, "Equitativo", "data-toggle" => "tooltip", "data-placement" => "top", "title" => "Si seleccionas 'Equitativo' la bolsa se repartira equitativamente segun el número de semanas que tenga lel deporte elegido.En este tipo de liga no se toma en la suma total de puntos acumulados, si no que se elije un ganador semanal que se llevara la misma cantidad en cada semana.") %>
				<%= f.radio_button('winner_type', 2, :style => 'margin-left:4%', :class => 'type' ) %>
				<%= label_tag(:type, "1er 2do y 3rd lugar", "data-toggle" => "tooltip", "data-placement" => "top", "title" => "Si seleccionas '1er, 2ndo y 3rd lugar' tu elijes el porcentaje semanal que se repartira siempre y cuando no sobrepase el maximo,aqui al llegar a la ultima semana el restante de la bolsa se repartira entre los 3 primeros lugares del acumulado total de puntos durante la liga, los porcentajes de los lugares son seleccionables por ti.") %>
				
        </div>
    
</div>

</div>

<div class="clearfix"></div>
<hr>

<div class="col-md-6 hide-default" style="display:none">
 <div class="form-group" data-toggle = "tooltip" data-placement = "top" title = "Nombre de la liga.">
          <%= f.label :name, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :name, :class => "form-control" %>
          </div>
        </div>
                 
        <div class="form-group" data-toggle = "tooltip" data-placement = "top" title = "Selecciona el deporte del cual quieres crear la liga.">
          <%= f.label :sport_category_id, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.collection_select(:sport_category_id, SportCategory.where(:id => [6,2]).order('id DESC'), :id, :select_display, { :include_blank => false, :prompt => '-Selecciona una categoria-' }, required: true, :class => "form-control") %>
          </div>
        </div>

                  <div class="form-group" data-toggle = "tooltip" data-placement = "top" title = "Puedes agregar una descripción a tu liga para que lo vean los usuarios de tu liga, puede ser una bienvenida a la liga, las reglas, algun comentario.">
          <%= f.label :description, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :description, :class => "form-control" %>
          </div>
        </div>
    
        <div class="form-group" data-toggle = "tooltip" data-placement = "top" title = "Puedes subir un logo para tu liga para darle identidad.">
          <%= f.label :background, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.file_field :background, :class => "form-control" %>
          </div>
        </div>
                 
        <div class="form-group" data-toggle = "tooltip" data-placement = "top" title = "Si no quieres que tu liga sea publica puedes agregar una clave de acceso para que solo las personas que tu invites puedan acceder.">
          <%= f.label :access_key, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :access_key, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group" >
          <div class="col-md-9">
         	   <%= f.hidden_field :user_id, :value => current_user.id, :class => "form-control" %> 
          </div>
        </div>
        <div class="form-group" data-toggle = "tooltip" data-placement = "top" title = "Selecciona el costo que tendra para los usuarios al ingresar a tu liga.">
          <%= f.label :price, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :price, :class => "form-control" %>
          </div>
        </div>
	
	
	     <% if signed_in? %>
                  <% if current_user.role.is_admin? %>
                  <div class="form-group">
          <%= f.label :initial_balance, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :initial_balance, :class => "form-control" %>
          </div>
        </div>
                <% else %>
                 <%= f.hidden_field :initial_balance, :value => 1, :class => "form-control" %>
                 <% end %>
                 <% end %>

	


</div>
<!-- begin col-md-6 -->
<div class="col-md-6 hide-default" style="display:none" >
        <div class="form-group" data-toggle = "tooltip" data-placement = "top" title = "Si deseas restringir la cantidad maxima de usuarios en la liga puedes agregar aqui el numero de usuarios maximos que pueden comprar entrada en tu liga.">
          <%= f.label :users_quantity, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :users_quantity, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group" data-toggle = "tooltip" data-placement = "top" title = "Es el porcentaje de ganancias que deseas recibir como el administrador de la liga. Este se reparte cuando la semana 1 haya terminado.">
          <%= f.label :percentage, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :percentage, :class => "form-control percent" %>
          </div>
        </div>
        
      <div class="form-group" data-toggle = "tooltip" data-placement = "top" title = "Porcentaje a repartir por semana, recuerda que si elegiste equitativo este valor se asigna automaticamente, y no puedes superar el valor maximo.">
          <%= f.label :percentage_per_week, :class => "col-md-3 " %>
          <div class="col-md-9">
            <%= f.text_field :percentage_per_week, :max => @pick.percentage_per_week,  :class => "form-control percent" %>
            <h4 style="display:none;" id="equitative_porcentage"> </h4>
          </div>
        </div>
        
         <div class="form-group no-equitative" data-toggle = "tooltip" data-placement = "top" title = "Porcentaje a repartir para el primer lugar de la liga de el restante de la bolsa">
          <%= f.label :first_percentage, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :first_percentage, :class => "form-control percent" %>
          </div>
        </div>
        
         <div class="form-group no-equitative" data-toggle = "tooltip" data-placement = "top" title = "Porcentaje a repartir al segundo lugar de la liga del restante de la bolsa">
          <%= f.label :second_percentage, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :second_percentage, :class => "form-control percent" %>
          </div>
        </div>
        
         <div class="form-group no-equitative" data-toggle = "tooltip" data-placement = "top" title = "Porcentaje a repartir al tercer lugar de la liga del restante de la bolsa">
          <%= f.label :third_percentage, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :third_percentage, :class => "form-control percent" %>
          </div>
        </div>
        
      </div>
<!-- end col-md-6 -->

<div class="col-md-12">
  <div class="form-group">
    <div class="col-md-12 text-center">
      <%= f.button :class => "submit btn btn-success", :data => { :disable_with => t("actions.saving") } do %>
      <i class='icon-ok'></i>
      <%= t("actions.save") %>
      <% end %>
    </div>
  </div>
</div>
<% end %>


<script>
    var equitative;
    $('#pick_winner_type_1').change(function(){
        if($(this).prop( "checked" )){
           equitative = true;
            $('.hide-default').show();
        $('.no-equitative').hide();
        }
    })
    
      $('#pick_winner_type_2').change(function(){
        if($(this).prop( "checked" )){
           equitative = false;
            $('.hide-default').show();
            $('.no-equitative').show();
        }
    })
    
    $('#pick_sport_category_id').change(function(){
       $.ajax({
					  method: "GET",
					  format: "json",
					  url: "/partials/get_weeks",
					  data: { category: $(this).val() }
					})
					  .done(function( data ) {
            $('#pick_percentage_per_week').attr('step', .01)
           $('#pick_percentage_per_week').attr('max', (100/(data-1)).toFixed(2))
           
           if(equitative == true){
               $('#pick_percentage_per_week').val((100/(data-1)).toFixed(2))
               $('#pick_percentage_per_week').prop('readonly','true');
               $('.no-equitative').hide();
           }else{
               $('#pick_percentage_per_week').show();
               $('#equitative_porcentage').hide();
               $('.no-equitative').show();
           }
          
       })
    })
</script>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
	 $('.percent').mask('##0,00%', {reverse: true});
});
</script>