<%= form_for(@pick, :html => { :class => "form-horizontal" }) do |f| %>
<% if @pick.errors.any? %>
<div id="error_explanation">
  <% if @pick.errors.count == 1 %>
  <h5><%= t("activerecord.errors.template.header.one", model: t("activerecord.models.pick")) %></h5>
  <% else %>
  <h5><%= t("activerecord.errors.template.header.other", model: t("activerecord.models.pick"), :count => @pick.errors.count) %></h5>
  <% end %>
  <ul>
    <% @pick.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="row">
<div class="col-md-6"> 
	<h3 style="text-align:center"> Selecciona el tipo de Liga que deseas crear</h3>
		<div class="form-group" style="text-align:center; font-size:20px;">
         		<%= f.radio_button('pick_type', 1, :class => "type")  %>
				<%= label_tag(:type, "Pick'em") %>
				<%= f.radio_button('pick_type', 2, :style => 'margin-left:4%', :class => 'type' ) %>
				<%= label_tag(:type, "Pick'em DB") %>
				
        </div>
</div>
<div class="col-md-6">
    	<h3 style="text-align:center"> Selecciona el tipo de manejo de la bolsa</h3>
		<div class="form-group" style="text-align:center; font-size:20px;">
         		<%= f.radio_button('winner_type', 1, :class => "type")  %>
				<%= label_tag(:type, "Equitativo") %>
				<%= f.radio_button('winner_type', 2, :style => 'margin-left:4%', :class => 'type' ) %>
				<%= label_tag(:type, "1er 2do y 3rd lugar") %>
				
        </div>
    
</div>

</div>

<div class="clearfix"></div>
<hr>

<div class="col-md-6">
 <div class="form-group">
          <%= f.label :name, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :name, :class => "form-control" %>
          </div>
        </div>
                 
                  <div class="form-group">
          <%= f.label :sport_category_id, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.collection_select(:sport_category_id, SportCategory.all.order('id DESC'), :id, :select_display, { :include_blank => false, :prompt => '-Selecciona una categoria-' }, required: true, :class => "form-control") %>
          </div>
        </div>

                  <div class="form-group">
          <%= f.label :description, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :description, :class => "form-control" %>
          </div>
        </div>
                 
                    <div class="form-group">
          <%= f.label :access_key, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :access_key, :class => "form-control" %>
          </div>
        </div>
                  <div class="form-group">
          <div class="col-md-9">
         	   <%= f.hidden_field :user_id, :value => current_user.id, :class => "form-control" %> 
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :price, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :price, :class => "form-control" %>
          </div>
        </div>
	
	
	     <% if signed_in? %>
                  <% if current_user.role.is_admin? %>
                  <div class="form-group">
          <%= f.label :initial_balance, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :initial_balance, :class => "form-control" %>
          </div>
        </div>
                <% else %>
                 <%= f.hidden_field :initial_balance, :value => 1, :class => "form-control" %>
                 <% end %>
                 <% end %>

	


</div>
<!-- begin col-md-6 -->
<div class="col-md-6">
	


             
                
               
                  <div class="form-group">
          <%= f.label :users_quantity, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :users_quantity, :class => "form-control" %>
          </div>
        </div>
                  <div class="form-group">
          <%= f.label :percentage, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.number_field :percentage, :class => "form-control" %>
          </div>
        </div>
        
                <div class="form-group">
          <%= f.label :percentage_per_week, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.number_field :percentage_per_week, :max => @pick.percentage_per_week,  :class => "form-control" %>
            <h4 style="display:none;" id="equitative_porcentage"> </h4>
          </div>
        </div>
        
         <div class="form-group no-equitative">
          <%= f.label :first_percentage, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.number_field :first_percentage, :class => "form-control" %>
          </div>
        </div>
        
         <div class="form-group no-equitative">
          <%= f.label :second_percentage, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.number_field :second_percentage, :class => "form-control" %>
          </div>
        </div>
        
         <div class="form-group no-equitative">
          <%= f.label :third_percentage, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.number_field :third_percentage, :class => "form-control" %>
          </div>
        </div>
        
      </div>
<!-- end col-md-6 -->

<div class="col-md-12">
  <div class="form-group">
    <div class="col-md-12 text-center">
      <%= f.button :class => "submit btn btn-success", :data => { :disable_with => t("actions.saving") } do %>
      <i class='icon-ok'></i>
      <%= t("actions.save") %>
      <% end %>
    </div>
  </div>
</div>
<% end %>


<script>
    var equitative;
    $('#pick_winner_type_1').change(function(){
        if($(this).prop( "checked" )){
           equitative = true;
        $('.no-equitative').hide();
        }
    })
    
      $('#pick_winner_type_2').change(function(){
        if($(this).prop( "checked" )){
           equitative = false;
            $('.no-equitative').show();
        }
    })
    
    $('#pick_sport_category_id').change(function(){
       $.ajax({
					  method: "GET",
					  format: "json",
					  url: "/partials/get_weeks",
					  data: { category: $(this).val() }
					})
					  .done(function( data ) {
            $('#pick_percentage_per_week').attr('step', .01)
           $('#pick_percentage_per_week').attr('max', (100/(data-1)).toFixed(2))
           
           if(equitative == true){
               $('#pick_percentage_per_week').val((100/(data-1)).toFixed(2))
               $('#pick_percentage_per_week').prop('readonly','true');
               $('.no-equitative').hide();
           }else{
               $('#pick_percentage_per_week').show();
               $('#equitative_porcentage').hide();
               $('.no-equitative').show();
           }
          
       })
    })
</script>