<div class="row">
  <!-- begin col-12 -->
  <div class="col-md-12">
    <!-- begin panel -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <h3 style="margin-left:15px"><%= t("activerecord.models.pick_users") %></h3>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table id="data-table" class="table table-bordered table-hover table-striped nowrap" width="100%">
            <thead>
              <tr>
                                  <th><%= t("activerecord.attributes.pick_user.user") %></th>
                                  <th><%= t("activerecord.attributes.pick_user.pick_survivor_week") %></th>
                                  <th><%= t("activerecord.attributes.pick_user.points") %></th>
                                  <th><%= t("activerecord.attributes.pick_user.local_score") %></th>
                                  <th><%= t("activerecord.attributes.pick_user.visit_score") %></th>
                                  <th><%= t("activerecord.attributes.pick_user.pick_user") %></th>
                                  <th><%= t("activerecord.attributes.pick_user.status") %></th>
                                <th style="width: 155px"></th>
              </tr>
            </thead>

            <tbody>
              <% @pick_users.each do |pick_user| %>
              <tr>
                                  <td><%= pick_user.user.username %></td>
                                  <td><%= pick_user.pick.name  %>/<%= pick_user.pick_survivor_week.survivor_week_game.select_display %></td>
                                  <td><%= pick_user.points %></td>
                                  <td><%= pick_user.local_score %></td>
                                  <td><%= pick_user.visit_score %></td>
                                  <td><%= pick_user.pick_user.id %></td>
                                  <td><%= pick_user.status %></td>
                                <td class="action-link">
                  <% if can? :show,pick_user %>
                    <%= link_to pick_user, :class => "btn btn-default", :title => t("actions.show") do %>
                      <i class="fa fa-eye"></i>
                    <% end %>
                  <% end %>
                  <% if can? :edit, pick_user %>
                    <%= link_to edit_pick_user_path(pick_user), :class => "btn btn-info", :title => t("actions.edit") do %>
                      <i class="fa fa-pencil"></i>
                    <% end %>
                  <% end %>
                  <% if can? :delete, pick_user %>
                    <%= link_to pick_user, :method => :delete, :data => { :confirm => t("are_you_sure?", model: t("activerecord.models.pick_user").downcase) }, :class => "btn btn-danger", :title => t("actions.delete") do %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="text-center">
        </div>
      </div>
      <!-- end panel-body -->
    </div>
    <!-- end panel -->
  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->

<!-- begin row -->
<div class="row">
  <div class="col-md-12">
    <% if can? :new, PickUser  %>
      <%= link_to new_pick_user_path, :class => "btn btn-default" do %>
        <i class="icon-plus-sign-alt"></i>
        <%= t("actions.new") %>
      <% end %>
    <% end %>
  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->


<script>
       var current_language = $("#current_language").val();
       var languaje;
    
    if(current_language == "en"){
    languaje= "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
}else{
    languaje = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
}
    
$('#data-table').DataTable({
    responsive: true,
    order: [1,"desc"],
     "language": {
            "url": languaje
        }
});
</script>