<nav class="navbar navbar-teal ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" style="" data-toggle="collapse" data-target="#myNavbar">
       <i class="fa fa-bars"></i> 
      </button>
       
        
      <a class="navbar-brand" style="background-color:white !important; height:" href="/"> <img src="/assets/logo_donbillete.png" width="120px" height="50px" style="margin-top:-10%;"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
         <% if signed_in? %>
   
      <ul id="menu" class="nav navbar-nav">
          <li  class="<%= 'active' if controller_name == 'roles' %>"><a href="/roles"> <span class="nav-label"><%= t('roles') %></span>  </a>
            </li>
          <li  class="<%= 'active' if controller_name == 'users' %>"><a href="/users"> <span class="nav-label"><%= t('users') %></span>  </a>
            </li>
          <li  class="<%= 'active' if controller_name == 'sports' %>"><a href="/sports"> <span class="nav-label"><%= t('sports') %></span>  </a>
            </li>
          <li  class="<%= 'active' if controller_name == 'categories' %>"><a href="/categories"> <span class="nav-label"><%= t('categories') %></span>  </a>
            </li>
           <li  class="<%= 'active' if controller_name == 'sport_categories' %>"><a href="/sport_categories"> <span class="nav-label"><%= t('sportcategories') %></span>  </a>
            </li>
          <li  class="<%= 'active' if controller_name == 'teams' %>"><a href="/teams"> <span class="nav-label"><%= t('teams') %></span>  </a>
            </li>
          <li  class="<%= 'active' if controller_name == 'games' %>"><a href="/games"> <span class="nav-label"><%= t('games') %></span>  </a>
            </li>
       
		            <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Quiniela<span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                             <li  class="<%= 'active' if controller_name == 'questions' %>"><a href="/questions"> <span class="nav-label">Preguntas</span>  </a>
							 </li>
							<li  class="<%= 'active' if controller_name == 'quiniela' %>"><a href="/quinielas"> <span class="nav-label">Quiniela</span>  </a>
							</li>
							<li  class="<%= 'active' if controller_name == 'quiniela_questions' %>"><a href="/quiniela_questions"> <span class="nav-label">Preguntas por quiniela</span>  </a>
            				</li>
							<li  class="<%= 'active' if controller_name == 'quiniela_users' %>"><a href="/quiniela_users"> <span class="nav-label">Usuarios por quiniela</span>  </a>
            				</li>
							 <li><a href="/quinielas/close_quiniela">Cerrar Quiniela</a></li>
                        </ul>
                    </li>
          <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Loterias <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="/user_lotteries/winners_view"><%= t('winners_history') %></a></li>
                            <li><a href="/games/today_games_view"><%= t('today_games') %></a></li>
							<li><a href="/user_lotteries/tickets_by_lottery">Tickets vendidos por loteria</a></li>
							   <li  class="<%= 'active' if controller_name == 'lotteries' %>"><a href="/lotteries"> <span class="nav-label"><%= t('lotteries') %></span>  </a>
            </li>
          <li  class="<%= 'active' if controller_name == 'user_lotteries' %>"><a href="/user_lotteries"> <span class="nav-label"><%= t('userlotteries') %></span>  </a>
            </li>
							
                        </ul>
                    </li>
                    <li><a href="/error_reports">Errores</a></li>
         
      </ul>
        <% end %>
      <ul class="nav navbar-nav navbar-right">
           <li>
                   <% if signed_in? %>
          <%= link_to destroy_user_session_path, :method => :delete do %>
            <i class="fa fa-sign-out"></i><%= t('logout') %>
          <% end %>
               <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>