<nav class="navbar navbar-teal ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" style="" data-toggle="collapse" data-target="#myNavbar">
       <i class="fa fa-bars"></i>
      </button>


      <a class="navbar-brand" style="background-color:white !important; height:" href="/"> <img src="/assets/logo_donbillete.png" width="120px" height="50px" style="margin-top:-10%;"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
         <% if signed_in? %>

      <ul id="menu" class="nav navbar-nav">
          <li  class="<%= 'active' if controller_name == 'roles' %>"><a href="/roles"> <span class="nav-label"><%= t('roles') %></span>  </a>
            </li>
          <li  class="<%= 'active' if controller_name == 'users' %>"><a href="/users"> <span class="nav-label"><%= t('users') %></span>  </a>
            </li>
             <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Deporte - Categoria <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
            				 <li  class="<%= 'active' if controller_name == 'sports' %>"><a href="/sports"> <span class="nav-label"><%= t('sports') %></span>  </a>
            </li>
							 <li  class="<%= 'active' if controller_name == 'categories' %>"><a href="/categories"> <span class="nav-label"><%= t('categories') %></span>  </a>
            </li>
             <li  class="<%= 'active' if controller_name == 'sport_categories' %>"><a href="/sport_categories"> <span class="nav-label"><%= t('sportcategories') %></span>  </a>
            </li>

                        </ul>
                    </li>



          <li  class="<%= 'active' if controller_name == 'teams' %>"><a href="/teams"> <span class="nav-label"><%= t('teams') %></span>  </a>
            </li>
          <li  class="<%= 'active' if controller_name == 'games' %>"><a href="/games"> <span class="nav-label"><%= t('games') %></span>  </a>
            </li>
             <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Picks <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                             <li  class="<%= 'active' if controller_name == 'pick' %>"><a href="/picks"> <span class="nav-label">Picks</span>  </a>
							 </li>
							<li  class="<%= 'active' if controller_name == 'pick_user' %>"><a href="/pick_users"> <span class="nav-label">Boletos de Picks</span>  </a>
							</li>
            				 <li  class="<%= 'active' if controller_name == 'pick_survivor_week' %>"><a href="/pick_survivor_weeks"> <span class="nav-label">Relacion Semana - Picks</span>  </a>
							 </li>
							  <li  class="<%= 'active' if controller_name == 'pick_user_game' %>"><a href="/pick_user_games"> <span class="nav-label">Relacion Boleto con Partido</span>  </a>
							 </li>
							 <li><a href="/picks/close_pick">Cerrar juegos del pick</a></li>
                        </ul>
                    </li>
        <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Survivor<span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                             <li  class="<%= 'active' if controller_name == 'survivor' %>"><a href="/survivors"> <span class="nav-label">Survivor</span>  </a>
							 </li>
							<li  class="<%= 'active' if controller_name == 'survivor_user' %>"><a href="/survivor_users"> <span class="nav-label">Boletos de survivor</span>  </a>
							</li>
							<li  class="<%= 'active' if controller_name == 'survivor_game' %>"><a href="/survivor_games"> <span class="nav-label">Juegos del Survivor</span>  </a>
            				</li>
							<li  class="<%= 'active' if controller_name == 'survivor_week_game' %>"><a href="/survivor_week_games"> <span class="nav-label">Semanas del Survivor</span>  </a>
            				</li>
            				 <li  class="<%= 'active' if controller_name == 'survivor_week_survivor' %>"><a href="/survivor_week_survivors"> <span class="nav-label">Relacion Semana - Survivor</span>  </a>
							 </li>
							 <li><a href="/survivor_week_games/close_games">Cerrar juegos survivor</a></li>
                        </ul>
                    </li>
		            <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Tiras<span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                             <li  class="<%= 'active' if controller_name == 'questions' %>"><a href="/questions"> <span class="nav-label">Preguntas</span>  </a>
							 </li>
							<li  class="<%= 'active' if controller_name == 'quiniela' %>"><a href="/quinielas"> <span class="nav-label">Tira</span>  </a>
							</li>
							<li  class="<%= 'active' if controller_name == 'quiniela_questions' %>"><a href="/quiniela_questions"> <span class="nav-label">Preguntas por tira</span>  </a>
            				</li>
							<li  class="<%= 'active' if controller_name == 'quiniela_users' %>"><a href="/quiniela_users"> <span class="nav-label">Boletos de tira</span>  </a>
            				</li>
							 <li><a href="/quinielas/close_quiniela">Cerrar Tira</a></li>
                        </ul>
                    </li>
          <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Loterias <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="/user_lotteries/winners_view"><%= t('winners_history') %></a></li>
                            <li><a href="/games/today_games_view">Cerrar loterias</a></li>
							<li><a href="/user_lotteries/tickets_by_lottery">Tickets vendidos por loteria</a></li>
							<li  class="<%= 'active' if controller_name == 'lotteries' %>"><a href="/lotteries"> <span class="nav-label"><%= t('lotteries') %></span>  </a>
            </li>
          <li  class="<%= 'active' if controller_name == 'user_lotteries' %>"><a href="/user_lotteries"> <span class="nav-label">Boletos de loteria</span>  </a>
            </li>

                        </ul>
                    </li>
           <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Enrachate <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="/enrachates">Enrachates</a></li>
                            <li><a href="/tira_enrachates">Tiras del Enrachate</a></li>
                            <li><a href="/question_enrachates">Preguntas del Enrachate</a></li>
                            <li><a href="/enrachate_users">Boletos del Enrachate</a></li>
				            <li><a href="/relation_enrachate_tiras">Relación Enrachate - Tira</a></li>
                            <li><a href="/relation_tira_questions">Relación Preguntas - Tira</a></li>
                            <li> <a href="/enrachates/enrachate_stats"> Estadisticas enrachate  </a> </li>
                            <li><a href="/relation_enrachate_tiras/close_tira_question">Cerrar pregunta</a></li>
                        </ul>
                    </li>
                     <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Acciones <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
            				 <li  class="<%= 'active' if controller_name == 'error_report' %>"><a href="/error_reports"> <span class="nav-label">Reporte de errores</span>  </a>
							 </li>
							  <li  class="<%= 'active' if controller_name == 'user' %>"><a href="users/send_mails"> <span class="nav-label">Envio de correos</span>  </a>
							 </li>
               <li> <a href="/users/day_activity"> Actividad por dia </a> </li>
               <li> <a href="/gift_cards/"> Tarjetas de regalo </a> </li>
               <li> <a href="/gift_cards/create_massive">Creación Tarjetas de regalo </a> </li>

                        </ul>
                    </li>


      </ul>
        <% end %>
      <ul class="nav navbar-nav navbar-right">
           <li>
                   <% if signed_in? %>
          <%= link_to destroy_user_session_path, :method => :delete do %>
            <i class="fa fa-sign-out"></i><%= t('logout') %>
          <% end %>
               <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
