<header class="bp-header cf">
    <div class="dummy-logo">
    <a target="_self" href="/"><img style="width: 100%; margin-left:-5%; margin-top:-10%; height: 135px;" id="logo-image" src="/assets/nombre_white.png"></a>
    </div>
    <div class="bp-header__main">
    <span class="bp-header__present only-mobile">  <a target="_self" href="/"><img style="width: 60px; margin-top:-23%; height: 150px;" id="logo-image"  src=" <%= current_user != nil ? "/assets/nombre.png" : "/assets/nombre_white.png" %>"></a></span>
      <span class="bp-header__present"><%= current_user != nil ? current_user.username : ""  %></span>
      <h1 class="bp-header__title">Saldo: $<%= current_user != nil ?  current_user.balance.round(2) : 0   %> | Saldo de regalo:  $<%= current_user != nil ? current_user.gift_credit.to_f.round(2) : 0 %> </h1>
      <nav class="bp-nav">
        <a style="position: relative" class="bp-nav__item bp-icon " data-method="delete"  href="/users/sign_out" data-info="Cerrar sesión"><span>Cerrar sesión</span><i class="fa fa-sign-out" style="margin-top:35%; margin-left:35%; color:black;" ></i></a>
        <a style="position: relative" class="bp-nav__item bp-icon " href="/partials/client_details" data-info="Mi cuenta"><span>Mi cuenta</span><i class="fa fa-user" style="margin-top:35%; margin-left:35%; color:black;" ></i></a>
          <a style="position: relative" class="bp-nav__item bp-icon " href="https://www.facebook.com/7donbillete/" data-info="Facebook"><span>Facebook</span><i class="fa fa-facebook" style="margin-top:35%; margin-left:35%; color:black;" ></i></a>
      </nav>
    </div>
  </header>

<button class="action action--open" aria-label="Open Menu"><i class="fa fa-bars" style="color:black;"></i></button>

<% if current_user != nil%>

		<nav id="ml-menu" class="menu">
			<button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
			<div class="menu__wrap">
				<ul data-menu="main" class="menu__level">
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-1" href="#">Acciones</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-2" href="#">Survivor</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-3" href="#">Pick`EM</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-4" href="#">Enrachate</a></li>
          <li class="menu__item"><a class="menu__link" data-submenu="submenu-5" href="#">Tiras</a></li>
          <li class="menu__item"><a class="menu__link" data-submenu="submenu-6" href="#">Loterias</a></li>
				</ul>
				<!-- Submenu 1 -->
				<ul data-menu="submenu-1" class="menu__level">
					<li class="menu__item"><a target="_self" class="menu__link" href="/partials/tickets_history">Mis billetes</a></li>
					<li class="menu__item"><a target="_self" class="menu__link" href="/partials/pay_methods">Cargar Crédito</a></li>
					<li class="menu__item"><a target="_self" class="menu__link" href="/partials/history"><%= t('history') %></a></li>
					<li class="menu__item"><a target="_self" class="menu__link" href="/partials/checkout"> <%= t('checkout') %> </a></li>
					<li class="menu__item"><a target="_self" class="menu__link" href="/partials/invite">Invitar Amigos</a></li>
				</ul>
				<!-- Submenu 2 -->
				<ul data-menu="submenu-2" class="menu__level">
					<li class="menu__item"><a target="_self" class="menu__link" href="/partials/survivor_game">Survivor Home</a></li>
					<li class="menu__item"><a target="_self" class="menu__link" href="/partials/survivor_rules">Reglas del Survivor</a></li>
					<li class="menu__item"><a target="_self" class="menu__link" href="/survivors/new">Crear Liga</a></li>
					<li class="menu__item"><a target="_self" class="menu__link" href="/partials/survivor_leagues">Ligas de Survivor</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-2-1" href="#">Mis Ligas</a></li>
				</ul>
        <!-- Submenu 2-1 -->
        <ul data-menu="submenu-2-1" class="menu__level">
					<li class="menu__item"><a target="_self" class="menu__link" href="/partials/my_leagues">Mis ligas</a></li>
          <% array_survivor = [] %>
          <% SurvivorUser.where("user_id = ?",current_user.id).pluck(:survivor_week_survivor_id).each do |pick_survivor| %>
               <% array_survivor.push(SurvivorWeekSurvivor.find(pick_survivor).survivor) %>
          <% end %>
          <% array_survivor.uniq.each do |pick| %>
            <li class="menu__item"><a target="_self" class="menu__link" href="/partials/set_survivor_page/<%= pick.id %>"><%= pick.name %></a></li>
          <% end %>
				</ul>


				<!-- Submenu 3 -->
				<ul data-menu="submenu-3" class="menu__level">
					<li class="menu__item"><a target="_self" class="menu__link" href="/partials/pickem_game">Pick`EM Home</a></li>
					<li class="menu__item"><a target="_self" class="menu__link" href="/partials/pickem_rules">Reglas Pick`EM</a></li>
					<li class="menu__item"><a target="_self" class="menu__link" href="/picks/new">Crear Liga</a></li>
					<li class="menu__item"><a target="_self" class="menu__link" href="/partials/pickem_leagues">Ligas Pick`EM</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-3-1" href="#">Mis ligas</a></li>
				</ul>
				<!-- Submenu 3-1 -->
				<ul data-menu="submenu-3-1" class="menu__level">
					<li class="menu__item"><a target="_self" class="menu__link" href="/partials/my_pickem_leagues">Mis ligas</a></li>
          <% array_picks = [] %>
          <% PickUser.where("user_id = ?",current_user.id).pluck(:pick_survivor_week_id).each do |pick_survivor| %>
               <% array_picks.push(PickSurvivorWeek.find(pick_survivor).pick) %>
          <% end %>
          <% array_picks.uniq.each do |pick| %>
            <li class="menu__item"><a target="_self" class="menu__link" href="/partials/pickem/<%= pick.id %>"><%= pick.name %></a></li>
          <% end %>
				</ul>
				<!-- Submenu 4 -->
				<ul data-menu="submenu-4" class="menu__level">
					<li class="menu__item"><a target="_self" class="menu__link" href="/partials/enrachate">Enrachate 25</a></li>
					<li class="menu__item"><a target="_self" class="menu__link" href="/partials/enrachates_survivor">Survivor</a></li>
					<li class="menu__item"><a target="_self" class="menu__link" href="/partials/my_enrachate_tickets">Mis billetes</a></li>
					<li class="menu__item"><a target="_self" class="menu__link" href="/partials/answer_register">Respuestas</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-4-1" href="#">Mis ligas</a></li>
				</ul>
				<!-- Submenu 4-1 -->
				<ul data-menu="submenu-4-1" class="menu__level">
					<li class="menu__item"><a target="_self" class="menu__link" href="/partials/my_enrachate_leagues">Mis ligas</a></li>
          <% EnrachateUser.where("user_id = ?",current_user.id).pluck(:enrachates_id).uniq.each do |enrachate| %>
          <%  enrachate = Enrachate.find(enrachate) %>
          <% if enrachate.winner != nil && enrachate.winner != "" && enrachate.winner != [] %>
          <% else %>
            <% if enrachate.type_enrachate == 0 %>
              <li class="menu__item"><a target="_self" class="menu__link" href="/partials/enrachate"><%= enrachate.name %></a></li>
            <% else %>
            <li class="menu__item">< target="_self"a class="menu__link" href="/partials/enrachate_survivor/<%= enrachate.id %>"><%= enrachate.name %></a></li>
            <% end %>
            <% end %>
          <% end %>

				</ul>

        <ul data-menu="submenu-5" class="menu__level">
          <li class="menu__item"><a target="_self" class="menu__link" href="/partials/tiras">Tiras Home</a></li>
          <li class="menu__item"><a target="_self" class="menu__link" href="/partials/tiras_rules">Reglas de Tiras</a></li>
        </ul>

        <ul data-menu="submenu-6" class="menu__level">
          <li class="menu__item"><a target="_self" class="menu__link" href="/partials/lottery">Loterias Home</a></li>

        </ul>



			</div>
		</nav>
<% else %>
<nav id="ml-menu" class="menu">
  <button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
  <div class="menu__wrap">
    <ul data-menu="main" class="menu__level">
      <li class="menu__item"><a class="menu__link" data-submenu="submenu-1" >Acciones</a></li>
      <li class="menu__item"><a class="menu__link" data-submenu="submenu-2" >Survivor</a></li>
      <li class="menu__item"><a class="menu__link" data-submenu="submenu-3" >Pick`EM</a></li>
      <li class="menu__item"><a class="menu__link" data-submenu="submenu-4" >Enrachate</a></li>
      <li class="menu__item"><a class="menu__link" data-submenu="submenu-5" >Tiras</a></li>
      <li class="menu__item"><a class="menu__link" data-submenu="submenu-6" >Loterias</a></li>
    </ul>
  </nav>
<% end %>
