<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.6&appId=1549272788683515";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>

<div class="row" id="banner" >
 <div style="margin-left:6%; height:80px;">
    <div class="col-md-5 col-xs-12"> <a href="/"><img id="logo-image" src="/assets/logo_donbillete.png"></a></div>
    <div class="col-md-7" id="responsive-cellphone" style="margin-top:1%">
           <% if signed_in? %>
             <%=link_to current_user do %>
        <div class="col-md-12 col-xs-12 hide-phone">
            <% if current_user.photo.present? %>
            <div class="col-md-2">
               <h4><img id="user_image" class="pull-right" width="100px" height="100px" style="border-radius:150px; border:2px solid #E4007D" src="<%= current_user.photo %>"></h4>
            </div>
            <% end %>
            <div class="col-md-10" style="margin-top:2%; background-color: rgb(162, 160, 160); color: white;">
                <div class="col-md-7">
                    <h4 style="color:white"> <%= t('welcome') %>: <span style="text-transform: uppercase;"><%= current_user.username %></span> </h4>
                     <h4 style="color:white"> 
                       <span id="clock"></span> </h4>
					    <% if signed_in? %>
                <%= link_to destroy_user_session_path, :method => :delete, :style => "color:white" do %>
           <h4> <i class="fa fa-sign-out"></i><%= t('logout') %> </h4>
          <% end %>
               <% end %>
                      
                </h4>
                </div>
                
                <div class="col-md-5">
                   <h4 style="color:white"> <span id="current_bal"> <%= t('current_user_balance') %>: <span style="text-transform: uppercase;"><%= number_with_precision(current_user.balance, :precision => 2)  %> DB</span></span>  
					     <h4 style="color:white"> <span id="current_bal"> Saldo de Regalo: <span style="text-transform: uppercase;"><%= number_with_precision(current_user.gift_credit, :precision => 2)  %> DB</span></span>     
                  <h4 style="color:white"> <span> 1 DB = $1.00 MXN </span> </h4>
                </div>   
            </div>
					<div class="col-md-12">
						<div class="col-md-5"> <div class="pull-right" style="margin-right:15%;">	<div class="fb-like" data-href="https://www.facebook.com/7donbillete/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div></div></div>
						<div class="col-md-3"><a class="twitter-follow-button" href="https://twitter.com/TwitterDev" data-show-count="false">
							Follow @TwitterDev</a></div>
					
					</div>
   
        </div>
             <% end %> 
        <% else %>
        <div id="login_form_responsive" class="row">
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :class => "form-inline") do |f| %>
            <div class="col-md-4">
             <div class="field form-group">
                 <%= f.label :email, :style => 'color:black' %><br />
                  <%= f.email_field :email, :style => "color:black", :class => "form-control", autofocus: true %>
                 <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
        <%= f.label t('remember_me') , :style => 'color:black' %>
    </div>
  <% end -%>
              </div>
            </div>
            
            <div class="col-md-4">
            <div class="field form-group">
    <%= f.label :password, :style => 'color:black' %><br />
    <%= f.password_field :password, :style => "color:black",  :class => "form-control",  autocomplete: "off" %>
                 <div class="actions" style="color:black">
      <%= f.submit t('log_in'), :class => "form-group btn", :style => "background-color:#ab005c; margin-top:2%; width:100%; color: white;
    font-weight: 900;" %> <br>
        
      <div id="status">
</div>
  </div>
  </div>
            </div>
            
            <div class="col-md-4">
               <%= render "devise/shared/links" %>
            </div>
<% end %>
        </div>
        <% end %>
        
        <% if signed_in? %>
        <div class="col-md-2">
        <!-- START Language list-->
                      
                        <!-- END Language list    -->
            <% end %>
        </div>
        
     </div> 
    </div>
</div>

<nav class="navbar navbar-teal">
  <div class="container-fluid">
    <div class="navbar-header">
         <% if signed_in? %>
        <span id="user_name" style="display:none"> <%= t('welcome') %>: <span style="text-transform: uppercase;"><%= current_user.username %></span> <br> <%= t('current_user_balance') %>: <span style="text-transform: uppercase;"><%= current_user.balance %> DB </span> <br> Saldo de regalo: <span style="text-transform: uppercase;"> <%= current_user.gift_credit %> DB</span> </span> 
        <% end %>
      <button  type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       <i style="margin-left:3px;" class="fa fa-bars"></i> 
      </button>
     
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
         <% if signed_in? %>
   
      <ul id="menu" class="nav navbar-nav metismenu">
        
         <li><a href="/users/tickets_history"> <%= t('purchased_ticket_history') %> </a></li>
         <!--<li><a href="/games/games_by_category"> <%= t('category_lotteries') %> </a> </li> -->
          <li><a href="/partials/credit_card_form"> <%= t('buy_credit') %> </a> </li>
          <li><a href="/partials/history"> <%= t('history') %> </a> </li>
          <li><a href="/partials/checkout"> <%= t('checkout') %> </a> </li>
		  <li><a href="/partials/invite">Invitar Amigos</a>  </li>
          <li id="log_out_mov" style="display:none;"><%= link_to destroy_user_session_path, :method => :delete, :style => "color:white" do %>
           <h4> <i class="fa fa-sign-out"></i><%= t('logout') %> </h4>
          <% end %></li>
         
        
         
      </ul>
        <% else %>
         <!-- START Language list-->
       
                       
                        <!-- END Language list    -->
        <% end %>
        
      <ul class="nav navbar-nav navbar-right">
           <li>
                 <div class="" >
                            <div class="btn-group i18n">
                                <button type="button" data-toggle="dropdown" class="btn btn-primary">
                                    <%= image_tag "#{I18n.locale}-icon.png" ,:style => "width:30px" %>
                                </button>
                                <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                                    <li id="es">
                                    <%= link_to "/language/i18n/es", :style => 'color:black' do %>
                                        <%= image_tag "es-icon.png", :style => "width:30px" %> <%= t('language_es') %>
                                        <% end %>
                                    </li>
                                    <!--<li id="en">
                                        <#%= link_to "/language/i18n/en", :style => 'color:black' do %>
                                          <#%= image_tag "en-icon.png", :style => "width:30px" %>  <#%= t('language_en') %>
                                        <#% end %>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
   
$( document ).ready(function() {

     var current_language = $("#current_language").val();
    
function update() {
    var date = new Date();
  $('#clock').html(moment(date,'',current_language).format('D MMMM YYYY h:mm:ss a'));
}

setInterval(update, 1000);
    
});
</script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/570595f322b83c4b6a628a8a/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

 <% if signed_in? %>

<script>
    $("#es").click(function(){
        $.ajax({
          method: "Put",
            dataType: "json",
            url: "/users/"+<%= current_user.id %>+"",
           data: { user: {language: "es"} }
        })
          .done(function( msg ) {
         });
    })
        
          $("#en").click(function(){
        $.ajax({
          method: "Put",
            dataType: "json",
            url: "/users/"+<%= current_user.id %>+"",
           data: { user: {language: "en"} }
        })
          .done(function( msg ) {
         });
    })
</script>

<% end %>
