<div class="row" id="banner">
 <div style="margin-left:10%; margin-right:10%; height:80px;">
    <div class="col-md-6 col-xs-12"> <img id="logo-image" src="/assets/logo_donbillete.png"></div>
    <div class="col-md-6" id="responsive-cellphone" style="margin-top:1%">
           <% if signed_in? %>
             <%=link_to current_user do %>
        <div class="col-md-4"></div>
        <div class="col-md-8 col-xs-12 hide-phone">
            <% if current_user.photo.present? %>
            <div class="col-md-2">
                     <h4><img id="user_image" class="pull-right" width="80px" height="80px" style="border-radius:150px; border:2px solid #E4007D" src="<%= current_user.photo %>"></h4>
            </div>
            <% end %>
            <div class="col-md-10" style="margin-top:5%;background-color: rgb(171, 0, 92); color: white;">
                     <h4> <%= t('welcome') %>: <span style="text-transform: uppercase;"><%= current_user.username %></span> </h4>
            <h4 id="current_bal"> <%= t('current_user_balance') %>: <span style="text-transform: uppercase;">$<%= current_user.balance %></span></h4>  
            </div>
   
        </div>
             <% end %> 
        <% else %>
        <div class="row">
            
        </div>
        <% end %>
     </div> 
    </div>
</div>

<nav class="navbar navbar-teal">
  <div class="container-fluid">
    <div class="navbar-header">
         <% if signed_in? %>
        <span id="user_name" style="display:none"> <%= t('welcome') %>: <span style="text-transform: uppercase;"><%= current_user.username %></span> <br> <%= t('current_user_balance') %>: <span style="text-transform: uppercase;">$<%= current_user.balance %>  </span> </span> 
        <% end %>
      <button  type="button" class="navbar-toggle" style="margin-left:4px" data-toggle="collapse" data-target="#myNavbar">
       <i style="margin-left:7px;" class="fa fa-bars"></i> 
      </button>
      <a class="navbar-brand" href="/">DonBillete</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
         <% if signed_in? %>
   
      <ul id="menu" class="nav navbar-nav metismenu">
        
         <li><a href="/users/tickets_history"> Ver historial de boletos comprados </a></li>
         <li><a href="/games/games_by_category"> Loterias por categoria </a> </li>
         <li><a> Ver lista de Juegos Programados </a> </li>
         <li><a> Comprar Credito </a> </li>
        
         
      </ul>
        <% end %>
      <ul class="nav navbar-nav navbar-right">
           <li>
                   <% if signed_in? %>
          <%= link_to destroy_user_session_path, :method => :delete do %>
            <i class="fa fa-sign-out"></i>Cerrar sesión
          <% end %>
               <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>