<div class="row" id="banner">
 <div style="margin-left:10%; margin-right:10%; height:80px;">
    <div class="col-md-6"> <img id="logo-image" src="/assets/no-logo.png"></div>
    <div class="col-md-6" id="responsive-cellphone" style="margin-top:2%">
           <% if signed_in? %>
             <%=link_to current_user do %>
        <div class="col-md-4"></div>
        <div class="col-md-8 col-xs-12">
            <div class="col-md-4">
                     <h4><img id="user_image" class="pull-right" width="80px" height="80px" style="border-radius:150px; border:2px solid #E4007D" src="<%= current_user.photo %>"></h4>
            </div>
            <div class="col-md-8" style="margin-top:5%;background-color: rgba(171, 0, 92, 0.26); color: white;">
                     <h4> <%= t('welcome') %>: <span style="text-transform: uppercase;"><%= current_user.username %></span> </h4>
            <h4 id="current_bal"> <%= t('current_user_balance') %>: <span style="text-transform: uppercase;">$<%= current_user.balance %></span></h4>  
            </div>
   
        </div>
             <% end %> 
        <% else %>
        <div class="row">
            <h2> Registrate para acceder a nuestras loterias </h2>
        </div>
        <% end %>
     </div> 
    </div>
</div>

<nav class="navbar navbar-teal">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" style="" data-toggle="collapse" data-target="#myNavbar">
       <i class="fa fa-bars"></i> 
      </button>
      <a class="navbar-brand" href="/">DonBillete</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
         <% if signed_in? %>
   
      <ul id="menu" class="nav navbar-nav metismenu">
        
         <li><a> Ver Loterias activas </a> </li>
         <li><a> Ver Resultados De loterias </a> </li>
         <li><a> Ver lista de Juegos Programados </a> </li>
         <li><a> Comprar Credito </a> </li>
        
         
      </ul>
        <% end %>
      <ul class="nav navbar-nav navbar-right">
           <li>
                   <% if signed_in? %>
          <%= link_to destroy_user_session_path, :method => :delete do %>
            <i class="fa fa-sign-out"></i>Cerrar sesión
          <% end %>
               <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>