<div class="row" id="banner">
 <div style="margin-left:10%; margin-right:10%; height:80px;">
    <div class="col-md-6 col-xs-12"> <img id="logo-image" src="/assets/logo_donbillete.png"></div>
    <div class="col-md-6" id="responsive-cellphone" style="margin-top:1%">
           <% if signed_in? %>
             <%=link_to current_user do %>
        <div class="col-md-2">
        </div>
        <div class="col-md-8 col-xs-12 hide-phone">
            <% if current_user.photo.present? %>
            <div class="col-md-2">
                     <h4><img id="user_image" class="pull-right" width="80px" height="80px" style="border-radius:150px; border:2px solid #E4007D" src="<%= current_user.photo %>"></h4>
            </div>
            <% end %>
            <div class="col-md-10" style="margin-top:5%;background-color: rgb(171, 0, 92); color: white;">
                     <h4> <%= t('welcome') %>: <span style="text-transform: uppercase;"><%= current_user.username %></span> </h4>
            <h4 id="current_bal"> <%= t('current_user_balance') %>: <span style="text-transform: uppercase;">$<%= current_user.balance %></span></h4>  
            </div>
   
        </div>
             <% end %> 
        <% else %>
        <div class="row">
            
        </div>
        <% end %>
        
        <% if signed_in? %>
        <div class="col-md-2">
        <!-- START Language list-->
                        <div class="" style="margin-top:30%">
                            <div class="btn-group i18n">
                                <button type="button" data-toggle="dropdown" class="btn btn-primary">
                                    <%= image_tag "#{I18n.locale}-icon.png" ,:style => "width:30px" %> <%= t("language_#{I18n.locale}") %>
                                </button>
                                <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                                    <li>
                                        <%= link_to "/users/i18n/es" do %>
                                        <%= image_tag "es-icon.png", :style => "width:30px" %> <%= t("language_es") %>
                                        <% end %>
                                    </li>
                                    <li>
                                        <%= link_to "/users/i18n/en" do %>
                                          <%= image_tag "en-icon.png", :style => "width:30px" %> <%= t("language_en") %>
                                        <% end %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- END Language list    -->
            <% end %>
        </div>
        
     </div> 
    </div>
</div>

<nav class="navbar navbar-teal">
  <div class="container-fluid">
    <div class="navbar-header">
         <% if signed_in? %>
        <span id="user_name" style="display:none"> <%= t('welcome') %>: <span style="text-transform: uppercase;"><%= current_user.username %></span> <br> <%= t('current_user_balance') %>: <span style="text-transform: uppercase;">$<%= current_user.balance %>  </span> </span> 
        <% end %>
      <button  type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       <i style="margin-left:3px;" class="fa fa-bars"></i> 
      </button>
      <a class="navbar-brand" href="/">DonBillete</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
         <% if signed_in? %>
   
      <ul id="menu" class="nav navbar-nav metismenu">
        
         <li><a href="/users/tickets_history"> <%= t('purchased_ticket_history') %> </a></li>
         <li><a href="/games/games_by_category"> <%= t('category_lotteries') %> </a> </li>
         <li><a> <%= t('program_games') %> </a> </li>
          <li><a> <%= t('buy_credit') %> </a> </li>
        
         
      </ul>
        <% end %>
      <ul class="nav navbar-nav navbar-right">
           <li>
                   <% if signed_in? %>
          <%= link_to destroy_user_session_path, :method => :delete do %>
            <i class="fa fa-sign-out"></i><%= t('logout') %>
          <% end %>
               <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>