<!-- begin row -->
<div class="row">
  <!-- begin col-md-12 -->
  <div class="col-md-12">
    <div class="invoice">
      <div class="invoice-content">
        <div class="table-responsive">
          <table class="table table-invoice">
            <thead>
              <tr>
                <td colspan="2">
                  <h4><%= t("details_of", model: t("activerecord.models.survivor_game").downcase) %></h4>
                </td>
              </tr>
            </thead>
            <tbody>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.survivor_game.team") %>: <br />
                    <small><%= @survivor_game.team.name %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.survivor_game.team2") %>: <br />
                    <small><%= Team.find(@survivor_game.team2_id).name %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.survivor_game.handicap") %>: <br />
                    <small><%= @survivor_game.handicap %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.survivor_game.plus_handicap") %>: <br />
                    <small><%= @survivor_game.plus_handicap %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.survivor_game.description") %>: <br />
                    <small><%= @survivor_game.description %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.survivor_game.game_date") %>: <br />
                    <small><%= @survivor_game.game_date %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.survivor_game.winner_team") %>: <br />
                    <small><%= @survivor_game.winner_team %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.survivor_game.survivor_week_game") %>: <br />
                    <small><%= @survivor_game.survivor_week_game.select_display %></small>
                  </td>
                </tr>
                              <tr>
                  <td>
                    <%= t("activerecord.attributes.survivor_game.created_at") %>: <br />
                    <small><%= I18n.l(@survivor_game.created_at, :format => :long) %></small>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="invoice-footer text-muted"></div>
    </div>
  </div>
  <!-- end col-md-12 -->
</div>
<!-- end row -->

<!-- begin row -->
<div class="row">
  <div class="col-md-12">
    <% if can? :edit, @survivor_game %>
      <%= link_to edit_survivor_game_path(@survivor_game), :class => "btn btn-default" do %>
        <i class="icon-pencil"></i>
        <%= t("actions.edit") %>
      <% end %>
    <% end %>
    <% if can? :delete, @survivor_game %>
      <%= link_to @survivor_game, method: :delete, data: { confirm: t("are_you_sure?", model: t("activerecord.models.survivor_game").downcase) }, :class => "btn btn-danger" do %>
        <i class="icon-trash"></i>
        <%= t("actions.delete") %>
      <% end %>
    <% end %>
    <% if can? :index, SurvivorGame  %>
      <%= link_to survivor_games_path, :class => "btn btn-default" do %>
        <i class="icon-chevron-left"></i>
        <%= t("actions.back") %>
      <% end %>
    <% end %>
  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->
